[2021-11-24 05:20] AronNovak commented on #4
This is a stability issue, also documented in the README, we will take a look on how to improve it.
https://github.com/TIP-Global-Health/eheza-app/blob/develop/README.md#gitpod-first-steps

[2021-11-24 08:12] anvmn opened #4 "Spelling on Contact Tracing activity [0.5h]"
Clone of https://github.com/Gizra/ihangane/issues/2867

### Issue

<img width="541" alt="Screenshot 2021-11-19 at 14 06 34" src="https://user-images.githubusercontent.com/34378755/142628689-988cb01d-6a46-430b-82b3-7c9e8969b051.png">

### To Do

- Change to `Contact Tracing`

[2021-11-24 10:02] AronNovak opened #10 "Improve Elm installation on Gitpod [8h]"
Issue

Gitpod is great for reviewing PRs, and for folks interested in eheza to experiment with it, without having to install anything locally.
When spinning a Gitpod, Elm packages are not installed properly all the time, as documented in the README.

Task

- [x] Try to determine what is the root cause for the download errors
- [x]  Install elm (npm install elm@latest-0.19.1) and elm-format globall

[2021-11-24 12:36] anvmn opened #13 "Redesign Calendar Widget [8h]"
### Issue

On click, popup should appear:

![image](https://user-images.githubusercontent.com/34378755/145789719-c7cdf01b-7d71-4098-9f32-68dd408f8823.png)

[2021-11-27 13:29] AronNovak commented on #10
Just contacted Gitpod support if we can open two previews.
Only the last opened preview remains visible.

[2021-11-29 09:00] #10 closed, assigned to AronNovak

[2021-11-30 17:56] jeanette-pelizzon opened #65 "ANC - Health Center - Case Management [8h]"
## Issue

Due to the fact that the laboratory needs to process the lab samples before results are given to the patient, E-Heza needs a way for the nurse at the Health Center to enter lab results for a patient outside of their initial encounter. To do so, the nurse will go into case management and click on a "Lab Results" tab. This will display the name of the patient, the status of the results, th

[2021-11-30 19:08] jeanette-pelizzon opened #84 "ANC - Health Center - Lab Results on Progress Report [6h]"
## Issue

To accommodate the changes made in the ANC flow at the Health Center level and to better integrate CHW's and Nurses, we have made some changes to the ANC progress report.

Shows the date the lab was run and the result. If a result is not yet submitted through case management, a label with "pending" should appear.

**If a test is run multiple times, we need to show all historical results.

[2021-12-01 08:59] isapisa commented on #84
@jeanette-pelizzon the progress report shows the photos at the bottom whereas now it's still part of the patient progress. Should we change that as well?

[2021-12-01 10:56] anvmn commented on #65
@isapisa

What logic would that be? I need a list of possible labels and conditions for each one.

[2021-12-01 12:24] isapisa commented on #65
@jeanette-pelizzon

I had suggested `Pending` and `Complete` in the issue above, but since this is the case management, I assume we don't actually need `Complete` (if nothing is to be entered, then it wouldn't show for nurses).

Are there any other possible labels?

Also, what do you think about this definition?

`Pending = Any results not entered from an ANC encounter > Labs activity`

[2021-12-01 15:19] jeanette-pelizzon commented on #65
The only label for this would be "Pending."  If it is complete, it won't appear in case management. They will stay as pending until completed or baby is born - whatever happens first. (hopefully the labs happen first though!)

Definition is more or less correct - It would be any test that has been run but has not yet had results input into E-Heza.

[2021-12-01 15:25] jeanette-pelizzon commented on #84
@isapisa yes, sorry the photos should be at the bottom. The order in that screenshot is correct in case I forgot any other changes.

[2021-12-01 15:26] isapisa commented on #65
@jeanette-pelizzon

`Pending = Any test that has been run at Labs activity but results not entered. Stay as pending until completed or baby is born`

[2021-12-01 16:03] isapisa commented on #84
@jeanette-pelizzon Ok, made it a part of the issue.
leaving you assign cause you mentioned other clarifications needed still.

[2021-12-01 17:45] anvmn commented on #65
@isapisa

I don't think this definition can work.
Take a case where for whatever reason one of lab results is not entered.
This will keep the entry at case management.
On next visit of that person, there will be another entry, which will cause confusion.
At issue description it's said that results will be submitted on same day, or the day after.
I suggest we set some kind of limit. For example, we

[2021-12-02 09:29] isapisa commented on #65
@anvmn

alternatively, we should keep showing the lab results that are pending for all those that are not recurring in the next encounter.

For example, referencing the [labs logic](https://github.com/Gizra/ihangane/issues/2820), `Syphilis` test is taken at the first encounter and then again at 38 weeks.
If the results are not entered after the first encounter, we should keep showing it until the

[2021-12-02 09:39] anvmn commented on #65
@isapisa

My guess is that whatever is not entered withing first few days is lost, and will not be filled, ever.
I think it's for @adamhstewart and Wendy to decide.

[2021-12-02 10:05] isapisa commented on #65
@jeanette-pelizzon @adamhstewart one to take up at your next clarification meeting please ^^

[2021-12-03 09:48] #4 closed, assigned to nobody

[2021-12-06 20:13] jeanette-pelizzon commented on #65
Talked this through with Wendy and Adam today in our meeting. Past results will remain until they are input, the child is born, or they saw why they were not input.

Results will group together. For example, Hemoglobin is run every visit. If it is ordered and the results are never input through case management, the results will remain in case management. The next hemoglobin test that is run will a

[2021-12-06 20:42] jeanette-pelizzon commented on #84
Update to the clarifications needed:

- the dots will not be implemented right now
- historical lab data will be implemented similar to how we did the acute illness history in the SPV progress report.

The lab results section of the progress report will be updated to look like this:
<img width="224" alt="Screen Shot 2021-12-06 at 3 38 18 PM" src="https://user-images.githubusercontent.com/77505464/

[2021-12-07 09:38] isapisa commented on #84
@jeanette-pelizzon can you please create a separate issue for the individual lab results screen?

[2021-12-08 05:32] leowea commented on #65
@jeanette-pelizzon @isapisa These are looking great! If it were in the US, 'prior draw' would make perfect sense. I'm not sure that this is typical language in Rwanda. Could it say 'prior test'? Otherwise it looks great!

[2021-12-08 21:15] jeanette-pelizzon commented on #65
Per the conversation today, we are going to hold off on making this change.

We will keep the flow for case management the same as it is currently. After 14 days, a test that has not had results recorded will automatically close.

Labels on the case management screen are changing:

- 0 - 7 days from the time of the encounter - pending tab in yellow
- 7 - 14 days from the time of the encounter - cl

[2021-12-08 21:22] jeanette-pelizzon opened #83 "ANC Progress Report - Lab History [5h]"
## Issue

Related: https://github.com/Gizra/ihangane/issues/2886

The lab section of the ANC progress report will allow a nurse or CHW to see historical lab data. It will be similar to the SVP progress report where we click out into more detail for Acute Illness history.

Arrows next to each test will allow a nurse or CHW to see all past results for that specific test | Once an arrow is clicked, t

[2021-12-08 21:56] leowea commented on #65
@jeanette-pelizzon looks great.

[2021-12-09 09:22] anvmn commented on #83
@jeanette-pelizzon

Seems to me that it should show, but not record.
Recording is done from Case management.

[2021-12-09 12:16] isapisa commented on #83
updated the issue as this is for Lab History only.

[2021-12-09 12:20] isapisa commented on #65
@anvmn updated the main issue

[2021-12-16 13:14] adamhstewart opened #46 "This is a test issue"
An issue: Gizra/ihangane#2894

A local PR: Gizra/ihangane#1307

A remote PR: https://github.com/TIP-Global-Health/eheza-documentation/pull/10

[2021-12-16 13:18] #46 closed, assigned to nobody

[2021-12-17 17:14] adamhstewart opened #50 "Feature: ANC Labs - Health Center"
## Feature Description
This feature supports laboratory tests which are given (samples taken) at a health center a t various points in a pregnancy according to protocol. Results are returned either immediately, same day, or soon after. This activities (Labs) and set of sub activities (each administered test) is part of the larger ANC Module for Health Centers.

Lab tests include:
- HIV
- Syphilis

[2021-12-21 23:55] jeanette-pelizzon opened #71 "Feature: Patient Record"
## Feature Description

This feature allows healthcare professionals to easily access patient progress reports and records without having to begin an encounter to do so. From the main patient screen, a healthcare professional will easily be able to select which progress report they would like to view, as well as the information for any related children to an adult.

Progress reports supported:
- A

[2021-12-22 00:09] jeanette-pelizzon opened #72 "Patient Record - Entry Screen [2h]"
## Issue

Users need a way to easily access patient records without starting an encounter. To do this, we are adding a way for users to access patient records through the patient directory.

Users will enter the patient directory from the E-Heza home screen, they will type in the name of the patient they would like to view, next to the patient's name a records icon will appear, they will tap that

[2021-12-22 00:32] jeanette-pelizzon opened #73 "Patient Record - Adult Acute Illness - General Overview of Flow"
## Issue

After clicking the patient record icon in the patient directory, a user will be taken to this screen if their patient is an adult. It defaults to Acute Illness because of alphabetical order. If the patient is female, they will see antenatal and demographic tabs as well. If the patient is male, they will only see the acute illness tab (@adamhstewart can you confirm we don't do demographic

[2021-12-22 00:42] jeanette-pelizzon opened #74 "Patient Record - Antenatal - General Overview of Flow"
## Issue

Start with issue #73 for more context on overall screen design. If a patient is female and within the correct age parameters, the antenatal option will appear for her. A user can toggle to the Antenatal section via the tabs at the top of the patient record screen.

They will be taken to an overview screen where they will see all past (concluded) pregnancies and active pregnancies.

![ANC

[2021-12-22 01:01] jeanette-pelizzon opened #75 "Patient Record - Pediatric Records [1h]"
## Issue

A pediatric record can be reached by searching a pediatric patient directly in the patient record OR through the patient's mother/caregiver's record.

Pediatric patients only have one record that encompasses their acute illness history, standard pediatric visit metrics, and nutrition history. Because of this, there are no tabs at the top for pediatric patients. The Standard Pediatric Vis

[2021-12-22 01:07] jeanette-pelizzon opened #76 "Patient Record - Begin an Encounter [4h]"
## Issue

A unique feature to the patient record screens, is the "Start an Encounter" button at the bottom of each screen. Instead of having to back of out the Patient Record flow, and click through a bunch more screens to begin an encounter with a specific patient, a user can click this button. They will be taken to a screen where they can select the relevant encounters for this patient.

Adults:

[2021-12-22 01:43] jeanette-pelizzon opened #77 "Patient Record - Demographic Report [3h]"
## Issue

For adult female patients, demographic information is available. This is basically their general information. For the patient record, we have altered the design of the demographic report to be more in line with the other progress reports. There are no more floating backgrounds and greyed-out backgrounds. The overall feel is cleaner and more in line with other aspects of the app that have

[2021-12-22 12:34] anvmn opened #82 "ANC Labs - bind new design for Calendar Widget [2h]"
After https://github.com/TIP-Global-Health/eheza-app/pull/14 is merged

[2021-12-22 12:35] anvmn commented on #82
FYI @adamhstewart.

Maybe this issue needs to be cloned to public repo?

[2021-12-22 21:11] jeanette-pelizzon commented on #71
Quick video walkthrough can be found [here](https://www.loom.com/share/383f6a1aa4ba441d94e1ee3ca0126fde)

[2021-12-27 20:10] anvmn commented on #65
@LudmilaGoichman
Please test on Nutrition env.

[2021-12-30 08:33] anvmn commented on #84
@LudmilaGoichman please test on Nutrition env

[2021-12-30 08:34] anvmn commented on #83
@LudmilaGoichman please test on Nutrition env

[2021-12-30 08:34] anvmn commented on #82
@LudmilaGoichman please test on Nutrition env

[2021-12-31 13:04] isapisa commented on #71
@jeanette-pelizzon

some immediate questions/comments that pop up:
- Is there is a differentiation between "closed" and "open" records on the individual reports page?
- https://github.com/TIP-Global-Health/eheza-app/issues/73 should be 4 issues:
  1. Listing children
  1. Overview page (resolved, ongoing)
  1. Display individual report
  1. Begin an encounter (I see this is already a [separate iss

[2022-01-04 16:46] adamhstewart commented on #82
@anvmn Calendar looks great - there seems to be an issue with the default date (at least in the pregnancy dating where I started). It seems there is no default, and therefore a user can select 2021 Jan (indeed seems forced into it even if they do select 2022).

https://www.loom.com/share/b3dad534243a41c79533345c5ed5574f

In every case we should start the user with some default position in the cale

[2022-01-04 16:51] adamhstewart commented on #82
^^ amend comment above - not "every" case some cases we have no default so an empty field is OK.

But, still there's an issue for 2021 - Here (while registering a new patient, birth date field)  I select 2021 and only get 1-4 available (as if it were 2022)

![image](https://user-images.githubusercontent.com/688507/148094340-1c120cbe-084b-430f-8718-f55496867d81.png)

[2022-01-04 17:34] adamhstewart commented on #82
## Final Review -  Issues found

1. There is a bug where if you select the year 2022, 2021 is populated in the box and the dates are limited to the past dates in January, as shown above

2. There is an additional feature requirement for the following instances of the calendar - we want a "default position" for the calendar widget (different than a default date, because we don;t want to prefill a d

[2022-01-06 01:01] jeanette-pelizzon opened #88 "Patient Record - Navigation [2h]"
## Issue

There are several navigation options in patient record.

**To go back to the previous screen**, a user will tap the arrow in the top left corner of the screen, as is consistent with the rest of the app.

**Toggling between report types** Each user has the potential to have several different progress report types. These report types are labeled at the top and the interaction is the same a

[2022-01-06 01:11] jeanette-pelizzon opened #89 "Patient Record - Adult Patient - Listing Children & Pediatric Reports [4h]"
## Issue

To enhance the user experience on E-Heza, we want to nest children of a parent/caregiver in their patient record. This interface will appear similar to group encounters, as shown below:

<img width="485" alt="Screen Shot 2022-01-05 at 8 09 31 PM" src="https://user-images.githubusercontent.com/77505464/148311930-ea062523-4964-4718-ad17-ecc47195afaa.png">

## Note:

Children will still be

[2022-01-06 19:37] LudmilaGoichman commented on #65
@anvmn @jeanette-pelizzon

- Nutrition env
- tablet

### Question:
1. >@ day 15 close the encounter - it will be marked on the progress report as a missing result

Should the test appear again on the subsequent encounter in this case ? Test for Syphilis-RPR with missing result doesn't appear in subsequent encounter.

<img width="367" alt="Screenshots_-_Google_Drive" src="https://user-images.github

[2022-01-06 20:58] jeanette-pelizzon opened #91 "Patient Record - ANC Progress Report Design Changes [4h]"
## Issue [Updated]

To keep all the progress report consistent in look and feel some minor design changes have been made to the ANC progress report. These changes should be made across all ANC progress reports in the app.

Changes include:
- Updated the heading section to be consistent with other progress reports
- Compressed the floating boxes to touching
- Moved photos to the bottom ( #101 )

Se

[2022-01-06 21:24] jeanette-pelizzon opened #92 "Patient Record - Header [3h]"
## Issue

For patient records, we want to present the user with any and all relevant information associated with a patient.

We are presenting:

- photo of patient
- age
- date of birth
- ubudehe
- level of education
- Baby # and Name of Child (if applicable)
  - sort by oldest child

![Selection_457](https://user-images.githubusercontent.com/17882245/150671894-9a35217f-309b-4d06-a97d-96d602f2e646

[2022-01-06 21:58] jeanette-pelizzon opened #93 "Patient Record - Acute Illness - Overview Screen [2h]"
## Issue

Adult patients will have an overview screen on their patient record that mimics case management. At the top, there will be a tab for each of the potential report types that the patient has. For example, an adult female patient will have tabs for Acute Illness, Antenatal, and Demographics.

Below the tab for Acute Illness will be a list of all the patient's past and ongoing acute illness

[2022-01-06 22:06] jeanette-pelizzon opened #94 "Patient Record - Acute Illness - Individual Progress Report [3h]"
## Issue [UPDATED]

When a user goes to the overview screen they will be able to select a report to view from a list of resolved and ongoing acute illness progress reports. When they click on the arrow they will be taken to **a new page** that shows that particular progress report screen.  This mimics the behavior that we introduced in the Standard Pediatric Progress report. There have been no des

[2022-01-06 22:16] jeanette-pelizzon opened #95 "Patient Record - Acute Illness - Begin Encounter [4h]"
## Issue

You will be able to immediately enter into an Acute Illness encounter for the selected patient from the patient record in two different ways.

(1) At the bottom of the overview screen, there is a button that will say "Begin Encounter" and this will take you to a screen where the user can select which type of encounter to begin for the patient. Only the relevant encounter types will popul

[2022-01-06 22:18] jeanette-pelizzon opened #96 "Patient Record - Begin Encounter - Antenatal [3h]"
## Issue

You will be able to immediately enter into an antenatal encounter for the selected patient from the patient record in two different ways.

(1) At the bottom of the overview screen, there is a button that will say "Begin Encounter" and this will take you to a screen where the user can select which type of encounter to begin for the patient. Only the relevant encounter types will populate.

[2022-01-06 22:22] jeanette-pelizzon opened #97 "Patient Record - Pediatric - Begin Encounter [2h]"
## Issue

Unlike adults, who have multiple types of report tabs under their patient record, children only have one report and it populates directly on the patient record screen.

The button to enter an encounter will appear at the bottom of the only pediatric screen.

Pediatric patients have different types of encounters available them. The user can enter into an Acute Illness, Nutrition, or Stand

[2022-01-07 09:37] isapisa commented on #91
@jeanette-pelizzon the patient header information for Patient Record is different to individual progress reports within modules:

Patient Record | AI Report example
--|--
<img width="777" alt="Screenshot 2022-01-07 at 10 36 05" src="https://user-images.githubusercontent.com/34378755/148523906-68d3a17f-a616-497d-bdb6-4ba36819b3d8.png"> | <img width="491" alt="Screenshot 2022-01-07 at 10 36 34" src=

[2022-01-07 09:43] isapisa commented on #92
@jeanette-pelizzon see also https://github.com/TIP-Global-Health/eheza-app/issues/91#issuecomment-1007265697

[2022-01-07 10:01] isapisa commented on #95
duplicate of https://github.com/TIP-Global-Health/eheza-app/issues/76

[2022-01-07 10:01] #95 closed, assigned to nobody

[2022-01-07 10:01] isapisa commented on #96
duplicate of https://github.com/TIP-Global-Health/eheza-app/issues/76

[2022-01-07 10:01] #96 closed, assigned to nobody

[2022-01-07 19:21] jeanette-pelizzon opened #98 "Patient Record - Antenatal - Overview Screen [12h]"
## Issue

Adult patients will have an overview screen on their patient record that mimics case management. At the top, there will be a tab for each of the potential report types that the patient has. For example, an adult female patient will have tabs for Acute Illness, Antenatal, and Demographics.

Below the tab for Antenatal Care will be a list of all the patient's past and ongoing antenatal pro

[2022-01-09 12:00] LudmilaGoichman commented on #84
@anvmn @jeanette-pelizzon

- Nutrition env
- tablet

### Found Issues/Questions:
1. from https://github.com/TIP-Global-Health/eheza-app/issues/84#issuecomment-983751153:

But the photos are still displayed as part of the patient progress section. Example:
<img width="365" alt="Screenshots_-_Google_Drive" src="https://user-images.githubusercontent.com/35059802/148680789-84be5abe-dd9a-472f-a0ab-9c39

[2022-01-09 12:12] LudmilaGoichman commented on #83
@anvmn @jeanette-pelizzon

- Nutrition env
- tablet

### Checked and Approved
1. logic for displaying historic lab data on new screen has been created
2. Logic for missing result + label has been implemented
2. screen has been styled per design

Example:

- If the test is run multiple times, all historical results are shown
- the screen with historic lab data can be opened by clicking arrow in the

[2022-01-10 14:02] anvmn commented on #82
@adamhstewart
Issue 1 fixed at #99

[2022-01-10 20:03] jeanette-pelizzon commented on #84
1) Photos can stay as they are
2) The date that the lab was run so it is accurate as it is now.
3) Labels can stay as they are.

This is good to go for team acceptance.

// @LudmilaGoichman @anvmn @adamhstewart

[2022-01-10 20:41] jeanette-pelizzon opened #101 "ANC - Progress Report - Photo Section Moved to Botton"
## Issue

As we updated the design for the ANC progress report, we have moved the photos to the very bottom of the profile. Part of the reasoning behind this was to better incentivize CHW's/Nurses to go over the whole report with a mother.

Changes:
- Move photos to the bottom
- Labels at the bottom of the photos with # of weeks, # of days
- Font should be nunito, regular, size 18
- photos from ne

[2022-01-10 21:54] jeanette-pelizzon commented on #65
1) On day 15 after a test is run, if no result is put in e-heza, it will automatically say it's a missing result. If it is a test that is run again in the pregnancy, then it should reappear the next time it is required. If it is a test that is not required multiple times (Blood Group + Rhesus, Blood Sugar) then it should populate on the next visit after the 15 day period has happened.

This is wha

[2022-01-11 18:50] jeanette-pelizzon commented on #65
We aren't holding Acceptance Testing for this issue, but it does need to be resolved. @anvmn do you have any questions?

// @isapisa  @adamhstewart

[2022-01-11 19:03] jeanette-pelizzon opened #102 "Patient Record - Infrastructure [4h]"
## Issue

Patient Record is a new section in E-Heza. First, we need to create the section/pages to hold all the information for this new section.

## Tasks

- create frontend infrastructure for Patient Record

[2022-01-11 19:28] jeanette-pelizzon opened #103 "Patient Record - Report Origins [2h]"
## Issue

For all reports associated with a patient record, their origin must be updated so that the button at the bottom of the reports can start a new encounter.  If progress reports are being accessed within a module then the buttons should stay the same. We are only changing the button when it is being accessed from the patient record.

## Tasks
- Update origins for ANC, Antenatal, Demographic

[2022-01-11 19:56] jeanette-pelizzon commented on #91
@isapisa we made some changes to the overall flow of the patient record so the heading issue is resolved by that. No changes are being made to the ANC progress report heading at all now. Just removing padding and ensuring the photos are moved to the bottom.

[2022-01-16 08:20] anvmn commented on #65
@jeanette-pelizzon

Well, this is slightly different from what we have discussed.
The case is that there was a test performed, but it's results were not filled within 15 days.
This can happen for different reasons. For example, test may be faulty, or it was lost at the lab.
In these cases, we don't have a result to fill, so requrements ^^ are not implementable.

What should happen is a suggestion

[2022-01-16 08:36] anvmn commented on #102
@jeanette-pelizzon

Thanks. FYI, infrastructure for page is created on frontend.

[2022-01-19 09:49] anvmn opened #105 "Patient Record - Child [8h]"
Requirements

- Child patient record is simialr to Well child progress report.
- Can be accessed from 2 locations:

1. Participant directory:
![Selection_451](https://user-images.githubusercontent.com/17882245/150105863-14bad009-e0c8-4b54-aa07-c59cd4f514e9.png)

2. Child icon at patient record of mother:

![Selection_452](https://user-images.githubusercontent.com/17882245/150105969-f1577493-1b61-4

[2022-01-19 09:49] anvmn commented on #105
@jeanette-pelizzon FYI ^^

[2022-01-19 21:59] jeanette-pelizzon commented on #65
Let's discuss Monday in our meeting.

This is what should happen at the next visit if the test was previously run and the results were not input because the next time they will be back at the health center is for their next visit.

[2022-01-23 12:33] anvmn commented on #98
@jeanette-pelizzon @isapisa

This issue is very much underestimated:

1. This is a first time we need present summary of all pregnancies, so there's a need fot not only display, but also fetch required data.
2. So far, antenatal report was accessed only from encounter page. Extending this to additional origin is not a trivial task.
3. As we did with Acute Illness progress report, there're may be a

[2022-01-24 16:45] jeanette-pelizzon commented on #65
Discussed in our meeting 1/24:

(1) If result is not logged, the test will auto close at day 15.

(2) The result should be logged in the progress report as missing

(3) The test should reappear at the next visit, if it isn't already meant to happen at that visit.

[2022-01-24 16:47] jeanette-pelizzon commented on #77
@anvmn this is the issue for the demographic report styling

[2022-01-24 17:07] jeanette-pelizzon opened #110 "Patient Record - Demographics Report - Navigation [2h]"
## Issue

The demographics report will be accessed through the patient record via the tabs at the top. When the demographics report tab is clicked, it will take the user directly to the demographics report. The user can then click the back button to go back to the patient record overview screen.

Here is a video:
[https://www.loom.com/share/63caa7c213a54556bb86c73b80bacde3](url)

## Notes:
- demog

[2022-01-24 17:10] jeanette-pelizzon commented on #97
Per our meeting today, the begin encounter buttons will appear at the bottom of the adult patient record pages only (not on the individual reports). For children, it will appear at the bottom of the standard pediatric report.

[2022-01-26 15:22] adamhstewart commented on #82
@anvmn leaving a note here, but I'm going to re-address point 2 from QA above in #13 as it's broader than ANC Labs.

[2022-01-26 15:32] adamhstewart commented on #13
From https://github.com/TIP-Global-Health/eheza-app/issues/82#issuecomment-1005028464

@anvmn This is indeed a regression as we have a default position on the exiting calendar for these things.

[2022-01-26 15:33] adamhstewart commented on #13
@anvmn bump 2h or ping me if there are complexities.

[2022-01-26 20:35] jeanette-pelizzon opened #113 "ANC @ Health Centers - Medication - Mebendazole [3h]"
## Issue

We are updating ANC @ Health Center - Subsequent Visit - Medication Activity to fit clinical protocols.

While pregnant, a patient should receive one dose of Mebendazole (500mg). She must be over 24 weeks EGA. She must NOT have received this medication in the last 6 months.

Here is the updated design:
<img width="340" alt="Screen Shot 2022-01-26 at 3 37 53 PM" src="https://user-images.g

[2022-01-27 14:19] jeanette-pelizzon opened #116 "ANC @ Health Center - Labs - HIV Update"
## Issue

Based on feedback from the team, we are making changes to the HIV lab flow in ANC. We are adding in an additional question "Is this patient known to be HIV positive?" If yes, then the user will click save and it will update the progress report accordingly in the backend and they will move to the next test. If no, then the questions that we already have programmed will appear. I have upda

[2022-01-27 14:21] jeanette-pelizzon opened #117 "ANC @ Health Centers - Labs - Hep B Updated"
## Issue

Based on feedback from the team, we are making changes to the Hep B lab flow in ANC. We are adding in an additional question "Is this patient known to be Hep B positive?" If yes, then the user will click save and it will update the progress report accordingly in the backend and they will move to the next test. If no, then the questions that we already have programmed will appear. I have

[2022-01-27 18:31] jeanette-pelizzon opened #118 "ANC Progress Report - Lab Section Change [3h]"
## Issue

After feedback from the team, we are altering the lab section of the ANC progress report. The lab section will have a button that will take the user to a separate "pop out" screen that shows the lab results overview (how we have it currently just in a new screen alone). From there, the user can click on the blue arrow button to access the history of a particular lab (as it works now).

[

[2022-01-27 21:40] jeanette-pelizzon commented on #118
// @adamhstewart FYI

[2022-01-30 08:27] anvmn commented on #116
@jeanette-pelizzon

1. Don't understand this part: `If yes, then the user will click save and it will update the progress report accordingly in the backend`. Please elaborate how progress report needs to be updated.
2. HIV test is done at first encounter, and then at 38 weeks. If the answer is positive and we know patient got HIV, should we be showing HIV test activity again at 38 weeks?

[2022-01-31 20:26] jeanette-pelizzon opened #122 "Feature: ANC Logic"
## Feature Description

This feature supports diagnosis and next steps logic for ANC at Health Centers. This logic incorporates health protocols and allows for consistency of care.

## Overview of Next Steps Flow
Typically in E-Heza, the user goes through an encounter and a diagnosis can be made immediately. In the case of ANC @ Health Centers, the logic is more complex as some diagnosis require l

[2022-01-31 20:37] jeanette-pelizzon opened #123 "ANC Logic - Add Activity - Next Steps [2h]"
## Issue

Building upon what we have already created for ANC @ Health Centers, we will be adding a "Next Steps" activity to the main activity tray.

The activity will only appear when all other activities have been completed.

At the end of the "Next Steps" sub-activities, the user will be taken to the progress report.

Main Activity Icon:
<img width="126" alt="Screen Shot 2022-01-31 at 3 30 50 PM

[2022-01-31 20:52] jeanette-pelizzon opened #124 "ANC Logic - Diagnosis + Next Steps: HIV [12h]"
## Issue

First, read #165 regarding the updates to the HIV lab flow and the questions that were added to make these diagnoses.

If an HIV test is run, there will be next steps required.

Here is an [explainer video](https://www.loom.com/share/d6919a5512b04fd7b4aba912570b6d43).

All next steps have the same health education step after the diagnosis and before any medication distribution.

![Positi

[2022-01-31 20:59] jeanette-pelizzon commented on #116
1) the HIV status will need to be shown on the progress report. the logic for this should already exist as it happens at the CHW level as well.

2) Spoke with Wendy, if positive at first encounter then we do not need to show again at 38 weeks.

// @anvmn

[2022-02-01 07:54] anvmn commented on #116
@jeanette-pelizzon

From what I found, at Medical Diagnosis pane, we show the info we got from Medical History activity (taken at first encounter). If HIV question is answered Yes, we'll reflect it at the pane:

![Peek 2022-02-01 10-19](https://user-images.githubusercontent.com/17882245/151934341-5f11fa5e-b028-4b2c-a1a8-e384ed6b2e9a.gif)

It's not clear what change is required.
If it's only the 'Y

[2022-02-01 07:56] anvmn commented on #117
@jeanette-pelizzon

1. Description now says HIV. It should be Hepatitic B I assume.
2. Same as for HIV, if we know person is Hepotitis B positive, no need to show the activity at 38 weeks, correct?

[2022-02-01 12:52] anvmn commented on #13
@adamhstewart

Setting current date is not possible, because this would mean that test was run today, and in this case, we don't need to enter date at all. I'll update last date that is allowed, which is yesterday.

[2022-02-02 08:26] anvmn commented on #65
@LudmilaGoichman deployed to Nutrition environment.
Please test https://github.com/TIP-Global-Health/eheza-app/issues/65#issuecomment-1020303899

[2022-02-02 08:32] anvmn commented on #118
@LudmilaGoichman

All points fixed. Please test on Nutrition env.

[2022-02-02 13:59] anvmn commented on #124
@jeanette-pelizzon
How do we know that patients partner is positive?

[2022-02-02 16:24] LudmilaGoichman commented on #118
@jeanette-pelizzon

- Nutrition env
- tablet

### Questions/Found Issues:
1.  Photos still appear in the middle of the report instead of at the bottom as they do in the image in the issue description. It is correct?

| in the app (nurse)| in the app (CHW) | in the design |
---|---|---
<img width="363" alt="Screenshots_-_Google_Drive" src="https://user-images.githubusercontent.com/35059802/15218800

[2022-02-02 17:48] anvmn commented on #118
@LudmilaGoichman

This is part of #91, and not deployed yet.

@Diama1 is working on it, and it's still in progress.

[2022-02-02 18:10] anvmn opened #127 "Attendance page stuck on spinner when all group participants have graduated [4h]"
![Peek 2022-02-02 20-09](https://user-images.githubusercontent.com/17882245/152212531-2d5837f2-dde8-4114-91ef-63937c0c5951.gif)

[2022-02-02 18:12] anvmn commented on #127
After digging into this, found that root cause is at logic for generating data for editable session.
When we have participants (even when all of them have graduated), we expect the data to have at least one person loaded. However, in this case, there're none.

[2022-02-02 18:22] anvmn opened #128 "[Discovery] Propose a method for capturing an image of the progress report [8h]"
This is basically finding a way to convert html to image.
We have a complexity layer here, because HTML is generated by JS,
so we need to have JS complete HTML generation before we can proceed with
capturing image.

[2022-02-03 11:25] LudmilaGoichman commented on #65
@jeanette-pelizzon

- Nutrition env
- Tablet

### Checked and Approved:
1.  If result is not logged, the test auto closes at day 15

the first day | day 15 |
---|---
<img width="364" alt="Screenshots_-_Google_Drive" src="https://user-images.githubusercontent.com/35059802/152319570-b16d670b-cee3-41d5-88a8-31fe29f08b2c.png">|<img width="364" alt="Screenshots_-_Google_Drive" src="https://user-images.

[2022-02-04 13:31] anvmn commented on #128
@adamhstewart

Gave it another thought, and with our APP architecture, we need a JS libraray that can perform scrolling screenshot (as progres report is much larger that single screen to view).

Started with [dom-to-image](https://github.com/tsayen/dom-to-image) library.
Inout is a node we wish to take screenshot of (for full screenshot, it's `document.body`), clones that nodes DOM, then applies s

[2022-02-04 16:20] jeanette-pelizzon commented on #124
Ignore all ANC logic issues for now.  However, there is a question that is asked during the encounter about the partner.

[2022-02-04 16:21] jeanette-pelizzon commented on #117
1) Oops - I will fix

2) Yes. Thank you!

[2022-02-04 16:27] jeanette-pelizzon commented on #116
I will make the progress report changes a separate issue. I was just trying to explain the whole flow. Sorry for the confusion.

I don't understand this part of your question "If it's only the 'Yes' answer to added question, I don't understand why we don't do it if test is ran, and result is positive. "

[2022-02-06 12:06] anvmn commented on #128
Some code fore refferenece:

[code]

[2022-02-06 12:30] anvmn opened #130 "Deploy Patient record feature for testing [1h]"
Testing will be performed on Nutrition env

[2022-02-06 12:52] anvmn opened #131 "Drupal core upgrade to v7.87 [1h]"
We have 3 new core releases:

![Selection_474](https://user-images.githubusercontent.com/17882245/152681608-8e068fba-1369-4c2f-a668-8de53241a27c.png)

v7.86 is a security upgrade, so we need to perform it ASAP:

![Selection_475](https://user-images.githubusercontent.com/17882245/152681638-5a54906b-bdb0-4be4-8310-759e0bd5b644.png)

[2022-02-06 14:06] anvmn commented on #131
Core version updated on live:

![Selection_477](https://user-images.githubusercontent.com/17882245/152684706-294dc991-19c8-4065-82e4-9bc2765adbe9.png)

[2022-02-06 14:28] anvmn opened #133 "Slow loading of '/admin/content' view [8h]"
On live, it takes ~60 seconds to load the view, making it difficult to administer content.

[2022-02-06 14:31] anvmn commented on #133
New Relic analysis: 53.5 seconds transaction.
2 problematic queries - one runs for 30 seconds, and the other ~10 seconds, twice:

![Selection_478](https://user-images.githubusercontent.com/17882245/152685719-3cc1fa3e-b6ce-4750-92df-c7a76ffb679c.png)

[2022-02-06 14:33] anvmn commented on #133
First query:

[code]

![image](https://user-images.githubusercontent.com/17882245/152685774-b11da41b-eb34-4d47-98d6-e335d722aaf9.png)

[2022-02-06 14:34] anvmn commented on #133
Second query:

[code]

![Selection_480](https://user-images.githubusercontent.com/17882245/152685869-bb238705-a1e6-4e3c-97dd-cc7f7e62e670.png)

[2022-02-07 15:05] anvmn commented on #133
After some digging, per https://www.drupal.org/project/views/issues/1540908, seems that the cause of slowness is `select count(*)` query that is generated by pager.
It's needed to know total number of results view produces. The suggestion is to replace pager with `views_litepager`. It will be showing only next/previous options, and avoid problematic count query.

[2022-02-07 17:06] jeanette-pelizzon opened #136 "ANC Logic - Diagnosis and Next Steps: Malaria [12h]"
## Issue

If the patient's lab result for Malaria comes back POSITIVE there will be next steps. The next steps vary based on EGA as shown below (and outlined in the logic document). Note: the nurse will choose ONE course of action to move forward with.
**<= 14 Weeks EGA**
PopUp | Selection | Referral (if the referral option is selected)
--|--|--
<img width="262" alt="Screen Shot 2022-02-23 at 11 4

[2022-02-07 17:26] jeanette-pelizzon opened #137 "ANC Logic - Diagnosis and Next Steps: Hep B [12h]"
## Issue

If the patient's lab results have come back positive of Hepatitis B:

Diagnosis | Referral
--|--
<img width="248" alt="Screen Shot 2022-02-07 at 12 26 23 PM" src="https://user-images.githubusercontent.com/77505464/152840022-99c89fba-ccaa-45e7-b650-276acbaf4195.png"> | <img width="247" alt="Screen Shot 2022-02-07 at 12 27 08 PM" src="https://user-images.githubusercontent.com/77505464/1528

[2022-02-07 17:35] jeanette-pelizzon opened #138 "ANC Logic - Diagnosis and Next Steps: Anemia [12h]"
## Logic

During the encounter, the patient has their hemoglobin levels tested. If the hemoglobin levels are under a specific g/DL then it shows the patient has Anemia in general (severity is dependent on exact g/DL levels per logic doc). Anemia is also a side effect of having Malaria so we need to rule out a malaria diagnosis before treating for Anemia. If Negative for malaria and with low hemogl

[2022-02-07 20:34] jeanette-pelizzon opened #139 "ANC Logic - Diagnosis and Next Steps: (Pre)eclampsia [12h]"
## Issue

Preeclampsia and Eclampsia are serious conditions that are diagnosed through blood pressure and protein on the urine dipstick lab. This particular flow is unique because, in some cases, it does require the patient to return 2 hours later to retake their vitals before a diagnosis is confirmed.

**Mild to Moderate Preeclampsia**
_Return for Vital Check Flow_
Initial Diagnosis | Next Steps

[2022-02-07 21:15] jeanette-pelizzon opened #140 "ANC Logic - Diagnosis and Next Steps: Hypertension [12h]"
## Issue

Hypertension is a disease that is diagnosed through monitoring blood pressure. There are two types of hypertension:

- Gestational = under 20 weeks EGA
- Chronic = over 20 weeks EGA

The EGA is the only thing that affects whether it is gestational or chronic.

In this flow, the nurse will be able to check **one** of three options for treatment.

There are two flows for hypertension.

**R

[2022-02-07 22:41] jeanette-pelizzon opened #141 "ANC Logic - Diagnosis and Next Steps: Syphilis [12h]"
## Issue

Syphilis is diagnosed via a lab test.

If negative, repeat the test at 32 - 34 weeks EGA.

If positive, the patient will then go through a syphilis specific symptom review. That will determine if the medication they need and/or if they are to be sent to the hospital for further evaluation. This flow is different as we are allowing the nurse to select which medication and dosage they will

[2022-02-07 23:32] jeanette-pelizzon opened #142 "ANC Logic - Diagnosis and Next Steps: Miscarriage or Molar Pregnancy [6h]"
## Issue

When a patient meets the criteria for Miscarriage or Molar Pregnancy it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop Up | Next Steps
--|--
<img width="265" alt="Screen Shot 2022-02-07 at 6 28 46 PM" src="https://user-images.githubusercontent.com/77505464/152889551-0df4db4b-2c74-4959-b7f0-29f62abf

[2022-02-07 23:39] jeanette-pelizzon opened #143 "ANC Logic - Diagnosis and Next Steps: Placenta Previa - Placental Abruption - Uterine Rupture [6h]"
## Issue

When a patient meets the criteria for Placenta Previa, Placental Abruption, Uterine Rupture it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="255" alt="Screen Shot 2022-02-07 at 6 38 36 PM" src="https://user-images.githubusercontent.com/77505464/152890417-a43a22b0-47

[2022-02-07 23:42] jeanette-pelizzon opened #144 "ANC Logic - Diagnosis and Next Steps: Uterine Rupture - Obstructed Labor - Placental Abruption - Post-Abortion Sepsis [6h]"
## Issue

When a patient meets the criteria for Uterine Rupture, Obstructed Labor, Placental Abruption it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="321" alt="Screen Shot 2022-02-07 at 6 42 38 PM" src="https://user-images.githubusercontent.com/77505464/152890773-19f5463f-a

[2022-02-07 23:44] jeanette-pelizzon opened #145 "ANC Logic - Diagnosis and Next Steps: Post Abortion Sepsis [6h]"
## Issue

When a patient meets the criteria for Post-Abortion Sepsis it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="316" alt="Screen Shot 2022-02-07 at 6 44 39 PM" src="https://user-images.githubusercontent.com/77505464/152890939-4eb5e1da-f259-4602-a9ea-b38dea441443.png"> |

[2022-02-07 23:49] jeanette-pelizzon opened #146 "ANC Logic - Ectopic Pregnancy - Post-Abortion Sepsis [6h]"
## Issue

When a patient meets the criteria for Ectopic Pregnancy it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="322" alt="Screen Shot 2022-02-07 at 6 48 16 PM" src="https://user-images.githubusercontent.com/77505464/152891307-305a2da9-8638-4fac-9861-80e836d336f3.png"> | <i

[2022-02-08 00:44] jeanette-pelizzon opened #147 "ANC Logic - Infection (NOT DONE YET - NEEDS MORE INFO)"
## Issue

When a patient meets the criteria for Infection it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
any EGA + fever + RR > 30 OR  extreme weakness (danger signs)
--|--
<img width="319" alt="Screen Shot 2022-02-07 at 7 42 29 PM" src="https://user-images.githubusercontent.com/77505464/152

[2022-02-08 00:46] jeanette-pelizzon opened #148 "ANC Logic - Diagnosis and Next Steps: PROM [6h]"
## Issue

When a patient meets the criteria for Premature Rupture of Membranes (PROM) it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="281" alt="Screen Shot 2022-02-07 at 7 45 37 PM" src="https://user-images.githubusercontent.com/77505464/152896670-3bbb0c4d-e26b-409d-bf07-48c

[2022-02-08 00:50] jeanette-pelizzon opened #149 "ANC Logic - Diagnosis and Next Steps: PPROM [6h]"
## Issue

When a patient meets the criteria for Preterm Premature Rupture of Membranes (PPROM) - yes this is different than PROM - it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="281" alt="Screen Shot 2022-02-07 at 7 49 54 PM" src="https://user-images.githubusercontent.com/7

[2022-02-08 00:52] jeanette-pelizzon opened #150 "ANC Logic - Diagnosis and Next Steps: Hyperemesis Gravidum [6h]"
## Issue

When a patient meets the criteria for Hyperemesis Gravidum it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="278" alt="Screen Shot 2022-02-07 at 7 52 12 PM" src="https://user-images.githubusercontent.com/77505464/152897174-4cf2db63-5544-4864-a3f0-239e5586ee2a.png"> |

[2022-02-08 15:24] jeanette-pelizzon opened #151 "ANC Logic - Next Steps Flow"
## Issue

Typically in E-Heza, the user goes through an encounter and a diagnosis can be made immediately. In the case of ANC @ Health Centers, the logic is more complex as some diagnosis require lab results to be returned or a patient to come back after a set time to have their vitals rechecked before a diagnosis can be made.

**A user story may look like:**

Pregnant patient comes to the health

[2022-02-08 17:06] jeanette-pelizzon commented on #151
Ignore this issue. Information was added to the meta issue #122.

[2022-02-08 17:06] #151 closed, assigned to jeanette-pelizzon

[2022-02-08 17:42] jeanette-pelizzon opened #152 "ANC Logic - Next Steps Sub-Acitivities"
## Issue:
In the next steps activity for ANC @ Health Centers, there are four different sub-activities that could be triggered by a diagnosis.

Health Education | Medication Distribution | Referral | Wait
--|--|--|--
![Property 1=Done (2)](https://user-images.githubusercontent.com/77505464/153045223-72287be6-c74f-40ec-9bf3-edbfbaa23af6.jpg) | ![this](https://user-images.githubusercontent.com/77505

[2022-02-08 18:17] jeanette-pelizzon opened #153 "ANC Logic - Danger Signs Addition [1h]"
## Issue

In order to diagnose some issues in ANC @ Health Centers, we need to add some symptoms to the Danger Signs activity.

Here is the complete list of danger signs with the new additions highlighted in blue:
<img width="492" alt="Screen Shot 2022-02-08 at 1 08 08 PM" src="https://user-images.githubusercontent.com/77505464/153049166-d4827bdd-9e3f-4d97-800a-3a0bfa3399f8.png">

The design alrea

[2022-02-08 21:10] jeanette-pelizzon opened #154 "ANC Logic - ANC Progress Report Update [12h]"
## Issue
The issues that the app diagnosis need to populate on the progress report in the appropriate section. The different diagnoses, the wording that should appear on the progress report, and the section that it should appear on can be found on [Logic Master](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=2144570215) on the ANC Progress Report tab.

[2022-02-08 21:30] jeanette-pelizzon opened #155 "ANC Logic - Diagnosis and Next Steps: Labor + Delivery [6h]"
## Issue

When a patient meets the criteria for Labor + Delivery it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="313" alt="Screen Shot 2022-02-08 at 4 29 02 PM" src="https://user-images.githubusercontent.com/77505464/153078849-58e540dd-5c01-44c9-9d18-0c8c8f78b6a9.png"> | <im

[2022-02-08 21:33] jeanette-pelizzon opened #156 "ANC Logic - Diagnosis + Next Steps: Imminent Delivery [6h]"
## Issue

When a patient meets the criteria for Imminent Delivery it will trigger the pop-up and immediately go to referral. The patient will not finish the encounter as this is an emergency situation.

Pop-Up | Referral
--|--
<img width="312" alt="Screen Shot 2022-02-08 at 4 29 08 PM" src="https://user-images.githubusercontent.com/77505464/153079268-c960174b-4ae6-4e4a-8c9e-b8b5de5f2cd5.png"> | <i

[2022-02-09 20:39] anvmn commented on #131
This is done. Closing..

[2022-02-09 20:39] #131 closed, assigned to anvmn

[2022-02-09 20:41] anvmn commented on #130
@adamhstewart Deployed to Nutrition env.

//cc @isapisa

[2022-02-09 21:44] anvmn commented on #124
@jeanette-pelizzon

Well, I did find that we ask patient if partner was tested for HIV during preganancy:

![Selection_488](https://user-images.githubusercontent.com/17882245/153294361-9cd8a5c8-6930-483e-bf10-26a34b1e3d64.png)

If the answer is Yes, no matter the result, we do not ask at subsequent encounters.

He're some thoughts about this:

1. If partener took the test and got negative result,

[2022-02-09 21:45] anvmn commented on #124
@jeanette-pelizzon

Another question - how do we know if HC got HIV services or not?

[2022-02-10 15:05] anvmn commented on #145
@jeanette-pelizzon
We have got at least 2 more options that match the criteria:

![Selection_493](https://user-images.githubusercontent.com/17882245/153435286-d4e6362e-85be-4441-bfa6-188fa57ac36a.png)

How do we decide what diagnosis to show?

[2022-02-10 18:35] jeanette-pelizzon commented on #145
It's dependent on the EGA:

- Uterine Rupture | Obstructed Labor | Placental Abruptions = greater than or equal to 22 weeks EGA + severe abdominal pain

- Ectopic Pregnancy = less than 22 weeks EGA + severe abdominal pain

[2022-02-10 18:42] anvmn commented on #145
@jeanette-pelizzon I am asking about Post Abortion Sepsis

[2022-02-10 18:45] jeanette-pelizzon opened #159 "ANC Logic - Case Management [4h]"
## Issue

In our previous ANC sprint, we built out a Lab Results section in Case Management for nurses. This sprint we are adding in another level to the lab results so that nurses will also be able to see which patients need to come back to have their vitals rechecked to make a proper diagnosis.  These patients will still appear under the Lab Results tab in Case Management but their label will re

[2022-02-11 02:06] jeanette-pelizzon commented on #145
Oh sorry, I just looked at the red things. I will have to ask Wendy and report back as that's the only information I have.

[2022-02-11 09:31] anvmn commented on #152
@jeanette-pelizzon

For context, these are activities that generates entities stored on backend.
Development of such activity is done both for front end and back end.
Simple activities require 4h. More complex (with many inputs, or non trivial logic for example), require more.

At Prenatal module, we already have Health education and Send to HC activities.
Most likely we can make some additions to

[2022-02-11 09:45] anvmn opened #160 "ANC Logic - Medication Distribution activity infrastructure [4h]"
At different scenarios at ANC Logic nuse perscribes mediacation.
Medication Distribution activity will present prescription and store nurse inputs on backend.

[2022-02-11 17:46] anvmn commented on #113
@jeanette-pelizzon
Just found out that Mebendazole is actually a deworming medecine.
FYI, we already have a deworming pill question at Medication form.
It's current logic - displayed untill answer is YES, starting EGA week 20.
Seem to me this is a duplication. How would you like to treat this.

//cc @adamhstewart

[2022-02-11 17:48] jeanette-pelizzon commented on #113
This should replace that existing screen and logic.

[2022-02-13 12:54] anvmn opened #161 "ANC Logic - record and store Prenatal Diagnosis [6h]"
Similar to Acute Illness and Nutrition, it's not only required to come up with diagnosis / assessment, and apply appropriate logic, but also to record and store the diagnosis, for presentation, and logical decisions at subsequent encounters.

//cc @jeanette-pelizzon @adamhstewart @isapisa

[2022-02-14 08:54] anvmn commented on #152
@jeanette-pelizzon
Went over the designes, and did not find the Wait activity anywhere. Did we give up on it?

[2022-02-14 09:55] anvmn commented on #156
@jeanette-pelizzon

Question about the icon: so far, when referring to HC / Hospital / Program we were using this icon:

![Selection_496](https://user-images.githubusercontent.com/17882245/153841114-372b3bb2-29b3-48c4-a272-936fb2a0d951.png)

Here we get another one. Is this model speciall so that we get new icon?
Alternatively, maybe we should be showing this icon at other models?

[2022-02-14 10:00] anvmn commented on #156
@jeanette-pelizzon

What should happen when nurse clicks on 'Save' button?

[2022-02-14 17:42] jeanette-pelizzon commented on #154
@leowea only Syphilis diagnosis go in Medical History. Can we move this to the Medical Diagnosis section to consolidate the report?

[2022-02-14 18:32] jeanette-pelizzon commented on #145
@anvmn we are taking this away as an individual diagnosis. It will be combined with #144 and #146 as a potential diagnosis. Closing this issue and updating the others.

[2022-02-14 18:32] #145 closed, assigned to anvmn, jeanette-pelizzon

[2022-02-14 18:33] jeanette-pelizzon commented on #144
@anvmn adding post-abortion sepsis to this list after placental abruption.

[2022-02-14 18:34] jeanette-pelizzon commented on #146
@anvmn adding Post-Abortion Sepsis to this diagnosis so the first sentence of the pop up will show as "Patient shows signs of Ectopic Pregnancy or Post-Abortion Sepsis."

[2022-02-14 20:02] jeanette-pelizzon commented on #156
(1) Great, we can continue using that icon here. I can update the designs this week to reflect that.

(2) We need to figure this out. Ideally, if an emergency pops up and we refer a patient to the hospital without finishing the encounter, then E-heza would save where the patient left off in that encounters flow and pick back up at the next visit. We could have a pop-up at the beginning informing t

[2022-02-14 20:09] jeanette-pelizzon commented on #156
(2) updated: nurse refers patient to hospital, sees progress report, hits save --- this closes the encounter. If the patient returns we will do a new encounter for them

[2022-02-14 20:18] leowea commented on #154
Sure!

Wendy Leonard, MD, AAHIVS

Executive Director

TIP Global Health (formerly The Ihangane Project)

***@***.*** | +1 831 234 6053
www.tipglobalhealth.or <http://www.tipglobalhealth.org/>g

*Hope lies in dreams, in imagination, & in the courage of those who dare to
make dreams into reality. **- Jonas Salk*

On Mon, Feb 14, 2022 at 9:42 AM jeanette-pelizzon ***@***.***>
wrote:

[2022-02-15 20:54] anvmn commented on #147
@jeanette-pelizzon

Still not ready?

[2022-02-16 15:31] jeanette-pelizzon commented on #147
We are holding off this diagnosis for now. Will revisit in a later sprint. Closing this issue now.

[2022-02-16 15:31] #147 closed, assigned to jeanette-pelizzon

[2022-02-16 16:40] anvmn commented on #147
@jeanette-pelizzon
Saw that one path was held of, but there was another one:

![Selection_501](https://user-images.githubusercontent.com/17882245/154312943-b5761e24-8692-4eee-b782-685cb1f4c1e9.png)

To summarise, we should not have Infection diagnosis at all?

[2022-02-20 19:42] anvmn commented on #140
@jeanette-pelizzon

1.

This looks strange to me. Based on what nurse needs to decide if to perscribe 3 or 4?
If this is really what is required, I'd expect to see some kind of instructions on form.

2.
![Selection_512](https://user-images.githubusercontent.com/17882245/154861131-61e947b6-a23a-47fa-9444-c8e90c1fab82.png)

[2022-02-20 20:11] anvmn commented on #136
@jeanette-pelizzon

![Selection_513](https://user-images.githubusercontent.com/17882245/154862119-d863d468-5836-4175-9fe9-62ec011df0cb.png)

Please define what GI complications are.

Please define what complications are.

[2022-02-20 20:35] anvmn commented on #159
@jeanette-pelizzon

This is separate topic, which requires developing new page + logic to decide it activity was completed or not, and placing them them at correct tab. In short, very similart to page of an encounter. Estimation there is 6h.
Also, we will need to redesign current Lab results page - diferent routing to new page, based on available activities. That's another 2h.
Please open a separa

[2022-02-21 01:47] jeanette-pelizzon opened #165 "ANC Labs - HIV Updated [4h]"
## Issue

As we went through ANC Logic for HIV ( #124 ) we discovered that we needed to make some significant updates to the HIV lab flow to gather further information to be able to properly treat the patient in the next steps.

We have added questions to determine if the health center has a PMTCT/HIV program, if the patients partner is positive, if the partner is on ARV's, and if the partner has

[2022-02-21 02:08] jeanette-pelizzon commented on #124
@anvmn updated this issue so it is good to be worked on now. All your previous questions should be addressed now. Be sure to check out #165 first. Then this issue. I made videos for each one to explain them a bit more. Let me know if you have any questions.

[2022-02-21 15:58] jeanette-pelizzon commented on #136
@leowea - This is meant to be based on the same logic as we have in the AI module, however we do not collect the information needed to determine any malaria complications in this module (no symptom review). Should we then have follow up questions if a Malaria RDT comes back positive? Or change next step instructions to have nurse determine on their own?

// @anvmn @adamhstewart

[2022-02-21 16:45] jeanette-pelizzon commented on #140
@anvmn

Chronic Hypertension: I believe the nurse gets to decide to do 3x or 4x a day based on some clinical factors. I will let @leowea chime in here.

Gestational Hypertension: It is my understanding that the nurses have a medication table that they refer to. I believe we don't give specific dosages here because it may depend on weight or another factor that we don't ask for.

// @adamhstewart

[2022-02-21 17:20] jeanette-pelizzon opened #168 "ANC Logic - Case Management - Infrastructure [8h]"
## Issue

We need to add an activity screen after case management, therefore we need the infrastructure to do this.
(1) We need to redesign the current case mgmt page to route to a new activities tray  (separate issue #159)

(2) We need to develop the new activity screen - featuring labs, examination, and (hidden until need) next steps - and the logic around which activities appear when or move to

[2022-02-21 23:49] leowea commented on #140
@jeanette-pelizzon @anvmn @adamhstewart
Thanks for tagging me on this. I should have removed the 'see medication table'. All pregnant women who are going to be treated with medication for any form of high blood pressure will receive methyldopa 250mg at varying doses. The nurse should give methyldopa 250mg by mouth twice a day when first diagnosed with hypertension. If still high the next visit, th

[2022-02-22 00:25] leowea commented on #136
@jeanette-pelizzon For now, let's use the following options that the nurse can choose from. She can check one, two or three options.
Options if <=14weeks EGA:
Give quinine sulphate per os 10 mg/kg/dose, 3 times a day for 7 days
GI complications, Followed Written Protocols
Severe Malaria- Stabilize and Refer to Hospital

Options >14 wks EGA:
Coartem 4 tablets by mouth twice per day x 3 days
GI comp

[2022-02-23 16:49] jeanette-pelizzon commented on #136
@anvmn I updated the designs, the logic document and the main issue to reflect changes made to this flow.

[2022-02-23 17:37] jeanette-pelizzon commented on #140
@anvmn I updated the logic in the document and the design. What are your thoughts on the technical difficulty of the (recommended) appearing next to the appropriate dose based on past prescriptions? I kept that out of the design for now so it doesn't hold anything up immediately.

<img width="258" alt="Screen Shot 2022-02-23 at 12 34 38 PM" src="https://user-images.githubusercontent.com/77505464/1

[2022-02-27 09:08] anvmn commented on #140
@jeanette-pelizzon

This will require 2-3h to implement.

[2022-02-27 12:27] anvmn commented on #136
@jeanette-pelizzon

1. As a rule, requirements are supposed to appear at issue description.
If requirements are updated, issue description needs to be updated as well.
Please update issue description.

2. Should the selection be single or multiple? Please clarify.

3. Please clarify is after the popup, we need to navigate to next steps activity or not.

[2022-02-27 19:51] anvmn commented on #165
@jeanette-pelizzon

:+1: :+1: for video overview.
One question - what should be the flow if test result is Indeterminate?

[2022-02-28 20:00] jeanette-pelizzon commented on #165
@anvmn those thumbs up really made my day.

Answer: if the HIV test comes back indeterminate, there will be no next steps and the HIV test should reappear at the next visit.

[2022-02-28 20:05] jeanette-pelizzon commented on #136
@anvm:

(1) Updated the issue description. Thanks for the feedback.
(2) Single.
(3) The pop-up will appear in the next step section. A positive malaria test shouldn't interrupt the encounter flow.

[2022-03-01 10:03] anvmn commented on #165
@jeanette-pelizzon This does not makes sense to me.
Why would patient with negative result and negative partner get health education, and patient with indeterminate result not?
Also, what about patinet that is know as positive? We don't run a test for this case:

![Selection_543](https://user-images.githubusercontent.com/17882245/156148757-e90c676d-37ed-457e-9b0e-4f82f7722f8f.png)

Should we view

[2022-03-01 10:13] anvmn commented on #124
@jeanette-pelizzon

Question about warning popup: should we navigate to next steps when one diagnoses is made?
Or, similar to point 3 from https://github.com/TIP-Global-Health/eheza-app/issues/136#issuecomment-1054616309, popuop should appear when we enter Next Steps activity?

[2022-03-01 21:57] jeanette-pelizzon commented on #165
Good point. I would suggest we do the health education for indeterminate as well. I would assume the patients who are known to be HIV positive already know but health education probably would be good to have there as well. Let's add it for those options and see what the team thinks in testing.

// @anvmn

[2022-03-01 22:09] jeanette-pelizzon commented on #124
It should appear when we enter the next steps. Would it be helpful for me to go through all the different diagnoses and say which ones specifically interrupt the flow or come in the next steps section? @anvmn

[2022-03-01 22:13] jeanette-pelizzon commented on #140
@anvmn I spoke with Adam and we are going to move forward with implementing the recommended call out. Here is an example of what that should look like:
<img width="282" alt="Screen Shot 2022-03-01 at 5 12 33 PM" src="https://user-images.githubusercontent.com/77505464/156257702-36a1a6e7-ff79-4c7e-8789-5643f127a4a1.png">

Do I need to make this a separate issue?

[2022-03-02 05:49] anvmn commented on #140
@jeanette-pelizzon

No, we can have this issue updated with requirements and estimation.

[2022-03-02 10:34] anvmn commented on #124
@jeanette-pelizzon
Yes, it will help alot. Thanks,.

[2022-03-02 13:48] adamhstewart commented on #98
@anvmn according to the design suggestion the "open" label should be teal, in fact it is red:

![image](https://user-images.githubusercontent.com/688507/156373562-ffd4fa7a-3d2c-42d8-b772-0aa5bbd9df0d.png)

Likewise "concluded" is teal and should be red.

![image](https://user-images.githubusercontent.com/688507/156373857-463755b6-3dc8-494d-82e3-3d53045d7473.png)

[2022-03-02 13:51] adamhstewart commented on #133
@anvmn Wendy (and others) have experienced timeouts on other admin queries - specifically `/admin/content/mothers` - is it the same issue can we apply there as well?

[2022-03-02 14:01] adamhstewart commented on #77
@anvmn @jeanette-pelizzon should the demographic tab lose the menu context like this:

https://www.loom.com/share/ef3e4d2ab7b44f4bae60a4251c65f023

It seems the tab should stay, but I understand that all other tabs have a sort of "landing" page with limited information before loading the full report.

[2022-03-02 14:02] adamhstewart commented on #98
@anvmn can you also make a note about how "conclusion" is stored here? What about pregnancies that are not manually concluded.

[2022-03-02 14:10] adamhstewart commented on #91
@anvmn

- The header doesn't match the new design
![Selection_999(171)](https://user-images.githubusercontent.com/688507/156377514-16538d56-ef1b-41de-b57f-7c1f0bc1dd77.png)

- Not really related to this issue (but not sure where to put it) - when you click "more" for a completed pregnancy, you get to the labs results page, not the progress report. see video:
https://www.loom.com/share/ef2f65fb37a1

[2022-03-02 14:15] adamhstewart commented on #77
@jeanette-pelizzon after further review and according to this [demo](https://www.loom.com/share/383f6a1aa4ba441d94e1ee3ca0126fde), the implementation is correct.

[2022-03-02 14:20] anvmn commented on #133
@adamhstewart

Yes, that one uses Full pager as well:

![Selection_545](https://user-images.githubusercontent.com/17882245/156379597-43482b5c-3c8f-4900-873f-9093a2f52875.png)

[2022-03-02 14:23] #130 closed, assigned to anvmn

[2022-03-02 14:28] adamhstewart commented on #133
@anvmn great - then probably easier to update this issue to add the new pager on those views as well. I can't see the hours used, but let's bump accordingly?

[2022-03-02 17:16] #102 closed, assigned to anvmn

[2022-03-02 17:17] #103 closed, assigned to anvmn

[2022-03-02 20:23] anvmn commented on #133
@adamhstewart
Actually, it's already implemented.
All views under `admin/content` that used to have full pager get lite pager.

[2022-03-02 20:58] jeanette-pelizzon commented on #124
@anvmn
<img width="697" alt="Screen Shot 2022-03-02 at 3 58 29 PM" src="https://user-images.githubusercontent.com/77505464/156448599-92fe64c2-5b6e-4ca6-89b7-1e63415cbd9d.png">

[2022-03-03 14:38] anvmn commented on #136
@jeanette-pelizzon

Please consider following scenario:

**HIV:**
  Test posiitve + HIV/PMTCT program exists at health center  => requires refferal to program.

**Malaria:**
  Test posiitve + Severe Malaria: Stabilize and Refer to Hospital at Dignosis + Medication activity => requires refferal to hospital.

So, here we have 2 referrals, which is impossible as we have single Referral activity.
I'm

[2022-03-03 17:49] anvmn commented on #124
@jeanette-pelizzon

Thanks. We better add it to https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493

[2022-03-03 20:51] leowea commented on #136
@anvmn It makes sense to prioritize the hospital referral. We would want to be sure that the progress report identifies new diagnoses though. In our next sprint, we will be working on how to follow up with new diagnoses. We can have a way to identify women diagnosed with HIV and whether or not they have received ARVs.
// @jeanette-pelizzon @adamhstewart

[2022-03-04 08:44] anvmn opened #175 "Drupal core v7.88 upgrade [0.5h]"
https://www.drupal.org/project/drupal/releases/7.88

![image](https://user-images.githubusercontent.com/17882245/156729323-2801f21a-875f-474a-b47d-6e871d42adde.png)

[2022-03-04 08:58] anvmn commented on #175
@adamhstewart

Applied on live:

![Selection_550](https://user-images.githubusercontent.com/17882245/156732057-9fc03135-23fb-4115-a062-45b3f5226ba2.png)

[2022-03-06 19:28] anvmn opened #177 "Drupal core v7.89 upgrade [0.5h]"
https://www.drupal.org/project/drupal/releases/7.89

![image](https://user-images.githubusercontent.com/17882245/156938984-282c96d1-7043-4ecb-a7ef-ff4b9d1a2dad.png)

[2022-03-06 19:43] anvmn commented on #177
@adamhstewart

Deployed to live:

![Selection_557](https://user-images.githubusercontent.com/17882245/156939437-38ce1a27-e52b-49b7-ad5c-c27d8ba2bd5d.png)

[2022-03-07 15:56] jeanette-pelizzon commented on #154
Dating - should go newest to oldest

[2022-03-09 08:23] anvmn commented on #98
@adamhstewart

There's inconsistency in the design. At AI, we have ONGOING as red:
![Selection_567](https://user-images.githubusercontent.com/17882245/157401308-3de5e687-6e10-466d-9237-e7815b4e3a0b.png)

Also, at progress report:
![Selection_568](https://user-images.githubusercontent.com/17882245/157401394-53d2f1f8-62b1-4a5e-b249-7167c0711c5c.png)

I don't think Antenatal is special in any way.

/

[2022-03-09 08:24] anvmn commented on #98
@adamhstewart

Preganancies that are not concluded are considered open.
However, there's no option to start a new pregnancy before you close previous instance.

[2022-03-09 08:34] anvmn commented on #91
@adamhstewart

 This is what is what we have at Figma:

![Selection_570](https://user-images.githubusercontent.com/17882245/157403175-1fee152a-7c0f-444e-b103-7a6aa91604b6.png)

This is what we have implemnented:

![Selection_569](https://user-images.githubusercontent.com/17882245/157403211-92cbb677-b66a-4f07-800c-d80dfa568dec.png)

Are these the mismatches you found?
![Selection_569](https://user-

[2022-03-09 11:48] anvmn commented on #91
@adamhstewart

Fixed at https://github.com/TIP-Global-Health/eheza-app/pull/180

[2022-03-09 12:41] anvmn commented on #141
@jeanette-pelizzon
The way I see it, if syphilis lab result is positive, we should ask about symptoms right away.
No need to wait till we get to Next Steps.
So, there will be another dynamic task on the form that is presented if test result is positive:

![Selection_571](https://user-images.githubusercontent.com/17882245/157443551-98e2458a-409c-4a86-aec1-82abef257a95.png)

[2022-03-09 20:15] jeanette-pelizzon commented on #141
@anvmn good catch! I updated Figma. The follow-up questions should appear right after the positive test but the diagnosis and next steps should appear in the next steps section.

[2022-03-10 15:20] jeanette-pelizzon opened #182 "ANC Labs - Urine Dipstick - Protein Results Update [1h]"
## Issue

In the lab results portion for the Urine Dipstick test, the result options need to be changed per feedback from Wendy.

Potential results should be:

- 0
- +1
- +2
- +3
- +4

## Notes:
I have updated the [ANC Source of Truth](https://docs.google.com/spreadsheets/d/1kRfEJIF9nuRVbgicrB3R39LUNGiiGRw5v86FDQlrAjY/edit#gid=0) document to reflect this change.

[2022-03-13 23:54] jeanette-pelizzon commented on #98
@adamhstewart i've made things that are alerts or need attention to in red to draw attention. Resolved things or things that are good now are in teal. So teal means "we're good here" and red means "hey check this out asap"

[2022-03-16 16:29] jeanette-pelizzon opened #186 "ANC Labs - Wait Subactivity [4h]"
## Issue

There is a new subactivity called "Wait" which will be in three scenarios:

-  if lab results require a patient to wait
- if a patient needs to come back to have their vitals rechecked
- if a patient need to wait for both labs and vitals

Labs Wait | Vitals Wait | Both Wait
--|--|--
<img width="280" alt="Screen Shot 2022-03-16 at 12 28 13 PM" src="https://user-images.githubusercontent.co

[2022-03-20 11:55] anvmn commented on #186
@jeanette-pelizzon

Can't find that Wait icon under Design Assets on Figma. Please add.

Thanks.

[2022-03-20 18:02] anvmn commented on #139
@jeanette-pelizzon

Need clarification on this:

![Selection_586](https://user-images.githubusercontent.com/17882245/159176065-d564c98f-315d-4585-8e0c-5027508ebc2d.png)

(2) says it's for any EGA.
(1) says nothing about EGA.

So, is (1) for any EGA as well, or when EGA > 20 w?

[2022-03-21 07:00] anvmn commented on #182
Need this for #139. Can't wait anymore with this.
Self assigning...

[2022-03-21 07:38] anvmn commented on #139
@jeanette-pelizzon

Another clarification:

![Selection_588](https://user-images.githubusercontent.com/17882245/159220503-43f3ad4b-50b2-4ffe-a393-1b92c7cfdad7.png)

This is the closest I found:

![Selection_587](https://user-images.githubusercontent.com/17882245/159220535-457306fb-e762-41f7-b449-7f9353e7a797.png)

Please approve that this is indeed the condition we need.

[2022-03-21 09:05] Diama1 opened #189 "General - Add all the missing Translations from different Modules"
## Issue

Some translations have been reviewed and some of them needed to be rephrased and some others are missing translations.

## Tasks

- Add the missing translations and rephrase the ones that needed to be rephrased

[2022-03-21 14:21] jeanette-pelizzon commented on #139
@anvmn Yes that is the condition we need

[2022-03-21 14:23] jeanette-pelizzon commented on #139
@anvmn I believe for (1) it will be >20 weeks EGA as all other preeclampsia conditions are at that EGA but tagging @leowea to verify that assumption

[2022-03-21 14:27] jeanette-pelizzon commented on #186
I need to show you the new Figma layout today. You can find the icon [here](https://www.figma.com/file/4Rbvi4x1Cxmwzq73Kwsqxk/Components?node-id=201%3A16) on the subactivity icon frame. It's in the bottom right corner.

[2022-03-21 17:48] leowea commented on #139
@jeanette-pelizzon @anvmn Yes, let's make this > 20 weeks EGA as well. Another thing I'd like to confirm- once a diagnosis of hypertension or preeclampsia is confirmed, there is no need to wait 2 hours and repeat a blood pressure. The only reason we do the follow up blood pressure is because the definition of hypertension is high blood pressures on two separate occasions taken at least 2 hours apa

[2022-03-21 18:01] jeanette-pelizzon commented on #139
Perfect! Yes, we have both pathways in logic.

[2022-03-22 08:39] #175 closed, assigned to anvmn

[2022-03-22 11:04] anvmn opened #193 "Deploy ANC Logic feature to Pantheon Multidev [1.5h]"
Due date: Mar 22, 2022

[2022-03-22 13:26] anvmn commented on #154
@jeanette-pelizzon

After reviewing the requirements, here's a summary:

We have ~ 30 different diagnoses.
Some are straightforward - have single option for treatement.
Others are more complex - different sympoms trigger different treatment. When it comes to progeress report, we need to present both the symptoms and the treatment (Anemia with severe complications, Syphilis), so it's more time cons

[2022-03-22 21:07] anvmn commented on #193
@adamhstewart @LudmilaGoichman

Deployed to Nutrition env. Device repairing is required.

[2022-03-22 22:10] jeanette-pelizzon commented on #154
1) We should still present something as the patient has been diagnosed with something and they will need to see that in future visits. I suggest this format:
- [diagnosis] referred to hospital on XX/XX/XXXX - [reason why patient didn't go to hospital]

2) I feel like in those cases maybe we should make a check box or something that says the medicine was not given. Either way the progress report sh

[2022-03-23 09:21] Diama1 opened #196 "ANC Labs - Translations for the Anc Labs"
## Issue
Adding translations for ANC Labs feature

## Tasks
- List texts that need translations
- Add translations in the app (when provided)

[2022-03-23 13:04] anvmn commented on #154
@jeanette-pelizzon

Well, this does not solve it, because nurse can leave Diagnosis + Medicine activity incomplete anyway.
I suggest something more general, like 'No treatement recorded' message.

[2022-03-23 13:05] anvmn commented on #154
@jeanette-pelizzon given these additional requirements, please set time estimation to 12h.

[2022-03-23 14:09] jeanette-pelizzon commented on #154
It should follow the other medications format though. So adding in a question about "did the you prescribe the medication to the patient?" yes/no -- no with the options?

![Next Steps Template](https://user-images.githubusercontent.com/77505464/159719327-2ec64339-d274-4989-8dc2-a3658703c66b.jpg)

[2022-03-23 14:16] anvmn commented on #154
@jeanette-pelizzon
This is not going to work. It's not standard medication.
Malaria for example have 2 options which are not medication at all.

This is complex enough by itself, so If not treatement option is needed, we can add it as another checkbox.
This is not simple development, but possible.

Adding a reason will break the design completly, and will require several days to redesign and redev

[2022-03-23 14:18] jeanette-pelizzon commented on #154
Ah okay, I didn't realize the complexity.  I will defer to you on what you think is best here then.

[2022-03-27 11:37] anvmn opened #198 "Deploy new version to production on Mar 27, 2022 [2h]"
Include:

#135
#192
#197

[2022-03-27 11:37] anvmn commented on #198
@adamhstewart ^^

[2022-03-27 11:38] anvmn commented on #198
### Deployment instructions:

- Reinstall project locally, to get new contrib module.
- `drush updb`

[2022-03-27 17:21] anvmn commented on #198
@adamhstewart

Deployed to live. Let me know if we want to run the scripty that fixed the EDD (#192).

[2022-03-27 17:21] #193 closed, assigned to anvmn

[2022-03-27 17:23] anvmn commented on #91
As per @adamhstewart, https://github.com/TIP-Global-Health/eheza-app/issues/91#issuecomment-1062675597 changes are not required. Moving to QA.

[2022-03-28 16:20] adamhstewart commented on #198
@anvmn let's please do.

[2022-03-28 16:38] adamhstewart commented on #198
@anvmn this doesn't cover #133 ?

[2022-03-28 17:02] anvmn commented on #198
@adamhstewart

Yes,  #135 is PR for #133.

Script executed:
![Selection_602](https://user-images.githubusercontent.com/17882245/160450020-97f23908-23e7-4df5-98b0-135da8fbd20d.png)

[2022-03-28 23:04] adamhstewart opened #199 "Build foundation for subsequent Acute Illness encounters at Health Centers [6h]"
## Issue
Currently, Nurses at the Health Center are blocked from accessing subsequent visits at the HC that were created at the HC. While it is not a common occurrence, a nurse should be able to see a patient more than once for the same illness.

## Tasks
- Create the foundations to allow for an illness to be accessed at the health center after it was already seen there.
- Allow access from the fr

[2022-03-28 23:10] adamhstewart opened #200 "Designate point of referral for an Acute Illness [4h]"
## Issue
At the Health Center, before beginning an encounter, the nurse should be aware if the referral (i.e. the patient was last seen at) the Health center or the CHW.

This notification should be made on the entry screen for the encounter:

![image](https://user-images.githubusercontent.com/688507/160501842-01a33168-ee84-4b0d-9f56-860f6a390a16.png)

The text options are:
- CHW Referral
- Health

[2022-03-28 23:18] adamhstewart opened #201 "Assemble the Activities of a Subsequent Visit [12h]"
## Issue

Subsequent visits which were seen previously at the health center have the following activities:
- Danger Signs
- Physical Exam
- Treatment Review

![image](https://user-images.githubusercontent.com/688507/160502848-f4497e80-7f2b-48b3-86a1-a5450ec43c45.png)

- The sub activities for "prior treatment history" and "physical exam" and workflows are the same as they are for an initial visit

[2022-03-29 07:38] anvmn commented on #198
@adamhstewart This issue is done. Closing.

[2022-03-29 07:38] #198 closed, assigned to anvmn

[2022-03-29 15:57] adamhstewart commented on #140
@anvmn I can't select the recommended checkbox:

![image](https://user-images.githubusercontent.com/688507/160654116-58397a1d-1086-43bd-b53e-3fb0a59ba62e.png)

The HTML looks like maybe it's out of order with the prechecked input falling outside the div.

[2022-03-29 16:10] adamhstewart commented on #159
## QA Assessment

### Works as designed
- Updated label and style of vitals recheck
- Path to patient and workflow for vitals recheck

### Needs followup
- When completing the vitals recheck and the following next steps, the patient record is not displayed nor is there a button to close the encounter.

![image](https://user-images.githubusercontent.com/688507/160656614-5333c782-936b-4f32-b65b-70fb

[2022-03-29 16:20] adamhstewart commented on #13
## QA Analysis

### Works as designed
- All widgets default to the correct position.

[2022-03-29 16:32] adamhstewart commented on #186
## QA Analysis

### Works as designed
- Sub activity and icon appear as designed
- new page and logic of messages appear and work as designed

### Needs followup
- The progress report still appears automatically after Diagnosis and medicine - it should only appear after "wait"\
- Not exactly part of this issue, but the progress report should have an "end encounter" button as per the design so that

[2022-03-29 16:42] #116 closed, assigned to anvmn

[2022-03-29 16:50] adamhstewart commented on #117
## QA Analysis

### Works as designed
- Additional question is added along with conditional skip logic

### Needs followup
- The positive status does not show up in the progress report as described in the issues, although I do not see a design for how it is supposed to appear. Should it be with other test results? cc/ @jeanette-pelizzon

[2022-03-29 16:58] adamhstewart commented on #165
## QA Analysis
I'm assuming that this issue is just for the labs section and not for the next step logic (if so I'll revert)

### Works as designed
- Added "known to be positive" and skip logic.
- Added paternal questions (+ ARVs + viral load) and skip logic.

[2022-03-29 17:02] adamhstewart commented on #161
## QA Analysis

### Works as designed
- Diagnosis are recorded on the prenatal encounter
![image](https://user-images.githubusercontent.com/688507/160666321-ef49c04e-1eb6-4473-8d11-ede932c9c3e1.png)

[2022-03-29 18:03] anvmn commented on #117
@adamhstewart

Progress report status update issue is #154, and will be available for testing after #194 is reviewed and deployed.

[2022-03-29 18:05] anvmn commented on #140
@adamhstewart  ^^ is fixed at #194

[2022-03-29 18:13] adamhstewart commented on #182
## QA - Analysis
 - Change as requested

[2022-03-29 18:17] adamhstewart commented on #123
## QA Analysis

### Works as designed
- The next step button appears at the appropriate time and the the progress report is displayed at the end (although in some cases twice - see followups in #187 )

## Needs followup
- Not exactly related but no place else to put this: it appears that when there is no diagnosis, we still get the popup with empty text before we go to "next steps"
![image](https:

[2022-03-29 18:26] adamhstewart commented on #160
## QA Analysis

- medication distribution content set on the backend after activity:
![image](https://user-images.githubusercontent.com/688507/160679963-b8552dfe-3a6c-406d-8865-75289ab190df.png)

[2022-03-29 18:30] jeanette-pelizzon commented on #117
@adamhstewart there is a tab on the [Logic Maste](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=2144570215)r with where each diagnosis should fall on the ANC progress report. TB will appear under medical diagnosis.

[2022-03-29 18:32] jeanette-pelizzon commented on #165
@adamhstewart this issue is just labs related. It was created before the introduction of the more intense logic.

[2022-03-29 18:40] adamhstewart commented on #113
## QA Analysis

### Works as designed
- Question appears after 28 weeks (and not before)
- Question reappears if answered "Yes"

### Needs followup
- If answered "No" There is no instruction to distribute the medication in next steps.

[2022-03-29 18:45] anvmn commented on #113
@adamhstewart

Note that Next steps activity will appear only after we have Danger Signs activity completed.

[2022-03-29 18:48] adamhstewart commented on #142
## QA Analysis

## Works as designed

- Under 28 weeks, vaginal bleeding, the popup alert is shown and directed to Next Steps

## Needs Followup
- This may not need followup, but currently after the referral, the progress report is shown (as expected), but because there is no "close encounter" button on it, the user needs to back track into the encounter, where you can then close it. If we will be

[2022-03-29 18:53] adamhstewart commented on #143
## QA Analysis

### Works as designed
- Warning shows in a pregnancy after 28 weeks with vaginal bleeding.

[2022-03-29 18:57] adamhstewart commented on #144
## QA Analysis

### Works as designed
- Warning shows in a pregnancy after 28 weeks with severe abdominal pain.

[2022-03-29 18:59] adamhstewart commented on #137
## QA Analysis
## Works as designed
- Diagnosis is shown in next steps after positive test result and is referred to the hospital.

[2022-03-29 19:53] adamhstewart commented on #148
## QA Analysis

## Works as designed

- >37 weeks EGA + Gush or Leaking of Vaginal Fluid (danger signs) shows popup warning an diverts the flow to next steps.

[2022-03-29 19:56] adamhstewart commented on #153
## QA Analysis

##W Works as designed
- New options added:

![image](https://user-images.githubusercontent.com/688507/160696359-224e497d-d7ad-448d-975e-2046875371d7.png)

[2022-03-29 20:01] adamhstewart commented on #155
## QA Analysis

## Works as designed

-  When "labor" is indicated, shows popup warning an diverts the flow to next steps.

Note to @jeanette-pelizzon The popup dialog in the design has a cancel button, but in the app, it does not. I believe that app has the right consistency (there would be no need for a cancel button there).

[2022-03-29 20:05] adamhstewart commented on #149
## QA Analysis

## Works as designed

-  When <=37 weeks EGA + Gush or Leaking of Vaginal Fluid (danger signs) is indicated, shows popup warning an diverts the flow to next steps.

[2022-03-29 20:08] adamhstewart commented on #150
## QA Analysis

## Works as designed

-  When any EGA + severe vomiting  is indicated, shows popup warning an diverts the flow to next steps.

[2022-03-29 20:13] adamhstewart commented on #146
## QA Analysis

## Works as designed
- Either or both of the conditions are present proper popup and diverted workflow occur:
    - when <22 weeks EGA + severe abdominal pain (danger signs)
    - when <=22 weeks EGA + Vaginal bleeding (danger signs)

[2022-03-29 20:20] adamhstewart commented on #156
## QA Analysis

## Works as designed

-  When "imminent delivery" is indicated, shows popup warning an diverts the flow to next steps.

[2022-03-29 20:31] adamhstewart commented on #136
## QA Analysis

### Works as expected

- When malaria is indicated, next steps includes the popup and the referral sub activity

### Needs followup

- There is not the required medication disbursement sub activity after a positive malaria test
- as a result, cannot test the EGA factor which determines dosage.

![image](https://user-images.githubusercontent.com/688507/160701275-db286bd6-8e88-455e-a

[2022-03-29 22:35] adamhstewart commented on #124
## QA Analysis

### Works as designed
- Positive HIV, no PMTCT, shows health education, meds, and referral as expected
- Negative, HIV Discordant partner (either on ARVs or without reduced viral load) hows health education, meds, and referral as expected
- proper health education questions show for each scenario

### Needs followup
- Positive HIV + PMTCT services available - medications are remove

[2022-03-29 22:45] adamhstewart commented on #139
## QA Analysis

I checked a few of the pathways and they were all correct - since there are so many to check, I'm going to leave this one for @LudmilaGoichman

[2022-03-29 22:50] adamhstewart commented on #141
## QA analysis

### Works as designed
- Syphilis positive, popup and medications as expected
- Syphilis positive + headaches/vision popup and referral as expected

[2022-03-29 22:59] adamhstewart commented on #138
## QA Analysis
- Pathways for mild to moderate, severe, and severe with complications appear as expected with the correct lab results.

### Needs followup
- Looks like for anemia we have even a third medical distribution sub activity (see #172 )

![image](https://user-images.githubusercontent.com/688507/160720119-bf98ea08-3e0c-4abb-8b5d-81db06e5759f.png)

[2022-03-30 02:35] adamhstewart commented on #113
@anvmn For a given patient, I completed all activities (including danger signs) and I did not get the medications sub activity

![Selection_999(199)](https://user-images.githubusercontent.com/688507/160739458-279bc417-8810-49b9-9917-05ca245bad2b.png)

All activities complete:

![image](https://user-images.githubusercontent.com/688507/160739542-646aa4ce-be82-4738-992e-78fa9fcfdb6b.png)

[2022-03-30 02:37] adamhstewart opened #202 "ANC Photo activity should be optional [1h]"
## Issue

The photo activity should be optional in all ANC encounters

## Task
- remove required validation on photo activity

[2022-03-30 02:47] adamhstewart opened #203 "Review progress report step should come only after Labs are entered + other workflow adjustments [6h]"
## Issue

Right now the progress report comes up at the end of the first part of the encounter before the labs are entered, but it should only be reviewed after the labs/vitals recheck are entered.

In addition, since this is not the end of the encounter, the language on the button to close out of the activities should be different,

Also, After the user views the progress report after "next steps

[2022-03-30 05:23] anvmn commented on #113
@adamhstewart
When diagnosis results in emergency referral to hospital, there are no other next steps.

[2022-03-30 05:34] anvmn commented on #136
@adamhstewart

EGA determines if first option will be Coartem or Quinitine Sulphate.
It's not about dosages.

Only time we will display additional sub activity, is when selected treatment is 'refer to hospital'.

[2022-03-30 05:34] #136 closed, assigned to anvmn

[2022-03-30 13:07] jeanette-pelizzon commented on #155
Thanks @adamhstewart I will update the designs for that.

[2022-03-30 13:11] jeanette-pelizzon commented on #113
That is true, when a flow is interrupted and a patient is referred to a hospital we prioritize them being sent to get care immediately. However, if they are referred to the hospital at the end of an encounter  (aka not an emergency refferal) then they should also get mebendezole.

[2022-03-30 14:08] adamhstewart commented on #142
@anvmn @jeanette-pelizzon I am moving this over in favor of followup in #203 .

[2022-03-30 14:12] adamhstewart commented on #152
@anvmn @jeanette-pelizzon it seems this issue has been covered as part of other issues, but I think highlights the issue I raised in https://github.com/TIP-Global-Health/eheza-app/issues/124#issuecomment-1082437031

Let's then make this the controlling issue for that fix:

There should be only one sub activity (and associated icon) which holds "Medication disbursement" - multiple diagnosis with me

[2022-03-30 14:13] adamhstewart commented on #159
@anvmn moving this over in favor of the workflow redesign in #203

[2022-03-30 14:15] adamhstewart commented on #186
@anvmn moving this over in favor of #203 - please do remember that progress report needs to be removed both after diagnosis and medication AND wait.

[2022-03-30 14:19] adamhstewart commented on #117
Positive Hepatitis B does not register a medical diagnosis:

![image](https://user-images.githubusercontent.com/688507/160856906-09f21581-058f-46d5-87ef-be5ac10ec50e.png)

[2022-03-30 14:21] adamhstewart commented on #123
@anvmn I'm having trouble hunting this down - but it happened also with @leowea . It's possibly happening when there is no diagnosis at all, but I thought I had experienced it when I should have seen hypertension, although I couldn't recreate that scenario.

[2022-03-30 14:22] adamhstewart commented on #138
@anvmn @jeanette-pelizzon moving this over in favor of #203

[2022-03-30 14:28] adamhstewart commented on #117
@anvmn see this is part of #194... moving to ready for review - please move to QA column when it is deployed to environment.

[2022-03-30 19:23] jeanette-pelizzon commented on #136
Less than or equal to 14 weeks = Quinine

Greater than 14 weeks = Coartem

[2022-03-30 19:30] anvmn commented on #189
@Diama1 Translations were deployed to Demo env.
Please request APP upgrade for all devices synced with Demo env.

[2022-03-30 19:47] anvmn commented on #202
@adamhstewart

Photo activity was optional from the beginning. Where did you see it as required?

[2022-03-30 19:48] jeanette-pelizzon commented on #203
here are the new wait screens:

Wait Vitals | Wait Labs | Wait Both
--|--|--
![Next Steps Template-1](https://user-images.githubusercontent.com/77505464/160918589-eb8b1a79-6b02-4446-8d23-b37533b42a03.jpg) | ![Next Steps Template-2](https://user-images.githubusercontent.com/77505464/160918612-57a97ef9-c2a3-4c8b-a1a9-5390104257eb.jpg) | ![Next Steps Template](https://user-images.githubusercontent.co

[2022-03-30 20:00] jeanette-pelizzon commented on #203
With the progress report, it's meant to show at the beginning of the *first encounter* only if the patient has seen a CHW previously. They was the nurse can see the CHW activities that took place. If the patient has not previously seen a CHW before the first encounter, then no progress report should (or would be able to) be shown.  The progress report should appear at the actual end of every encou

[2022-03-30 20:04] anvmn commented on #140
@adamhstewart #194 is deployed, so ^^ can be retested

[2022-03-30 20:06] anvmn commented on #117
@adamhstewart #194 is now deployed. ^^ can be retested.

[2022-03-30 20:08] jeanette-pelizzon commented on #138
Anemia should only have medication distro OR hospital referral.

[2022-03-30 20:21] jeanette-pelizzon commented on #124
HIV+ with No Program the screen is correct. It is three separate pills (at least that was my understanding). The others get a combo pill I believe?

This is the screen I have for that in the design:
![Positive No Program 3](https://user-images.githubusercontent.com/77505464/160924085-82d6530a-0a71-414e-aaad-3cca5e6c9e70.png)

// @adamhstewart should I double check with Wendy?

[2022-03-30 20:22] jeanette-pelizzon commented on #124
Yes the diagnosis is just the pop up and then it should be medication distribution. If they have medications for two things then they can be stacked.

[2022-03-30 21:26] jeanette-pelizzon opened #204 "AI @ HC: Progress Report Should Show @ Beginning of Ea. Encounter [ON HOLD]"
## Issue:

Similar to ANC, the progress report for a patient should be shown before any encounter if the patient has already seen a CHW or has been seen at the HC. If this is their first encounter regarding an illness there is no progress report to show.

Every encounter should end with a new or updated progress report.

## To Do:

- Create logic to show the existing progress report before an enco

[2022-04-04 15:28] adamhstewart commented on #140
Rechecked and approved

[2022-04-04 15:38] adamhstewart commented on #117
The scope of this issue is rechecked and approved.

There are two issues that need to be investigated:

1. Progress report does not appear at the end of the vitals recheck/labs entry - this should be addressed in #
2. After the user views the progress report after "next steps" (in the second "part" of the encounter), if the user uses the back arrow, you return to an activity tray for the first par

[2022-04-04 15:47] adamhstewart commented on #154
@anvmn @jeanette-pelizzon I'm not certain of the status here.

[2022-04-04 15:48] adamhstewart commented on #202
@anvmn Rechecked - it is indeed optional .

[2022-04-04 15:48] #202 closed, assigned to anvmn

[2022-04-04 15:52] adamhstewart commented on #203
@anvmn note, I edited the initial issue with one more aspect - to ensure that "backing out" of the progress report brings you to the right context.

[2022-04-04 17:14] anvmn commented on #154
@adamhstewart deployed to Nutritition env

[2022-04-05 17:45] jeanette-pelizzon opened #206 "ANC Logic - HIV Next Steps Update - Discordant Partners [4h]"
## Issue

The wording on one of the next steps screen in the HIV flow needs to be updated. The screen is the medication screen for a discordant partnership where the partner is not on ARVs.

**This is the situation:**
Patient HIV = Negative
Partner = Positive
Partner ARVs = No

**This is the new screen:**
<img width="337" alt="Screen Shot 2022-04-05 at 12 49 31 PM" src="https://user-images.githubu

[2022-04-05 17:46] jeanette-pelizzon commented on #206
Assigned to @Diama1 but tagged @anvmn so you are in the loop.

[2022-04-05 18:03] adamhstewart opened #207 "Upgrade to DDEV 1.19.1 breaks installation"
## Issue

After upgrading to DEDV 1.19.1 the installation does not work

[code]

[2022-04-06 04:29] AronNovak commented on #207
Related DDEV issue: https://github.com/drud/ddev/issues/3705

[2022-04-06 12:22] anvmn commented on #203
@adamhstewart

This text is a little missleading, because there's no such button bellow.
Real form will show:

![Selection_634](https://user-images.githubusercontent.com/17882245/161973067-1c1f19d8-9835-4a00-b970-1bc669b02219.png)

As any actvity, Wait should be saved to record the action.
Also, other sub activities at next steps may be not completed yet, and therefore,
we can not guarantee that s

[2022-04-06 12:37] anvmn commented on #206
@jeanette-pelizzon

This requirement is somewhat problematic, because medication disatribution is a combined form, that presents all medications that should to be perscribed. For example - HIV ARVs + Mebendazole:

![Selection_635](https://user-images.githubusercontent.com/17882245/161975469-3e01cd8c-bee6-4b7d-9e56-f8e101787e99.png)

So, it's not really clear what should the wording be.
Right now t

[2022-04-06 18:13] jeanette-pelizzon commented on #152
In next steps, the medication acitvites - whether it is a multiple choice or a directive - need to be under the sub-activity "Medication Distribution"

[2022-04-06 18:21] jeanette-pelizzon commented on #203
Let's say a patient has multiple diagnoses. When they are in next steps do we have it currently popping up Diagnosis one then going through all the next steps pertaining to that diagnosis. Then it pops up the 2nd diagnosis and runs through those next steps?

OR  is it popping up all the diagnosis at the beginning and stacking the next steps?

// @anvmn

[2022-04-06 18:28] jeanette-pelizzon commented on #206
Ah, okay. When I designed it I thought it would stack like this:
<img width="272" alt="Screen Shot 2022-04-06 at 2 25 44 PM" src="https://user-images.githubusercontent.com/77505464/162043157-2ab4f1db-cd65-4697-93f0-0b3b42984a6b.png">

Then a nurse could run through the medication and have a conversation such as " Since you are in a discordant partnership and your partner is not on ARVs, I am presc

[2022-04-06 18:40] anvmn commented on #203
@jeanette-pelizzon

One popup with all diagnoses

[2022-04-06 18:44] anvmn commented on #206
@jeanette-pelizzon

It is not a trivial change, but it is possible.

[2022-04-06 18:51] anvmn commented on #152
@jeanette-pelizzon

This is a complex requirement,  and I'd say it will require minimum of 10 hours. Probably more.

It may have been a little easier if we had it in 2 steps, so, at first step recomended treatment option would be selected (as it's done now), and at second, we'd ask standard set of questions that are asked for any medication. Here I could say it's 5-6 hours.

Please open a new issu

[2022-04-06 19:02] anvmn commented on #206
@jeanette-pelizzon
However, for every diagnosis treated with medicine, we need to have that text defined.

[2022-04-06 20:39] jeanette-pelizzon opened #210 "ANC Logic - HIV Next Steps - HIV Positive Medication Update [2h]"
## Issue

We received feedback that the medication we are currently prescribing for HIV positive pregnant women is incorrect. The correct prescription is:

<img width="253" alt="Screen Shot 2022-04-06 at 4 38 20 PM" src="https://user-images.githubusercontent.com/77505464/162066653-6f2d0b61-efe9-4060-9c13-500917fb8c8c.png">

## To Do:

- update the medication distribution
- update the follow up que

[2022-04-06 20:45] jeanette-pelizzon commented on #124
@anvmn we have had to update the medication for HIV positive patients in this flow. I assumed I would need to create a new issue, which can be found #210

Let me know if I need to just update this issue instead.

// @adamhstewart

[2022-04-06 20:46] jeanette-pelizzon commented on #206
Can we discuss in our Monday meeting? We can figure out what option would be best.

[2022-04-07 07:36] anvmn commented on #123
@adamhstewart ^^ fIxed at [0c0ff63](https://github.com/TIP-Global-Health/eheza-app/pull/209/commits/0c0ff63b0079b63b9bb7c38a08860104d89be11e).

This was happening when there was a suspicion for hypertension - a need to get BP retaken at second phase of encounter.

[2022-04-07 07:44] anvmn commented on #124
@adamhstewart

Maybe you're expecting to find the question on another location?
The question appears on the Refeeral activity:

![Peek 2022-04-07 10-41](https://user-images.githubusercontent.com/17882245/162147054-870b5f1c-951d-4429-9f3a-1fbcb9e295d5.gif)

[2022-04-07 08:05] anvmn commented on #206
@jeanette-pelizzon
Well, I think what you suggest at the design is great.
Other option as I see it not to give any wording for any medicine, which I would not vote for.
Do you have in mind another option?

[2022-04-07 08:20] anvmn commented on #210
@jeanette-pelizzon
So, Tenofovir and Lamivudine are not required anymore?

[2022-04-07 17:31] anvmn commented on #201
@adamhstewart

So, we just fill the activities and end encounter?
No Next steps?

[2022-04-07 17:36] adamhstewart commented on #201
No we should already have next step logic from anc health center functionality.

[2022-04-07 18:11] anvmn commented on #201
@adamhstewart
Next steps derrive from activites completed at current encounter.
So, it's not clear to me what should this be.

[2022-04-07 18:33] anvmn commented on #201
@adamhstewart
Do you mean that it should be same Next steps as we have at subsequent encounter for CHW?

[2022-04-07 19:01] anvmn commented on #201
If ^^ is correct, I think we said that instead of sending to Health Center, we'll be sending to Hospital.
However, we also have 'Contact HC' subactivity for patients with Covid diagnosis, that are not improving.
Also, should nurse be scheduling follow up and providing health education?

[2022-04-07 19:19] jeanette-pelizzon commented on #210
Correct, Just the combination pill and the dolutegravir.

// @anvmn

[2022-04-07 19:27] jeanette-pelizzon commented on #203
Alright, so then each stage should be stacked as well - all the diagnosis pop up together, all the health education in one screen, all the medication distro in one screen, referral (can just be the one referral since they are all the same). So the wait activity should be at the end of each next steps flow. Because of that then the button at the bottom can be changed from saved to pause encounter (

[2022-04-07 19:33] jeanette-pelizzon commented on #206
No, that's my only idea there. So let's keep the wording. I will go through and make sure they all have correct wording. (they should already but let me double check) @anvmn

[2022-04-10 20:23] anvmn commented on #201
@adamhstewart

We have Treatment Review and Prior treatment history mentioned at requirements:

![Selection_646](https://user-images.githubusercontent.com/17882245/162638233-42889142-70fc-4a71-acb6-3561885c7fc3.png)

Prior treatment history is an activity that appears on first encounter both for Nurse and CHW.
Treatment Review is an activity that is viewed on subsequent encounter (CHW only), in ca

[2022-04-13 10:27] LudmilaGoichman commented on #139
@jeanette-pelizzon @adamhstewart @anvmn

- Could you please give me the permissions for the logic file? https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493
- In what environment to test it?

[2022-04-13 11:14] anvmn commented on #139
@LudmilaGoichman

Shared it with you.  Can you see it?
Nutrition env.

[2022-04-13 12:10] LudmilaGoichman commented on #139
@anvmn Yes. thank you

[2022-04-18 15:05] anvmn commented on #210
@adamhstewart Implemeted at #209

[2022-04-18 15:20] anvmn commented on #133
This has been deployed for some time now. Closing.

[2022-04-18 19:00] anvmn opened #216 "Historical child view times out [1.5h]"
Takes ~350 seconds to generate results:

![Selection_679](https://user-images.githubusercontent.com/17882245/163860799-899a835f-07cd-4363-a922-6b76549bca55.png)

[2022-04-19 19:30] anvmn commented on #203
@jeanette-pelizzon @adamhstewart

As we discussed, Wait will appear only when all other next steps tasks are completed, and
will have 'Pause encounter' button.

[2022-04-25 16:17] jeanette-pelizzon opened #221 "Wording Fix: Hemoglobin Spelling [2h]"
## Issue
There are two places in the app where the spelling of Hemoglobin is different. Apparently, there are two ways to spell it but for consistency the team would like it to be "Hemoglobin" throughout the app.

## To Do
"Haemoglobin" needs to be changed to "Hemoglobin" on the Progress Report in the Labs Section and in the Long Urine Dipstick Results Input section.

[2022-04-25 17:07] jeanette-pelizzon opened #222 "ANC Logic - Hep B + HIV - Known Positive [4h]"
## Issue

In the ANC labs section, we ask if the patient is known positive under the HIV RDT activity + the Hep B activity. If a patient is known positive, it currently leaves the lab results section blank and isn't updating anywhere else on the progress report. Both CHW's and Nurses, need to see on the progress report if a patient is known positive for either of these.

If a patient is known posi

[2022-04-26 07:33] Diama1 commented on #221
@jeanette-pelizzon Since I am working on Translations can I combine this issue with the translations issue #196

[2022-04-26 07:57] anvmn commented on #221
@Diama1

No you can not. This fix should come on top on ANC Logic branch.
By the way, there should be an issue for translation of ANC Logic feature as well.

[2022-04-26 07:59] Diama1 commented on #221
oh Thank you let me do it like that

[2022-04-26 12:14] Diama1 opened #224 "ANC Logic - Translations for Anc Logic"
## Issue
Adding translations for ANC Logic feature

## Tasks
- List texts that need translations
- Add translations in the app

[2022-04-26 16:40] jeanette-pelizzon opened #226 "Feature: ANC Subsequent Visit"
## Feature Description

This feature updates aspects of the ANC subsequent visit at the Health Center, as well as diagnosis and next steps logic. This logic incorporates health protocols and allows for consistency of care.

## Logic Document
The logic for ANC subsequent visit can be found [here](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493

[2022-04-26 18:29] jeanette-pelizzon opened #227 "ANC Subs Visit - Add Activity - Symptom Review [2h]"
## Issue

Building upon the existing subsequent encounter activities for ANC @ Health Centers, we will be adding a Symptom Review Activity.

The Symptom Review activity should appear 2nd in the tray, after Danger Signs.

Individual Icon:
![Symptom Review](https://user-images.githubusercontent.com/77505464/165367671-1da4dfba-f0ba-44a0-a8c0-a48ac382c358.jpg)

Tray View:
<img width="301" alt="Screen

[2022-04-26 19:34] jeanette-pelizzon opened #229 "ANC Subs Visit - Symptom Review Follow Up Questions [8h]"
## Issue

Certain symptoms in the symptom review will require follow-up questions which will later determine the diagnosis. If these symptoms are selected in the first screen, the appropriate follow-up questions will appear.

First, a user will select the symptoms the patient is experiencing. Then they will press save. Next, a screen populates with the follow-up questions for the selected symptoms

[2022-04-26 20:05] jeanette-pelizzon opened #230 "ANC Subs Visit - Next Steps - Nausea + Vomiting [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have nausea + vomiting as a symptom for the FIRST TIME  and answer no to all the follow-up questions, they will not see a diagnosis pop-up but they wil

[2022-04-26 20:14] jeanette-pelizzon opened #231 "ANC Subs Visit - Next Steps - Hyperemesis Gravidum (Dehydration) [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change. In the case of Hyperemesis Gravidum, we also diagnose it from a danger sign.

Here are the three different ways Hyperemesis Gravidum can be diagnosed.

(1) Any Encounter -> Danger Sign = S

[2022-04-26 20:22] jeanette-pelizzon opened #232 "ANC Subs Visit - Next Steps - Heartburn [4h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

**First Time**
When a patient identifies that they have heartburn a symptom for the FIRST TIME, we provide health education and medication
Pop-Up | Health Education | Medication
--|--|--

[2022-04-26 20:25] jeanette-pelizzon opened #233 "ANC Subs Visit - Next Steps - Leg Cramps [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have leg cramps as a symptom at any visit, we provide health education (even if it is the 2nd or 3rd time they have had this symptom)

<img width="325"

[2022-04-26 20:27] jeanette-pelizzon opened #234 "ANC Subs Visit - Next Steps - Lower Back Pain [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have lower back pain as a symptom at any visit, we provide health education (even if it is the 2nd or 3rd time they have had this symptom)

<img width=

[2022-04-26 20:30] jeanette-pelizzon opened #235 "ANC Subs Visit - Next Steps - Constipation [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have constipation as a symptom at any visit, we provide health education (even if it is the 2nd or 3rd time they have had this symptom)

<img width="33

[2022-04-26 20:32] jeanette-pelizzon opened #236 "ANC Subs Visit - Next Steps - Varicose Veins [2hr]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have varicose veins as a symptom at any visit, we provide health education (even if it is the 2nd or 3rd time they have had this symptom)

<img width="

[2022-04-26 20:35] jeanette-pelizzon opened #237 "ANC Subs Visit - Next Steps - Leg Pain or Redness [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have leg pains as a symptom at any visit and answer NO to all follow-up questions, we provide health education (even if it is the 2nd or 3rd time they

[2022-04-26 20:37] jeanette-pelizzon opened #238 "ANC Subs Visit - Next Steps - Leg Redness [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have leg cramps as a symptom at any visit, we provide health education (even if it is the 2nd or 3rd time they have had this symptom)

<img width="352"

[2022-04-26 20:40] jeanette-pelizzon opened #239 "ANC Subs Visit - Next Steps - Deep Vein Thrombosis (DVT) [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have:

(1) (ANY VISIT) Symptom Review: Leg Redness + at least one yes to the follow-up questions
(2) (ANY VISIT) Symptom Review: Leg Pain + at least on

[2022-04-26 21:08] jeanette-pelizzon opened #240 "ANC Subs Visit - Next Steps - Tuberculosis [2h]"
## Issue

When a patient identifies that they have had a cough for more than 2 weeks, we direct the user to follow TB protocols via a pop-up. There is no normal screen as the TB protocols can vary.

<img width="280" alt="Screen Shot 2022-04-26 at 5 07 53 PM" src="https://user-images.githubusercontent.com/77505464/165392626-8529ad55-dccd-4429-a99a-35ce1412429b.png">

## Supporting Documents:
You ca

[2022-04-26 21:25] jeanette-pelizzon opened #241 "ANC Subs Visit - Next Steps - Pelvic Pain [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

**First Time**
When a patient identifies that they have pelvic pain as a symptom for the first time and answer no to all follow-up questions, we provide health education.

<img width="290

[2022-04-26 21:30] jeanette-pelizzon opened #242 "ANC Subs Visit - Next Steps - Lower Urinary Tract Infection [2h]"
## Issue
In subsequent encounters, a patient may identify a symptom for the first time which will result in a specific diagnosis. If they return and identify the same symptom again then the diagnosis may change.

When a patient identifies that they have the following, we prescribe medication.
(1) Symptom Review: Burning with Urination + no to all FU's
(2) Symptom Review: Burning with Urination + u

[2022-04-26 21:33] jeanette-pelizzon opened #243 "ANC Subs Visit - Next Steps - Possible Pyelonephritis [2h]"
## Issue

When a patient identifies that they have the following, we refer them to the hospital.
(1) Symptom Review: Burning with Urination + flank pain

Pop-Up | Referral
--|--
<img width="336" alt="Screen Shot 2022-04-26 at 5 32 32 PM" src="https://user-images.githubusercontent.com/77505464/165396073-30435352-4a04-4f85-a20f-543c52f7d015.png"> | <img width="335" alt="Screen Shot 2022-04-26 at 5 3

[2022-04-26 21:36] jeanette-pelizzon opened #244 "ANC Subs Visit - Next Steps - Candidiasis (Yeast Infection) [2h]"
## Issue

When a patient identifies that they have the following symptoms, we provide health education and medication:
(1) Symptom Review: Burning with Urination + vaginal itching or discharge

Pop-Up | Health Education | Medication
--|--|--
<img width="316" alt="Screen Shot 2022-04-26 at 5 35 24 PM" src="https://user-images.githubusercontent.com/77505464/165396449-994f80ae-8613-46d8-ad47-93673ecf

[2022-04-26 21:38] jeanette-pelizzon opened #245 "ANC Subs Visit - Next Steps - Gonorrhea [2h]"
## Issue

When a patient identifies that they have the following symptoms, we provide health education and medication:
(1)Symptom Review: Abnormal Vaginal Discharge + partner has urethral discharge (follow-up question)

This diagnosis is unique as we are also recommending medication for the patient's partner. We are not following up on the dispensing of this medicine but do want to have the instru

[2022-04-26 21:42] jeanette-pelizzon opened #246 "ANC Subs Visit - Next Steps - Possible Trichomonas or Bacterial Vaginosis [2h]"
## Issue

When a patient identifies that they have the following symptoms, we provide health education and medication:
(1)Symptom Review: Abnormal Vaginal Discharge + NO to all follow-up questions

Pop-Up | Health Education | Medication
--|--|--
<img width="323" alt="Screen Shot 2022-04-26 at 5 42 14 PM" src="https://user-images.githubusercontent.com/77505464/165397335-be9842c1-ab88-4b4c-bb2c-e457

[2022-04-26 22:08] jeanette-pelizzon opened #247 "ANC Subs Visit - Add Activity - Treatment Review [2h]"
## Issue

Building upon the existing subsequent encounter activities for ANC @ Health Centers, we will be adding a Treatment Review Activity to REPLACE the current medication activity

The Treatment Review activity should appear 6thin the tray, after Family Planning.

Individual Icon:
![Treatment History](https://user-images.githubusercontent.com/77505464/165400648-516cf34d-bd45-453c-a5ed-d255869d

[2022-04-27 17:24] jeanette-pelizzon opened #248 "ANC Subs Visit - Treatment History - Prenatal Medication [2h]"
## Issue

We are moving the previous "Medication" activity to a subactivity under "Treatment Review." We are changing the name to "Prenatal Medication." This is because, during subsequent encounters, the healthcare worker will need to follow up with the patient on the treatment protocol that they were prescribed during their previous visit. It makes the most sense, clinically, to have the prenatal

[2022-04-27 18:09] jeanette-pelizzon opened #249 "ANC Subs Visit - Treatment History - HIV Medication [6h]"
## Issue

Under the "Treatment Review" activity, an HIV medication sub-activity will populate if the patient was diagnosed with HIV in a previous encounter. This is necessary for the healthcare worker to follow up with the patient and ensure they are correctly taking their medications and that their symptoms are improving. This activity will only populate for patients who were diagnosed with HIV p

[2022-04-27 19:16] jeanette-pelizzon opened #250 "ANC Subs Visit - Treatment History - Hypertension [2h]"
## Issue

Under the "Treatment Review" activity, a Hypertension medication sub-activity will populate if the patient was diagnosed with hypertension in a previous encounter. This is necessary for the healthcare worker to follow up with the patient and ensure they are correctly taking their medications and that their symptoms are improving. This activity will only populate for patients who were dia

[2022-04-27 19:21] jeanette-pelizzon opened #251 "ANC Subs Visit - Treatment History - Malaria [2h]"
## Issue
Under the "Treatment Review" activity, a Malaria medication sub-activity will populate if the patient was diagnosed with Malaria in a previous encounter. This is necessary for the healthcare worker to follow up with the patient and ensure they are correctly taking their medications and that their symptoms are improving. This activity will only populate for patients who were diagnosed prev

[2022-04-27 19:23] jeanette-pelizzon opened #252 "ANC Subs Visit - Treatment History - Anemia [2h]"
## Issue
Under the "Treatment Review" activity, an anemia medication sub-activity will populate if the patient was diagnosed with Anemia in a previous encounter. This is necessary for the healthcare worker to follow up with the patient and ensure they are correctly taking their medications and that their symptoms are improving. This activity will only populate for patients who were diagnosed previ

[2022-04-27 19:26] jeanette-pelizzon opened #253 "ANC Subs Visit - Treatment History - Syphilis [2h]"
## Issue
Under the "Treatment Review" activity, a Syphilis medication sub-activity will populate if the patient was diagnosed with Syphilis in a previous encounter. This is necessary for the healthcare worker to follow up with the patient and ensure they are correctly taking their medications and that their symptoms are improving. This activity will only populate for patients who were diagnosed pr

[2022-04-27 19:40] adamhstewart opened #255 ""Stack" medication disbursements in the case of multiple diagnoses [12h]"
## Issue

Identified in https://github.com/TIP-Global-Health/eheza-app/issues/152#issuecomment-1083191434 and https://github.com/TIP-Global-Health/eheza-app/issues/124#issuecomment-1082437031 in some cases a patient may have multiple diagnoses and as a result different sets of instructions for the different conditions. These instructions and dosing should all appear on the same screen separated by

[2022-04-27 20:26] jeanette-pelizzon opened #256 "ANC Subs Visit - Next Steps - Updated Hypertension Meds [6h]"
## Issue

When a patient returns to the health center for a subsequent visit, the healthcare worker goes through a treatment review with them to ensure they are taking their medicine appropriately. This happens in the treatment review activity. (#249)

In the case of hypertension, the nurse takes information told to them in the treatment review PLUS the numbers during the exam to make a decision o

[2022-04-27 20:43] jeanette-pelizzon opened #257 "ANC Subs Visit - History - Outside Care [4h]"
## Issue
It is possible that a patient will have gone to another health center and/or received care outside of E-Heza during their pregnancy. They could have been diagnosed with a condition and received medication. We need to document this in E-Heza. To do this, we have added a sub-activity called "Outside Care" under the "History" activity. This sub-activity will follow the "Partner Information"

[2022-04-28 19:09] adamhstewart commented on #133
@anvmn reopeing as there's still the same issues.

[2022-04-28 20:42] jeanette-pelizzon opened #258 "ANC Subs Visit - Labs - History Subactivity [6h]"
## Issue

When we previously discussed labs, we created a way for the nurses to input results into E-Heza via case management. We are going to keep this. However, due to the fact that the labs affect the diagnosis, it's imperative that we have the results in E-Heza. When a patient comes back for a subsequent encounter, their healthcare worker will now be prompted to input any missing lab results i

[2022-04-28 20:44] jeanette-pelizzon opened #259 "ANC Subs Visit - Case Management - ANC Labs [2h]"
## Issue

We now have lab results that are typically not returned during the 14-day window that we have set up for case management. We need to change this cut-off point to 35 days as it often takes a month to have some test results returned to the health center.

## To Do:
- Change the logic from 15 days to 35 days

[2022-04-28 22:02] jeanette-pelizzon opened #260 "ANC Subs Visit - Labs - HIV PCR [2h]"
## Issue

If a patient is pregnant and positive for HIV, we need to do a different type of HIV test on them to track their viral load- how many copies of the HIV virus are present in a certain amount of blood. This is important because the patient's viral load needs to be below a certain threshold by the time they give birth so they do not pass the virus along to their baby. We track the viral loa

[2022-04-28 22:17] jeanette-pelizzon opened #261 "ANC Subs Visit - Immunization Activity [4h]"
## Issue

We are adding in an immunization activity into the ANC subsequent encounter. It will come before the Lab activity. It will have the same structure as the immunization activity in SPV. However, the only immunization is tetanus. I will make a separate activity for the Tetanus immunization sub-activity.

## To Do :
- Create architecture for Immunization Activity

[2022-05-01 18:39] anvmn commented on #207
PR merged. Closing...

[2022-05-01 18:39] #207 closed, assigned to AronNovak

[2022-05-01 19:22] anvmn commented on #226
@jeanette-pelizzon

Currently we have:

![Selection_711](https://user-images.githubusercontent.com/17882245/166161262-654c79b1-9c69-4745-b28d-0471aa47b263.png)

At design we have:

![Selection_710](https://user-images.githubusercontent.com/17882245/166161247-02ff0464-da4f-4b14-803c-c5eca164c3a5.png)

- History and Examination have switched places. Is this intentional?
- Don't see Malaria preventio

[2022-05-02 07:28] anvmn commented on #229
@jeanette-pelizzon

This division to 2 screens is technically complex, and may not be necessary.
If we insist on it, there should be an option of going back to first screen to edit the symptoms.
I suggets to make follow up questions dynamic, so, when symptom is selected,
it's questions appear on the bottom.

//cc @adamhstewart

[2022-05-02 07:31] anvmn commented on #229
@jeanette-pelizzon
Leg pain and leg redness, got similar questions (at discription it's same screenshot which is a mistake, but even at Figma we have similar ones).
Can you please make a design when these 2 are stacked together?

[2022-05-02 07:36] anvmn commented on #229
@jeanette-pelizzon

![image](https://user-images.githubusercontent.com/17882245/166199952-704e0c40-8f89-408b-8e3b-2747ec91fd7e.png)

Making this dynamic is overcomplicating things. We can have 4 checkboxes with options: No, left, right, both.
Similar to:
![Selection_714](https://user-images.githubusercontent.com/17882245/166200327-316eca44-64e6-44ae-b297-db9ddc4bf60e.png)

[2022-05-02 12:54] jeanette-pelizzon commented on #247
Updated main issue with related issues and more information about sub-activities.

[2022-05-02 15:40] jeanette-pelizzon commented on #226
I do not see the malaria prevention activity in the nutrition environment. This is what I see:
<img width="715" alt="Screen Shot 2022-05-02 at 10 46 49 AM" src="https://user-images.githubusercontent.com/77505464/166260228-e9df40d4-7349-48ea-9698-0ddc41662123.png">

History and Examination were switched in design by accident. This screen shot shows all the activities for subs visit as I have them n

[2022-05-02 16:09] jeanette-pelizzon commented on #229
They are the same questions. A patient may not have both leg redness and leg pain. They are asked the follow-up questions to determine if they have a more severe issue. If they have both leg pain and leg redness can we create some logic that they only get asked the follow-up questions once?

[2022-05-02 17:17] jeanette-pelizzon commented on #229
Okay, updated the design:
<img width="259" alt="Screen Shot 2022-05-02 at 1 17 29 PM" src="https://user-images.githubusercontent.com/77505464/166293948-bbc62f38-0c54-4f35-ab45-f978c6ea38c9.png">

[2022-05-03 07:03] anvmn commented on #98
@adamhstewart we had discussed this few weeks ago, and concluded there's no problem.
Moving this to QA column.

[2022-05-03 15:37] jeanette-pelizzon commented on #238
Closing this issue. It is being combined with Leg Pain.

[2022-05-03 15:37] #238 closed, assigned to anvmn

[2022-05-03 15:40] jeanette-pelizzon commented on #229
We have combined leg pain and leg redness into one symptom called "Leg pain or redness." Here is the new combined follow up screen/questions.

<img width="382" alt="Screen Shot 2022-05-03 at 11 37 19 AM" src="https://user-images.githubusercontent.com/77505464/166486721-7e394d6d-99ac-408d-bc9e-48df9ce299d4.png">
 for this symptom

// @anvmn

[2022-05-03 15:45] jeanette-pelizzon commented on #237
Updated this screen to:

(1) include leg redness as well
(2) added in the follow-up question so it is in the same format as other health education screens in the app

<img width="346" alt="Screen Shot 2022-05-03 at 11 43 08 AM" src="https://user-images.githubusercontent.com/77505464/166487738-73825fca-c934-4f02-b3f6-f9e2a70b0eb8.png">

// @anvmn

[2022-05-03 16:30] jeanette-pelizzon commented on #232
updated the health education screen so that it includes the question:

<img width="296" alt="Screen Shot 2022-05-03 at 12 28 07 PM" src="https://user-images.githubusercontent.com/77505464/166496975-dc66bc70-c62f-4a6f-83cb-537e7e90e873.png">

[2022-05-03 16:55] jeanette-pelizzon commented on #236
Updated the screen to include the question and match other Health Education sections in the app:
<img width="237" alt="Screen Shot 2022-05-03 at 1 21 47 PM" src="https://user-images.githubusercontent.com/77505464/166505834-3288539d-e1aa-4720-b064-c99f25ddacf3.png">

[2022-05-03 16:56] jeanette-pelizzon commented on #234
updated the health education screen to include the question:

<img width="339" alt="Screen Shot 2022-05-03 at 12 56 01 PM" src="https://user-images.githubusercontent.com/77505464/166502149-39c3b839-8d40-40df-8ec5-d201bd3f1568.png">

[2022-05-03 16:57] jeanette-pelizzon commented on #241
updated the Health Education screen to include the question:

<img width="204" alt="Screen Shot 2022-05-03 at 12 58 10 PM" src="https://user-images.githubusercontent.com/77505464/166502468-f25f3595-c6d1-44c7-bcae-474878a244e0.png">

[2022-05-03 16:59] jeanette-pelizzon commented on #235
updated the health education screen to include the questions:

<img width="315" alt="Screen Shot 2022-05-03 at 12 59 09 PM" src="https://user-images.githubusercontent.com/77505464/166502665-81656995-ae65-4bc2-82bd-92a8a4cf1884.png">

[2022-05-03 17:02] jeanette-pelizzon commented on #233
updated the health education screen to include the question:

<img width="325" alt="Screen Shot 2022-05-03 at 1 03 26 PM" src="https://user-images.githubusercontent.com/77505464/166503278-2ac3fb3b-3a10-4560-bc2a-f19ff528c3d3.png">

[2022-05-03 17:05] jeanette-pelizzon commented on #244
updated health education screen to include question:

<img width="326" alt="Screen Shot 2022-05-03 at 1 04 52 PM" src="https://user-images.githubusercontent.com/77505464/166503531-193f4341-30d0-4923-b0d3-02af162a55f2.png">

[2022-05-03 17:05] jeanette-pelizzon commented on #245
updated health education screen to include question:

<img width="326" alt="Screen Shot 2022-05-03 at 1 04 52 PM" src="https://user-images.githubusercontent.com/77505464/166503576-1570ec52-9dbd-4bbc-9fb1-a06d9862c0f7.png">

[2022-05-03 17:06] jeanette-pelizzon commented on #246
updated health education screen to include question:

<img width="326" alt="Screen Shot 2022-05-03 at 1 04 52 PM" src="https://user-images.githubusercontent.com/77505464/166503616-b0dd2441-d29e-43f9-a3bb-1292ee44bbe2.png">

[2022-05-03 17:26] jeanette-pelizzon commented on #230
updated the health education screen to include the question and fit the style of other health education screens for stacking:
<img width="250" alt="Screen Shot 2022-05-03 at 1 25 35 PM" src="https://user-images.githubusercontent.com/77505464/166506453-b9b6cc7f-0c98-4766-80b8-57a362b87f5b.png">

[2022-05-03 19:57] jeanette-pelizzon commented on #226
updated to include the malaria activity (it only appears if not done previously)

<img width="307" alt="Screen Shot 2022-05-03 at 3 57 25 PM" src="https://user-images.githubusercontent.com/77505464/166555889-d07f39f8-7bfd-4f32-926c-5daa567bc4d0.png">

[2022-05-03 20:22] jeanette-pelizzon opened #263 "ANC Subs Visit - Next Steps - Continued Illness [6h]"
## Issue

Since this is a subsequent visit, a patient could have been diagnosed with an illness in their first visit (or a previous visit), been prescribed medication, and then still come up positive in a lab or hit the markers for the same illness in the subsequent visit. In this scenario, the next step will be to refer them to the hospital.

(First Visit) Diagnoses with Illness ---> (Next Visit)

[2022-05-03 21:12] jeanette-pelizzon opened #264 "ANC Subs Visit - Next Steps - HIV [6h]"
## Issue
If we diagnosed a patient with HIV in a previous ANC visit, we will run an HIV PCR test on them at each subsequent ANC visit. The goal is to track their HIV viral load throughout their pregnancy to ensure that it is undetectable by the time they are 36 weeks so that they do not pass on HIV to their baby during delivery.

It takes a month for the result to return from the lab in Kigali. On

[2022-05-03 21:19] jeanette-pelizzon opened #265 "ANC Sub Visit - Next Steps - Anemia Contd' [1h]"
## Issue

If a patient was diagnosed with Anemia previously in this pregnancy, and they are continuing to meet the logic for Anemia, we continue on with the next steps as outlined in the original logic. There are no changes to the logic - they will not be referred to the hospital or have a dosage changed.

## To Do
- Ensure the logic is correct for a patient continuing to present as anemic

[2022-05-03 21:33] jeanette-pelizzon opened #266 "ANC Subs Visit - Next Steps - Syphilis [2h]"
## Issue

Once a patient tests positive for Syphilis they will always test positive for Syphilis. So if a patient tested positive for Syph earlier in this pregnancy, and we re-test them, they will continue to show as positive.

We pull the next steps for Syphilis in a subsequent visit from the questions asked during the treatment review section.

If a patient answers YES to the question "Have you

[2022-05-04 16:51] jeanette-pelizzon opened #267 "ANC Progress Report - Labs Section [8h]"
## Issue

After feedback from the team and users in Rwanda, there are some changes that need to be made to the labs section on the ANC Progress report to make it more user-friendly.

I have made [this short video ](https://www.loom.com/share/c42ef98c615e45c3a5a2ba8b3ea26711)explaining the changes.

## Design Files
- You can access the design files in Figma [here](https://www.figma.com/file/0rIDfLl

[2022-05-04 16:56] jeanette-pelizzon opened #268 "ANC Progress Report - Logic [8h]"
## Issue

The app diagnosis needs to populate on the progress report in the appropriate section. The different diagnoses, the wording that should appear on the progress report, and the section that it should appear on can be found on [Logic Master](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=2144570215) on the ANC Progress Report tab. The wording fo

[2022-05-04 18:24] jeanette-pelizzon opened #269 "ANC Subs Activity - Immunization - Tetanus [4h]"
## Issue
During pregnancy, we need to ensure that a woman is up to date on her Tetanus immunization. Tetanus immunization is a series of 5 shots - see the logic below.

Following the immunization flow that we set up in SPV, we will ask the healthcare worker to input the dates of past Tetanus immunizations (if any). Then we verify that the patient has received all 5 in the series. If she has not, w

[2022-05-04 19:05] jeanette-pelizzon opened #270 "ANC Subs Encounter - Lab Results - HIV PCR [3h]"
## Issue

After we take the HIV PCR lab (#260), we need to enter the results in the next steps. This follows the same flow as the first ANC encounter.  The results are numerical and the user will need to put in the numbers using the native keyboard on the device. The numerical option is then followed up by the question to verify if the result is below 20 copies. That would mean that the virus leve

[2022-05-04 19:21] jeanette-pelizzon opened #271 "Patient Record - Family Planning [4h]"
## Issue

Users requested that we add a Family Planning section to the Patient Record. This page will just show a list of the encounter dates where we asked a patient what method of family planning they are using and then the option they selected.

Here are the various options that could populate:
- Auto-observation
- Condoms
- Cycle Beads
- Cycle Counting
- Hysterectomy
- Implants
- Injectables
-

[2022-05-08 06:42] anvmn commented on #232
@jeanette-pelizzon

This issue is underestimated.
We need to:
 - Develop logic to decide which flow to follow
 - Create popup for both flows
 - Add new medication option + style form
 - Add new health education option + style form

Please bump to 4h in total.

[2022-05-08 06:45] anvmn commented on #233
@jeanette-pelizzon

Please update screenshot at issue description.
We need to see complete requirements there.

[2022-05-08 06:46] anvmn commented on #230
@jeanette-pelizzon

Please update screenshot at issue description.
We need to see complete requirements there.

[2022-05-08 07:10] anvmn commented on #201
@adamhstewart

As we discussed at ctach up meeting, I made a check if there's an option to get to this path at nurse subsequent encounter.

If we have a COVID suspect, and nurse indicates that test was not performed, (and Malaria test that we give after is negative) we consider this case as Covid positive.
Also, encounter is not closed automatically, meaning that answers to questions will need to

[2022-05-08 07:21] anvmn commented on #152
@adamhstewart
I believe we do not need this issue for tracking anymore, as we have #255.
Can it be closed?

[2022-05-08 11:16] anvmn commented on #231
@jeanette-pelizzon

We already have this diagnosis for initial encounter. Triggered by `Severe Vomiting` at danger signs.
It's an emergency referral diagnosis, and I believe that here it is as well.

The popup we show is:
![Selection_725](https://user-images.githubusercontent.com/17882245/167293694-bafd630c-4f2d-48c9-ba16-dbb0877eec3f.png)

Do we need to show popup with different instructions for

[2022-05-09 06:46] anvmn commented on #240
@jeanette-pelizzon

1. Why do we have 4 follow up questions for this symptom, if we do not look at them?
2. I believe that similart any treatment, this should be recorded at Medication distribution activity (similar for what we have for Malaria). Here we'll have 2 options - protocols and no treatment administered.

[2022-05-09 07:05] anvmn commented on #232
@jeanette-pelizzon

About the popups, and navigation after diagnosis is made.
We need to remeber that we have logic and styling developend for initial encounter, and it has to be same at subsequent encounter.
For example, if we do not diagnose Malaria on initial encounter, and we do on subsequent, we view notifications on this exactly as we would on initial encounter.

Flow 1, where we provide hea

[2022-05-09 16:12] jeanette-pelizzon commented on #232
Updated the to-do section in the main issue and bumped the time up

[2022-05-09 16:27] jeanette-pelizzon commented on #232
Alright. Just keep the first part with the diagnosis then and we can remove the second bit.

[2022-05-09 16:33] jeanette-pelizzon commented on #231
Good catch, the pop-up/flow can be the same as it was initially. We just need to add in the logic for the new trigger. But next steps and everything else can be the same. Ill update the main issue here.

[2022-05-09 16:48] jeanette-pelizzon commented on #240
It's my understanding that there will eventually be TB protocols built into E-Heza. It was more complicated than initially expected so that's why we have the "follow TB protocols" pop-up as a holdover for now.

I would need to double check on this but I believe it should pop-up mid-flow so they can take precautionary measures during the exam. @leowea can confirm

[2022-05-09 17:10] jeanette-pelizzon opened #273 "Patient Record - ANC to Only Appear for Female Patients [2h]"
## Issue

Currently, in the Patient Record the ANC section is populating for both female and male patients. The team has requested that the ANC section be hidden for male patients.

## To Do:
- Update logic for patient record

[2022-05-09 18:14] jeanette-pelizzon commented on #240
@anvmn spoke with Wendy on this - with TB we should keep the pop-up where it is. There are no next steps for this but the nurse/patient make need to put on a mask or order some tests (outside of e-heza) during this encounter.

[2022-05-09 18:54] anvmn commented on #232
@jeanette-pelizzon

Something I saw at logic that is not part of description:

![Selection_727](https://user-images.githubusercontent.com/17882245/167478133-9d991631-db9d-4c18-9ba9-6224a5af7291.png)

Do we need to have this implemented?

[2022-05-10 06:36] anvmn commented on #200
@adamhstewart deployed to Nutrition env

[2022-05-10 06:36] anvmn commented on #199
@adamhstewart deployed to Nutrition env

[2022-05-10 06:36] anvmn commented on #201
@adamhstewart deployed to Nutrition env

[2022-05-10 16:20] jeanette-pelizzon commented on #232
@anvmn ah yes this was added in after some conversation. If a patient goes on medicine and 8 days later still has symptoms then we refer to hospital.

[2022-05-10 16:35] jeanette-pelizzon commented on #231
@anvmn spoke to Wendy about this since there are now several ways to trigger this diagnosis.

(1) Any Encounter ->   Danger Sign = Severe Vomiting --> INTERRUPT FLOW Assume Hyperemesis Gravidum and send to hospital

(2) Any Encounter -> Symptom Review = Nausea + Vomiting PLUS a yes to any follow up question --> In next steps, assume Hyperemesis Gravidum and send to hospital

(3) Any Encounter ->

[2022-05-10 19:42] anvmn commented on #246
@jeanette-pelizzon

Regarding medication distribution - since we have single option here, I believe we should follow standard flow of prescriving medication, as we do for HIV, for example:
![Selection_730](https://user-images.githubusercontent.com/17882245/167709257-2104768e-fbf5-4680-99a5-60d0f158c51d.png)

[2022-05-10 19:49] anvmn commented on #245
@jeanette-pelizzon

1. At medication distribution form, we have separate section for each medication. For example:
![Selection_730](https://user-images.githubusercontent.com/17882245/167710168-5b0fac50-cbe5-4647-8e08-3b18da4ca572.png)
Please adjust the design.

2. I believe Health education header should not be saying 'burning on urination', but something else

[2022-05-11 06:49] anvmn commented on #232
@jeanette-pelizzon
What if patient does not take medication, or takes it, but 8 days have not passed yet?

[2022-05-11 07:20] anvmn commented on #244
@jeanette-pelizzon

Looking at Figma, seems to me that this diagnosis is also made for `Abnormal Vaginal Discharge +  itching`:

![Selection_731](https://user-images.githubusercontent.com/17882245/167791791-df32808a-cd5f-4939-8230-60a905f1bbc9.png)

However, I don't see it mentioned in Logic file, and there's no issue for that.
Please advice.

[2022-05-11 15:16] jeanette-pelizzon commented on #245
@anvmn

(1) updated main issue image
(2) burning on urination is the symptom that they are providing health education on to better/prevent - since it appears in three different ones then you can just use the same screen?

[2022-05-11 15:21] jeanette-pelizzon commented on #246
@anvmn sorry I somehow skipped the question. updated the main issue image to be correct

[2022-05-11 16:23] anvmn commented on #245
@jeanette-pelizzon

But this issue symptom is abnormal vaginal discharge, not burning on urination.

[2022-05-11 16:49] jeanette-pelizzon commented on #245
Updated.

[2022-05-11 16:53] jeanette-pelizzon commented on #232
@anvmn alright so I asked today to Wendy and Valens and this has switched. We are taking out the 8 days of medicine stipulation. To track this the way we would need to we would then have to create an entire new encounter type so we are tabling that for now. I have updated the logic document.

[2022-05-11 17:01] jeanette-pelizzon commented on #244
@anvmn had to go back into notes to clarify but there are three ways to diagnose candidiasis. I have updated them on the logic document [here. ](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493)

[2022-05-12 06:57] anvmn commented on #244
@jeanette-pelizzon
Thanks. Please update issue description as well, for consistency.
It will help preventing confusion and may save time when this gets to QA.

[2022-05-15 16:33] anvmn commented on #270
@jeanette-pelizzon

Why do we have this question?

![Selection_741](https://user-images.githubusercontent.com/17882245/168483501-ad7d1a23-0e5c-44dd-984c-7d12773f5236.png)

[2022-05-15 16:46] anvmn commented on #256
@jeanette-pelizzon

1. At #226, we have this under Treatment Review section, but I don't see any relation to it. Why is it there?
2. At first encounter we had 3 treatment options (only Methyldopa). Here we have additional 2. Why do we have them only at subsequent encounter?
3. Hypertension can be diagnoses straight away, or after BP recheck. The design is only for first option. What about the seco

[2022-05-15 17:19] anvmn commented on #263
@jeanette-pelizzon

About `Since this is a subsequent visit, a patient could have been diagnosed with an illness in their first visit, been prescribed medication, and then still come up positive in a lab or hit the markers for the same illness in the subsequent visit`:

1. We need a list of all possible illnesses that meet this criteria. Note that there are illnesses that get diagnosed only on sub

[2022-05-15 17:20] anvmn commented on #260
@jeanette-pelizzon

This requires new CT on backed. The effort is 4h.
Please update estimation.

[2022-05-15 17:39] anvmn commented on #258
@jeanette-pelizzon

Not only that lab results affect the diagnosis, they also determine next steps, like prescribing medication and referring to hospital.
Note that diagnosis determioation, and next steps are performed only when enering results from case management.

None of this will happen when update is performed from this activity (because we operate in context of current encounter, while lab

[2022-05-15 17:47] anvmn commented on #249
@jeanette-pelizzon

1. To be crystal clear here, this issue is only about questions at Treatment review.
The comments we have in green are not related to this specific issue:

![Selection_742](https://user-images.githubusercontent.com/17882245/168486696-35e9e46c-7459-4765-b96a-a04c7050e5bd.png)

Please confirm.

2. Patient that is HIV positive, and not referred to HIV program is given ARVs and Dol

[2022-05-16 12:12] anvmn commented on #257
@jeanette-pelizzon

1. Subsequent encounter introduces new set of diagnoses. Shouldn't they appear as well?
2. There can be multiple diagnoses selected, therefore, the medication form needs to reflect this.
3. Will be there a separate issue for presentation at Progress report?
4. Effort estimation for this is 12h. If you dont plan separate issue for Progress report, add another 4.

[2022-05-16 15:39] jeanette-pelizzon commented on #270
@anvmn it's a clinical thing. If it is below <20 copies then the viral load is undetectable and there are no next steps. If it is above the 20, the pop-up for them needing to follow strict PMTCT protocols comes up. This is also setting us up to have more in-depth HIV activity in the future.

[2022-05-16 15:46] jeanette-pelizzon commented on #256
1. This issue is for the next steps that are derived from the questions we ask in #266. The adherence to the medication will affect how a health care worker moves forward in prescribing things.
2. It's a clinical thing. They give methyldopa and if the condition doesn't respond then they move up certain levels or switch to the other medicine.
3. If they are being diagnosed for the first time with s

[2022-05-16 15:51] jeanette-pelizzon commented on #263
1. It is everything except those listed in the exceptions in the main issue
2. If they are sent to the hospital and then come back and still have the issue I would assume we send them back to the hospital as it means the health center isn't equipped to handle the issue at that level. Tagging @leowea here in case we don't get to this in our meeting.

[2022-05-16 15:52] jeanette-pelizzon commented on #258
@adamhstewart will have to help us problem solve this

[2022-05-16 15:56] jeanette-pelizzon commented on #249
2. this was just an example - if they are prescribed different meds then those should populate there and have the related follow up questions

[2022-05-16 16:14] anvmn commented on #270
@jeanette-pelizzon

We have input where nurse type the exact value.
Why do we need another question?

[2022-05-16 17:14] adamhstewart commented on #258
This makes sense technically, but unfortunately not clinically. Even if a result is from a previous encounter, it should be able to influence a subsequent encounter. The most stark example would be HIV: If someone tested positive for HIV in an earlier encounter, that would always need to be considered in subsequent encounters.

I think what we need here is some mechanism to determine how to handle

[2022-05-17 06:22] anvmn commented on #263
@jeanette-pelizzon

Another question - do we apply this logic only for illnesses that can be diagnosed at first nurse encouter, or, both first and subsequent encounters.

[2022-05-17 06:25] anvmn commented on #249
@jeanette-pelizzon

Do we have clarification for this?
Do we track here only the HIV diagnosis, or the Discordant Partnership diagnosis as well?

[2022-05-17 07:23] anvmn commented on #257
@jeanette-pelizzon

Per our meeting yesterday, we present only the set of diagnoses that appear at design.

I'll make this similar to Medication distribution activity, where we stack medications for multiple diagnoses.
When there's only one option for medication (like HIV for example, will make it Yes/No question).

Please open separate issue with detailed requirments for presentation.

[2022-05-17 08:14] anvmn commented on #224
@Diama1

After merging #225, I still see several places where translation is missing at `Translate.elm` of #157.
For example:
![Selection_750](https://user-images.githubusercontent.com/17882245/168763043-5eb07dbd-95d8-4b8d-9db5-0f8323d6354d.png)

Please complete all translations, or comment, if translation is not needed (medication name, for example).

[2022-05-17 08:17] Diama1 commented on #224
I might have missed it but I am going to put it.

[2022-05-17 16:45] jeanette-pelizzon commented on #249
@anvmn updated the main issue.

1. there are now screenshots for PMTCT, Not PMTCT and discordant partnership (we will be tracking discordant couples now)

2. the green notes in the PMTCT screen shots should be taken into account because in some cases they will have to redo the HIV flow from the 1st encounter to get the right meds.

[2022-05-17 16:50] jeanette-pelizzon commented on #257
@anvmn after talking with wendy there have been changes made to this.

1. Screen 3 has been updated
2. Stacking sounds like a good idea.
3. #268 is the exsisting progress report issue

[2022-05-17 17:00] jeanette-pelizzon commented on #263
@anvmn both first and subsequent.

[2022-05-17 17:09] anvmn commented on #249
@jeanette-pelizzon

+2h please

Please open separate issue with detailed requirements.

[2022-05-17 21:09] jeanette-pelizzon opened #279 "ANC Subs Visit - Treatment History - HIV - Logic [4h]"
## Issue

There are different pathways E-Heza will send a user down based on a patient's answers in the treatment review for HIV medication adherence.

(1) Patient was referred to a PMTCT program after their initial HIV diagnosis + they did NOT receive medicine from PMTCT = in next steps, we prescribe them medicine as if there was no PMTCT program (the TDF + 3TC and Dolutegravir)

(2) Patient was

[2022-05-17 22:33] jeanette-pelizzon commented on #256
@anvmn reviewed notes and updated the main issue for clarity.

[2022-05-17 23:14] leowea commented on #256
@jeanette-pelizzon Hi! Just checking- do you need anything from me on this?

[2022-05-18 06:48] anvmn commented on #256
@jeanette-pelizzon

This is what I see at logics file:
![Selection_752](https://user-images.githubusercontent.com/17882245/168972088-9f0b3d2c-8500-4f6a-a8ad-5e2a38d51146.png)
![Selection_753](https://user-images.githubusercontent.com/17882245/168972104-2cd4c7a9-2b0f-45e1-83a4-a893d27c0539.png)

1. > previously diagnoses with Hypertension + Diagnosed again with hypertension + **Treatment review: No

[2022-05-18 07:23] anvmn commented on #257
@jeanette-pelizzon

'None of these' also needs to be removed (because partient decalred there was new diagnsis).

Please provide one example of how stacking should look.
Also, from my analysis, there are 5 diagnoses we can get medications for:

- Hypertension
- Malaria
- Syphilis
- HIV
- Anemia

We have design for Hypertension - seems to me that Carvedilol and Amlodipine should also appear there.

[2022-05-18 14:48] jeanette-pelizzon commented on #256
2. Here is the table I have from Wendy. (A titration is a dosage level)

<img width="866" alt="Screen Shot 2022-05-18 at 10 46 53 AM" src="https://user-images.githubusercontent.com/77505464/169070403-908e54bb-76b1-4e79-8802-d47059faa571.png">

1. I will have to ask today.

[2022-05-18 14:55] jeanette-pelizzon commented on #257
(1) None of these means that they were diagnosed with something not on this list. Since we are trying not to have health care workers type in we are just having the "none of these" check box there for data keeping purposes.

(2) I will have to work on these screens today and get back to you

(3) outside care is giving a new diagnosis from that list. we already have progress report instructions for

[2022-05-18 15:47] anvmn commented on #257
@jeanette-pelizzon

In this case, I suggest we use `Other`.

From #268 description - `The wording follows a template of Diagnosis + Complications (if any) + Action Taken + Date.`

We have diagnosis, don't have complications, have action only for the ones that were possibly treated with medicine, and don't have date. So, what do we do about missing data?

[2022-05-18 15:50] anvmn commented on #256
@jeanette-pelizzon

So, if I fill that table, I still got blanks:

| Current Medication        | Medication after +1 dose           | Medication after +2 doses  |
| ------------- |:-------------:| -----:|
| Methyldopa (250mg): by mouth 2x a day     | Methyldopa (250mg): by mouth 3x a day | Methyldopa (250mg): by mouth 4x a day |
| Methyldopa (250mg): by mouth 3x a day     | Methyldopa (250mg): by

[2022-05-18 19:24] jeanette-pelizzon commented on #257
(1) Other works for me.

(2) I would say in this case we tweak it a bit to be

_diagnosis + diagnosed by outside care + medication given (if any) + added to patient record on XX/XX/XXX_

Example: Malaria diagnosed by outside care and treated with Coartem added to patient record on 10/07/2021

[2022-05-18 19:59] anvmn commented on #257
@jeanette-pelizzon

I'm now thinking, maybe we need to make it Others, as there may be more than one.

Looks good to me. Lets add these requirements to #268.
What would you like to present if Other(s) was selected?

So far, #268 was about 11 new diagnoses that were intruduced by subsequent visit.
Now we want it to support another 18 diagnoses from outside care.
We need to develop the logic to pull

[2022-05-18 20:45] jeanette-pelizzon commented on #257
**It makes more sense to just be other in English because that can mean 1 other or multiple**

 **if other was selected I think we can just say in medical diagnosis**

**Received a diagnosis from a different health care facility  - please follow up with patient**

**DONE**

[2022-05-19 14:40] jeanette-pelizzon commented on #256
@anvmn

So you will never stop taking Methyldopa, you add on the others. I made this table that outlines how the medication should work. If they are taking the maximum dose and are still having blood pressure that is telling us to up the dose then they should be sent to the hospital because this means they are very, very, very ill. It seems from conversation with Wendy and Valens that this is rare

[2022-05-19 19:29] anvmn commented on #256
@jeanette-pelizzon

OK, That is clear.

Now, getting back to `previously diagnoses with Hypertension + Diagnosed again with hypertension + Treatment review: No adverse effects`, were there any clarifications on what heppens when ther was an adverse event?

Also, I see a contradiction in `Diagnosed again with hypertension` part and the requirements:
![Selection_755](https://user-images.githubuserco

[2022-05-19 19:52] anvmn commented on #257
@jeanette-pelizzon

Are these only options for Hypertension, or they could get Methyldopa 4x + other medicine(s), as per
https://github.com/TIP-Global-Health/eheza-app/issues/256#issuecomment-1131799771?
![Selection_756](https://user-images.githubusercontent.com/17882245/169392143-5b054a5b-2f1f-4266-aabb-a83851b0ca30.png)

[2022-05-19 23:45] jeanette-pelizzon commented on #257
I don't know how common it would be that they get the higher doses elsewhere but perhaps so let's include them for continuity at the very least.

<img width="264" alt="Screen Shot 2022-05-19 at 7 44 11 PM" src="https://user-images.githubusercontent.com/77505464/169421724-c835af8d-2af6-4f01-bc2b-bc24df355782.png">

I will update the image in the main screen.

Do you need screens for the other diagn

[2022-05-19 23:51] jeanette-pelizzon commented on #256
(1) adverse effects - can we talk about on Monday with Adam. There was feedback about this but I am unsure what makes sense to do technically.

(2) if the numbers are <90 and <140 -- that's good! That means the medicine is working and that's why they will continue on their current dosage level if their numbers are below 90 and 140.

I need to follow up with Wendy to see if we need to still do the

[2022-05-20 03:03] leowea commented on #256
@jeanette-pelizzon No need to do the 2-hour wait once hypertension has been diagnosed!

[2022-05-20 13:02] balagan73 commented on #199
https://nutrition-ihangane.pantheonsite.io/

QA Review

### Found issues and questions:

1. The first time I selected the existing acute illness option, both the New acute illness and the Existing acute illness options were available. I have ended this existing acute illness as cured, and then came back and created a new acute illness. Afterwards, only the Existing acute illness option was display

[2022-05-20 13:11] balagan73 commented on #200
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. The first two rows have 25px line height, the 3rd row has 21px line height.
![2-line-height-padding](https://user-images.githubusercontent.com/3536805/169534863-465486f8-7d85-4879-9e92-06cbcee3be77.png)

2. The padding between the first two lines and the 2nd and 3rd lines is different. See image above.

[2022-05-20 13:37] balagan73 commented on #201
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Not sure how to proceed. As far as I can see, Danger signs and Physical exam is working correctly for a nurse.
![2-review-danger-signs](https://user-images.githubusercontent.com/3536805/169539902-801d5acb-5cd7-4f6d-a8e0-a0a563251318.png)
![3-physical-exam](https://user-images.githubusercontent.com/35368

[2022-05-22 09:41] anvmn commented on #257
@jeanette-pelizzon

I need the ones of HIV and Anemia.

[2022-05-22 10:14] anvmn commented on #263
### Analysis:

Diagnoses that are treated with medication on initial nurse encounter:

- Hypertension
- Malaria
- Syphilis
- HIV
- Anemia

Diagnoses that are treated with medication on subsequent nurse encounter:

- Lower Urinary Tract Infection
- Candidiasis
- Possible Gonorrhea
- Possible Trichomonas or Bacterial Vaginosis
- Heartburn

Exceptions listed above are:

- Hypertension
- Syphilis
- HI

[2022-05-22 15:54] anvmn commented on #279
@jeanette-pelizzon

I suppose that this is from this green comment:

![Selection_759](https://user-images.githubusercontent.com/17882245/169704033-3595d775-f286-4cf3-9755-ab7e98e122c3.png)

Does this mean that there's nothing we need to do, and just proceed with encounter as ususal?
We do not track medication given by PMTCT program?

Another question:

Consider this flow:

1. Patient was referred

[2022-05-23 12:45] jeanette-pelizzon commented on #263
@anvmn no we do not need health education if we are referring them to the hospital

[2022-05-23 12:50] jeanette-pelizzon commented on #279
(1) Yes, if they received their meds from PMTCT then, to my understanding, PMTCT is following up with them on all adherence and dosage stuff so we don't need to worry about that.

(2) In this scenario, as I understand it, we would keep giving them medicine because they need to keep refilling their prescription. However, I will need to check with Wendy about how she wants to handle this because if

[2022-05-23 21:35] jeanette-pelizzon commented on #257
@anvmn

Screens below. The checkboxes should be able to have multiple selected so that the health care worker can choose the right combination of medication that the patient is receiving.

Hypertension (updated) | Anemia | HIV
--|--|--
<img width="297" alt="Screen Shot 2022-05-23 at 5 33 27 PM" src="https://user-images.githubusercontent.com/77505464/169909469-5d504316-4ce0-462e-aa37-3780281b2546.p

[2022-05-23 21:46] jeanette-pelizzon commented on #279
@anvmn so if a patient is PMTCT and they come in and have not received medication from PMTCT we will give them medicine and we will make sure they no longer go into any PMTCT flows from then on. Essentially we are moving that patient from PMTCT to our care.

[2022-05-24 06:22] anvmn commented on #257
@jeanette-pelizzon

Well, this will require a considerable rework. So far we had single selection everywhere. Supporting multiple selection alone will require additional 4h.
Also, we have some new options that are not perscribed at our APP - additioanl variant of Iron, Lamivudine and Tenofovir.
After seeing these changes, I'll have to ask you for designs for Malaria and Syphilis, and please mentio

[2022-05-24 17:26] anvmn commented on #264
@jeanette-pelizzon

Since we show a combo for all diagnoses when entering next steps, only first part of popup can be presented.
Maybe we should view that message for second part on the form itself?

[2022-05-24 18:36] jeanette-pelizzon commented on #257
New screens per our call today. Please note HIV has been updated. All should be multiple choice.

Malaria | Syphilis | Hypertension (Updated) | Anemia | HIV (Updated)
--|--|--|--|--
<img width="226" alt="Screen Shot 2022-05-24 at 2 34 55 PM" src="https://user-images.githubusercontent.com/77505464/170107916-3937b552-997d-4134-9171-074ca367f68a.png"> | <img width="226" alt="Screen Shot 2022-05-24 at

[2022-05-24 19:57] jeanette-pelizzon opened #284 "ANC Subs Visit - Treatment Review - Adverse Reaction - Next Steps [4h]"
## Issue:

If a patient states that they did not take their medicine due to an adverse reaction, we need to have the health care worker decide if they would then like to refer them to the hospital at the end of the encounter. If the adverse reaction is selected as a reason, a boolean question will appear "The patient had an adverse reaction to the medication. Would you like to refer them to the ho

[2022-05-30 16:22] LudmilaGoichman commented on #139
@anvmn

- Nutrition env.
- https://whatismybrowser.com/w/Y2P4JKX

************************************************************

### Questions/Found Issues:
1. Should this popup also contain the Hypertension diagnosis if there is preeclampsia? I didn't find it in the design. And if yes, then the text should be changed - I think that "Patient shows signs of" should not be repeated twice.

<img width

[2022-05-31 20:39] anvmn commented on #264
@jeanette-pelizzon

This issue is very much underestimated, because it got extra layers of complexity.
1. Health education is to appear as next step on 'Lab Results' phase of encounter, and right now we don't have it. So, it's not only to expand the form, but add infrastructure to view the task.
2. Health education appears on regular encounter as well, so, similar to medication distribution, this

[2022-06-02 08:53] #177 closed, assigned to anvmn

[2022-06-02 19:55] jeanette-pelizzon opened #289 "ANC Subs Visit - Maternal Mental Health Activity Infrastructure [2h]"
## Issue

We are adding a new activity to the ANC Subsequent Visit at the Health Center - Maternal Mental Health. This activity should appear before the Photo activity in the tray. This activity should appear starting at 28 weeks EGA. It only needs to be done once during pregnancy, so once it is completed once it should not appear again.

Icon SVG can be found in [Figma - Components - Icons](https

[2022-06-02 20:44] jeanette-pelizzon opened #290 "ANC Subs Visit - Maternal Mental Health [11h]"
## Issue
The Maternal Mental Health activity consists of a series of questions - a survey - that the nurse will ask the patient. Each answer is given a score. The activity needs to tally up the score to create a diagnosis at the end. There are ten screens with one question each and a list of answers. This was an intentional design and clinical decision to make it easier for the user to navigate an

[2022-06-02 21:18] jeanette-pelizzon opened #291 "ANC Subs Visit - Maternal Mental Health Logic [4h]"
## Issue:
Each answer in the Maternal Mental Health Survey has points associated with it. The diagnosis is determined based on the cumulative amount of points a patient has throughout the survey. Essentially, we need to tally up the points.

All diagnoses will appear in the next steps with the exception of Suicide Risk which should pop up at the final screen of the survey. The pop-up will need to

[2022-06-06 23:31] jeanette-pelizzon opened #292 "Whatsapp Integration [10h]"
## Issue

Nurses and CHWs need a way to share a patient's progress report with them. To do this, we are doing a WhatsApp integration. At the bottom of the progress reports, we are including a new button where they can "send via whatsapp".

**Flow**:
Hit "Send Via WhatsApp" Button --> consent Screen --> validate phone number (branches off if new number is needed)--> choose which portions of the rep

[2022-06-07 08:50] anvmn commented on #261
@jeanette-pelizzon

Why is it added to subsequent encounter only?
Shouldn't we do it at first nurse encounter?

[2022-06-07 09:01] anvmn commented on #269
@jeanette-pelizzon

I looked through designes at Figa, and I don't see all possible pathes.
I don't see how previous dates of vaccines are viewed and updated, and how we record that vaccination was given today.
We did have something similar for SPV, however, here we ask some additional question, so it's not clear to me how this all shoul look when combined together (not mention that QA person that

[2022-06-07 09:51] anvmn commented on #291
@jeanette-pelizzon

If we have conditional logic at helper text, why do we always refer to hospital?

![Selection_802](https://user-images.githubusercontent.com/17882245/172351415-3a9c9473-c6c8-4afc-b4f8-26daf55b7e2b.png)

[2022-06-07 09:54] anvmn commented on #290
@jeanette-pelizzon
There's no option of going back in screens to edit answers. Is this intentional?

[2022-06-07 15:36] jeanette-pelizzon commented on #261
We can check with @leowea but, so far, it has only been talked about in the context of the subsequent visits.

[2022-06-07 15:39] jeanette-pelizzon commented on #291
@anvmn there is one that does not refer to a hospital and is just health education. The text is different on the mental health referral screens because some health centers may have a mental health specialist on site but if not they will refer to a hospital.

[2022-06-07 15:44] anvmn commented on #291
@jeanette-pelizzon
OK, so what should nurse do if there is mental health specialist at health center? Per design she's always shown referral to hospital form.

[2022-06-07 17:41] leowea commented on #261
@jeanette-pelizzon Sorry about this- we noted it later, but it should be a part of the ANC process beginning with the first encounter. // @anvmn thanks for catching this!

[2022-06-08 15:56] jeanette-pelizzon commented on #290
@anvmn

(1) Updated with a back button in case a patient changes their answer after the nurse moves on.
(2) added in an 11th screen to verify whether the health center has a mental health specialist as we spoke about yesterday.

[2022-06-08 17:52] anvmn commented on #290
@jeanette-pelizzon

Please provide a design how this for should look when there's mental health specialist at HC:

![Selection_804](https://user-images.githubusercontent.com/17882245/172684146-3e851a5d-3ee3-4533-a8a8-95aa89cab534.png)

[2022-06-08 18:31] jeanette-pelizzon commented on #290
@anvmn updated relevant issues (#291)

[2022-06-08 18:31] jeanette-pelizzon commented on #291
Updated main issue with new designs for follow ups.

@anvmn

[2022-06-10 09:13] AronNovak opened #295 "DDEV issue with Terminus"
[code]

[2022-06-10 09:14] AronNovak commented on #295
@adamhstewart @anvmn We should robustly downgrade Terminus inside DDEV, likely by adding the `phar` binary to the repository, to not rely on API limits, etc for the download, I started the process, then I realized that it's not strictly related to my assignments, so here's the issue for this.

[2022-06-13 06:12] anvmn commented on #291
@jeanette-pelizzon

I believe we need to refine these options:

![Selection_825](https://user-images.githubusercontent.com/17882245/173290769-138e2258-a6cd-4522-be9f-a082d8ced9cd.png)

[2022-06-13 07:03] anvmn commented on #264
@jeanette-pelizzon
Should this somehow be reflected on progress report?

[2022-06-13 07:05] anvmn commented on #270
@jeanette-pelizzon
Should this somehow be reflected at Labs section of Progress report?

[2022-06-13 15:20] jeanette-pelizzon commented on #269
@anvmn made changes to flow in Figma. You can see it [here](https://www.figma.com/file/0rIDfLlgZ3KHSt0VAOP2za/ANC-%7C-Health-Center?node-id=127%3A13021) and it is labeled example immunization flow.

I have also made a [quick video](https://www.loom.com/share/e7d69a47ca3e4b6a9f8ef8d98e60b7d9) walking through that is hopefully helpful.

[2022-06-13 16:59] anvmn commented on #291
@jeanette-pelizzon
Should this be reflected at Progress report somehow?
I don't see any definitions for it at logics file.

[2022-06-13 17:38] jeanette-pelizzon commented on #291
@anvmn let's just remove the ambulance option and keep the other three.

[2022-06-13 17:40] jeanette-pelizzon commented on #270
Yes, because the report the nurse gets just says below 20 but not the exact number. So they can put a number in above 20 or they will hit the button that the viral load is under 20.

[2022-06-15 08:34] anvmn commented on #269
@jeanette-pelizzon

At well child, we have a helper text on form that provides explanation when vaccination should be administered:

![Selection_836](https://user-images.githubusercontent.com/17882245/173794771-47e82ae1-755f-4d20-8ff2-68d9dc5caa3d.png)

Do we need one for tetanus as well?

[2022-06-15 11:30] anvmn commented on #269
@jeanette-pelizzon

When describing intervals between vaccinations, there's `or during subsequent pregnancy` part.
With current data set we collect, there's no way of knowing this for sure.
I mean we know for sure, if we recorded that shot was given during one of previous encounters at current pregnancy, but if it was not, we still can't be sure it was not given.
How do we handle this?

//cc @adam

[2022-06-15 14:19] #152 closed, assigned to anvmn, jeanette-pelizzon

[2022-06-15 19:24] anvmn opened #298 "Drupal v7.90 [0.5h]"
https://www.drupal.org/project/drupal/releases/7.90

[2022-06-15 19:32] anvmn commented on #298
Deployed to live (through Pantheon):

![Selection_838](https://user-images.githubusercontent.com/17882245/173909315-16ba9f8b-f766-4e16-9cdb-61eb29d6626a.png)

[2022-06-15 19:50] anvmn commented on #298
PR with core version update merged.
This is done... Closing.

[2022-06-15 19:50] #298 closed, assigned to anvmn

[2022-06-16 01:07] jeanette-pelizzon commented on #291
@anvmn got an answer for this.

On the progress report, this result should appear under the Obstetrical Diagnosis section. This is what it should say:

"EPDS performed on XX/XX/XXXX - DIAGNOSIS"

Possible Diagnoses:

- Depression Not Likely
- Depression Possible
- Fairly High Possibility of Depression
- Probable Depression
- Suicide Risk

[2022-06-19 18:53] anvmn commented on #267
@jeanette-pelizzon

I need definitions of Normal ranges for some of parameters were present:

1. These 2:
![Selection_843](https://user-images.githubusercontent.com/17882245/174496054-be95013f-5cf0-4768-bb4b-984a9b04958b.png)

2. All of these:
![Selection_842](https://user-images.githubusercontent.com/17882245/174496063-6e5a332c-62c5-4587-8040-794a32e34238.png)

Couldn't find it on logics file.

[2022-06-20 17:26] jeanette-pelizzon commented on #267
@anvmn

The lab info was in a separate document but I just pulled it over to the logic file [here] (https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1285901434) so that we can have everything in one place. There are some that I did some investigating on that I still have questions about and probably fell through the cracks before. They are highlighted in

[2022-06-20 17:28] jeanette-pelizzon commented on #269
@anvmn no I don't think we need that text here. We put the helper text on SPV because it was a request from the mom's since they are having the nurse explain to the mom/caregiver why they give the vaccine and how often a kid should get it.

[2022-06-20 17:33] jeanette-pelizzon commented on #269
@anvmn @adamhstewart we will have to ask Valens/Wendy about the subsequent pregnancy thing. I will get back to you!

[2022-06-20 17:58] anvmn commented on #267
@jeanette-pelizzon

Thanks. Follow up quesrtions:

1. I don't understand this range:
![Selection_849](https://user-images.githubusercontent.com/17882245/174656310-a61dbe84-f52d-4b58-a534-80b271a1518c.png)

Is it between 11 and 16.5?

2. This looks strange:
![Selection_851](https://user-images.githubusercontent.com/17882245/174656532-c47cf837-4c54-48ef-a022-ca99f0349ac3.png)

We don't have 4.5 as a

[2022-06-20 22:13] jeanette-pelizzon commented on #267
Yep, those ones I have asked about so I will hopefully have answers for you soon

[2022-06-20 22:15] jeanette-pelizzon commented on #264
@anvmn Yes HIV PCR results should go on the progress report in the same form as the other results so it should be

HIV PCR -- DATE -- RESULT -- NORMAL RANGE

Normal Range for HIV PCR = less than 20

[2022-06-20 22:18] jeanette-pelizzon commented on #270
Yes, it should follow the same format of the others. The normal range for HIV PCR is less than 20 copies.

[2022-06-21 10:25] balagan73 commented on #289
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Maternal mental health icon displays before the Photo icon, if EGA is greater than 28 weeks.

After 28 week EGA|Before 28 week EGA
-|-
![2-maternal-health](https://user-images.githubusercontent.com/3536805/174778167-1114a8ac-c84c-4cf0-a0ca-4fd112539a43.png)|![3-no-maternal-health](https://user-images.githubus

[2022-06-21 10:40] anvmn commented on #289
@balagan73

This part needs verification as well: `It only needs to be done once during pregnancy, so once it is completed it should not appear again.`

[2022-06-21 11:27] balagan73 commented on #290
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. There is no back button on the very first screen. Is this a problem?
2. The label of the Back button is Back instead of Go back, and its background is not red. Is this a problem?
3. The background of the Save button is darker than on the design. Is this a problem?

### Checked and approved:

1. Question

[2022-06-21 12:19] balagan73 commented on #291
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Typos on the popup:
![22-typo](https://user-images.githubusercontent.com/3536805/174798440-093e087b-23f7-4a9b-812e-2066d94e8146.png)

Should be 'patient shows...'
![24-typo](https://user-images.githubusercontent.com/3536805/174798016-8c4bbb69-6583-4384-8951-2501ca21af27.png)
![25-typo](https://user-imag

[2022-06-21 18:43] anvmn commented on #264
@jeanette-pelizzon

I mean do we need to present detectable viral load / suppressed viral load diagnosis on medical / obstetrical panes?

[2022-06-21 19:03] jeanette-pelizzon commented on #264
Yes. They need to see the numbers is my understanding. The goal is to prevent transmission to the baby and the numbers matter for that is my understanding.

[2022-06-22 09:32] balagan73 commented on #279
### QA Review

### Found issues and questions:

1. During subsequent antenatal encounter, in Examination -> Nutrition assessment the Height field is not displayed, and BMI is not calculated, thus Nutrition assessment cannot be finished, and encounter cannot be ended.
It seems I did not enter data for height at first encounter, but how was I able to end it then?

BMI not calculated|Cannot end encou

[2022-06-22 12:44] balagan73 commented on #264
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. The virus load information is not reflected on the Progress report.
![4-progress-report](https://user-images.githubusercontent.com/3536805/175031456-3b7e248a-f873-4acd-83e7-dd04c8e609b1.png)

### Checked and approved:

1. On subsequent antenatal encounter when the entered virus load is above 20ppm, the

[2022-06-22 13:31] anvmn commented on #264
@jeanette-pelizzon

This is what it looks like right now. Can we keep as is, or need to change to something?

![Selection_865](https://user-images.githubusercontent.com/17882245/175041508-8412e713-1983-4a52-a24c-4f946685efa9.png)

[2022-06-22 13:40] balagan73 commented on #260
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Questions:

1. Date format is different from design dd/mm/yyyy vs dd-mm-yyyy. Is that a problem?
2. On the HIV PCR test results page the order of fields is different from design, but it is logical, since the HIV PCR Test Result field only displays when No is selected as an answer for the Are there <20 copies/mm3 question. I suppose th

[2022-06-22 13:57] adamhstewart commented on #291
@Diama1 please correct grammatical mistakes:
- "Patient shows...."
- "high possibility"

[2022-06-22 13:58] adamhstewart commented on #289
@balagan73 were you able to verify the above ^^

[2022-06-22 14:00] adamhstewart commented on #290
@jeanette-pelizzon can you confirm that @balagan73 's questions are not problematic in terms of the design intent?

[2022-06-22 14:51] balagan73 commented on #249
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Question:

1. When flow restarts because patient did not receive medication from PMTCT, the wording of the first question is different from design. Is this a problem?
![5-pmtct-no-meds-redo](https://user-images.githubusercontent.com/3536805/175058662-48287f6d-47da-4d59-bac6-08bd7aaae8ba.png)

### Checked and approved:

1.

PMTCT patie

[2022-06-22 15:49] jeanette-pelizzon commented on #267
I got answers to the questions and have updated the [spreadsheet](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1285901434).

[2022-06-22 15:52] jeanette-pelizzon commented on #269
I got the answer for this so the tetanus vaccine is given in the prescribed increments so shot number 5 will be a year after shot number 4 UNLESS a patient is pregnant in which case we give them the tetanus vaccine. The patient will only ever receive a course of 5 tetanus shots in their lifetime. So it's either the prescribed time  after their previous shot or during their next pregnancy (whicheve

[2022-06-22 16:41] anvmn commented on #267
@jeanette-pelizzon

I still don't see an update for:

![Selection_867](https://user-images.githubusercontent.com/17882245/175091060-bb3dd8e5-a4e8-435a-9077-194c33819e8b.png)

Also, these changes require 2 new issues.
1. Adding new options for PH.
2. Removing special gravity from everywhere it appears.

![Selection_866](https://user-images.githubusercontent.com/17882245/175091567-4a3bbd5c-a261-48e4

[2022-06-22 17:43] balagan73 commented on #289
@adamhstewart  Yes, point 2 deals with that part of the issue..

[2022-06-22 18:51] adamhstewart commented on #260
@balagan73 thanks - proper date is DD/MM/YYYY

[2022-06-22 18:54] adamhstewart commented on #279
@anvmn It seems this is related to an issue that @leowea and I encountered while testing yesterday. We thought it might have been related to the photo, but maybe indeed related to a missing height measurement. Can you check to find the root cause that encounters cant be ended?

[2022-06-22 18:55] adamhstewart commented on #264
@anvmn moving this along because the progress report is in a separate issue

[2022-06-23 06:29] balagan73 commented on #279
@anvmn @adamhstewart Not sure, but maybe this whole issue happened because I have suspended encounter to wait for lab results, before correctly filling in the examination forms.

[2022-06-23 08:54] balagan73 commented on #270
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Question: Can we display superscripts where needed?
![3-superscript](https://user-images.githubusercontent.com/3536805/175259284-cfe50e8c-3c2d-4448-8326-2c9f8fd92bbb.png)

### Checked and approved:

1. Result <20 copies/mm3
![1-screen1](https://user-images.githubusercontent.com/3536805/175258741-c743fd4c-a757-4da8-afa0-14a18acb4341.pn

[2022-06-23 09:15] balagan73 commented on #253
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. During subsequent encounter under treatment review no Syphilis medication icon displays. @anvmn Did I miss something?
![5-no-syphilis-med](https://user-images.githubusercontent.com/3536805/175263522-4be6d690-7168-4f13-964f-3f6007f1c0c8.png)

Previous steps taken:

1|2|3
-|-|-
![1-new-diagnosis](https://

[2022-06-23 09:20] balagan73 commented on #266
As stated here https://github.com/TIP-Global-Health/eheza-app/issues/253#issuecomment-1164160402 the Syphilis medication icon doesn't display under Treatment review. It seems this issue is blocked.

[2022-06-23 09:43] anvmn commented on #253
@balagan73

Outside care is not in scope of this issue.
Correct flow is to make syphilis test, and then prescribe medication at Medication distribution task of Next steps activity. Please retest.

[2022-06-23 09:53] anvmn commented on #266
@balagan73

Please see https://github.com/TIP-Global-Health/eheza-app/issues/253#issuecomment-1164188835

[2022-06-23 12:35] balagan73 commented on #253
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. I found another way not to display the Syphilis medication icon under Treatment review. No medication is available under Next steps:

Steps taken:

Lab|Lab results|Next steps
-|-|-
![6-lab-syphilis](https://user-images.githubusercontent.com/3536805/175299563-039d3215-b9d5-43fb-8ec8-95a2d521a18e.png)|![7

[2022-06-23 12:58] balagan73 commented on #273
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Created a new male patient Doe John. When I select him, the Antenatal care is displayed as an encounter type. The Antenatal care is also displayed in the progress reports when selecting the patient.

Male Patient|Patient record|ANC
-|-|-
![1-john-doe](https://user-images.githubusercontent.com/3536805/17

[2022-06-23 13:02] anvmn commented on #253
@balagan73

Diagnosis in your flow is Neurosyphilis. Next steps for it is sending to hospital.

See Logics file:
![Selection_871](https://user-images.githubusercontent.com/17882245/175304891-89cca1ef-3ccb-4026-b3e2-1c1c9f758948.png)

[2022-06-23 13:20] balagan73 commented on #253
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Indeed, when selecting 'None of these' as the experienced symptoms by the patient, it is possible to prescribe medication.
![12-medication](https://user-images.githubusercontent.com/3536805/175308286-5924e46b-b9d3-4c4d-90c1-b26b30fb6fa0.png)

Then during subsequent encounter the Syphilis medication is availab

[2022-06-23 13:40] adamhstewart commented on #273
@anvmn please check. Maybe this isn't on nutrition?

[2022-06-23 13:42] balagan73 commented on #257
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Questions:

1. Wording for some diagnoses is a bit different from design. Is this OK?
![1-diagnoses](https://user-images.githubusercontent.com/3536805/175312681-037962ee-ad98-47a5-a96a-47a7325f0231.png)

2. Moderate is misspelled as mederate:

Typo1|Typo2
-|-
![8-typo](https://user-images.githubusercontent.com/3536805/175315771-8745aa

[2022-06-23 13:47] adamhstewart commented on #270
@balagan73 we can if that's what the design calls for - I don't see that. Am I missing something?

[2022-06-23 13:48] adamhstewart commented on #270
seems like this is accepted usage:
![image](https://user-images.githubusercontent.com/688507/175315065-d9cd7caa-000f-4ff2-9692-1f812c78c86a.png)

[2022-06-23 14:06] anvmn commented on #273
@adamhstewart right, not on Nutrition
It's a Patient Record branch, which is a predecessor on ANC logic, but we did not update it for a while, and therefore, did not pull this change into ANC.

[2022-06-23 15:52] adamhstewart commented on #273
@anvmn whats the best place to do QA ?

[2022-06-23 16:26] anvmn commented on #273
@adamhstewart Nutrition environment, after we deploy next chunk of code.

[2022-06-23 18:54] anvmn commented on #267
@jeanette-pelizzon

Also, Protein values are:

0
+1
+2
+3
+4

See https://github.com/TIP-Global-Health/eheza-app/issues/182.

[2022-06-23 23:46] adamhstewart commented on #257
My understanding is that this is incorrect

@anvmn can you please check?

also can you fix the spelling and the rephrasing from design?

[2022-06-24 05:24] anvmn commented on #257
@adamhstewart

There's no medication treatment for severe Anemina.
![Selection_872](https://user-images.githubusercontent.com/17882245/175467887-510dd9ad-156a-4e4c-82a0-1bd326d2fa12.png)

These diagnoses are displayed throughiut the APP, and it seems to me that we better have common label.
@jeanette-pelizzon can we remain with what we have right now, or we need to have special name for some of dia

[2022-06-24 05:44] anvmn commented on #279
@adamhstewart

Logic says that you can complete the econter if all mandatory activities are completed. Photo is only activity that is not mandatory activity.
With new ANC logic, an exception for this was introduced - whenever we have emergency referral, we only need to complete next steps.

Problem with examination nutrition was that in code we were assuming that height measurement was entered on

[2022-06-24 06:45] balagan73 commented on #284
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Syphilis:

No adverse effect|Adverse effect
-|-
![1-no-adverse-effect](https://user-images.githubusercontent.com/3536805/175477708-9bcd3e0b-c640-4f03-b0d2-d6389e40e46d.png)|![2-adverse-effect](https://user-images.githubusercontent.com/3536805/175477716-13679f1e-56cf-49a5-b08f-f0fab7ac6237.png)

Refer to hospi

[2022-06-24 06:55] balagan73 commented on #266
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Next steps option only displays if patient experiences adverse events and they are referred to hospital. See: https://github.com/TIP-Global-Health/eheza-app/issues/284#issuecomment-1165256397

2. Popup displays if Yes is selected for the Have you missed any doses question.

Missed doses|Popup
-|-
![1-missed-d

[2022-06-24 07:08] balagan73 commented on #210
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. HIV medications and followup questions match those in issue description.
![1-meds](https://user-images.githubusercontent.com/3536805/175482015-91ae0442-d018-4817-9505-429a86d0f3b1.png)

[2022-06-24 07:13] balagan73 commented on #206
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Wording on the Medication distribution panel matches the one specified in issue description.

Precondition|Medication distribution
-|-
![1-partner-no-arv](https://user-images.githubusercontent.com/3536805/175482821-14554873-985f-4baf-9326-e6e8a60e9e4e.png)|![2-updated-meds](https://user-images.githubuserconte

[2022-06-24 07:54] balagan73 commented on #251
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Under Treatment review the Malaria medication panel is populated according to what was prescribed in previous encounter.

Medicine|Prescription|Review
-|-|-
Quinine|![1-quinine](https://user-images.githubusercontent.com/3536805/175489983-b41de8e6-83bd-4307-8594-b61313704646.png)|![2-quinine](https://user-imag

[2022-06-24 08:01] balagan73 commented on #247
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Treatment review displays as 6th icon, after Family planning.
![1-treatment-review](https://user-images.githubusercontent.com/3536805/175491270-3719d4fd-cbcc-4955-b30d-ed6200bc07a8.png)

[2022-06-24 08:26] balagan73 commented on #256
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. According to the logic at 160/100 blood pressure the dosage level should be raised by two dosage levels.

Blood pressure|Next steps|Logic
-|-|-
![1-blood-pressure-160-100](https://user-images.githubusercontent.com/3536805/175495690-f4f70eae-a9f6-4ac0-a2aa-eee8ce9d772f.png)|![2-high-risk](https://user-im

[2022-06-24 11:44] balagan73 commented on #250
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Here I did a more thorough testing of Treatment review - Hypertension:
https://github.com/TIP-Global-Health/eheza-app/issues/256#issuecomment-1165332275

The top of the screen contains the currently prescribed medication of the patient.

[2022-06-24 12:36] balagan73 commented on #252
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. These occur before getting to the Treatment review panel:
I have entered 7 g/dL for hemoglobin test result. Then Encounter was paused. Under case management there were 2 entries:
![3-case-management](https://user-images.githubusercontent.com/3536805/175531849-7dafc8a6-4a9a-4680-b188-fe12b9049bb4.png)

C

[2022-06-24 13:30] balagan73 commented on #244
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Popup text is different:
![2-candidiasis](https://user-images.githubusercontent.com/3536805/175544865-64cb1c6a-9c4b-499c-a314-5fb41dda0a71.png)

2. Council should be Counsel.
![4-grammar](https://user-images.githubusercontent.com/3536805/175545123-cb779786-de60-4565-bc34-d7a9c128a1d1.png)

3. Health edu

[2022-06-24 14:20] balagan73 commented on #263
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When symptoms don't change, next steps includes referral to hospital.

Candidiasis:
![6-candidiasis-continued](https://user-images.githubusercontent.com/3536805/175555199-af16015d-9abe-4fd4-bdbd-64aaf53d15bb.png)
![7-hospital](https://user-images.githubusercontent.com/3536805/175555210-e25d81c6-cfad-4f88-8874

[2022-06-25 06:19] balagan73 commented on #245
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Not related to this issue, but I found a typo when clicking around:
![typo](https://user-images.githubusercontent.com/3536805/175760966-ce3f2894-eb94-4cc5-89b9-2581f5dcd411.png)

2. So far I have found no way to indicate some diseases, like gonorrhea or candidiasis at first encounter. I need to finish f

[2022-06-26 18:12] anvmn commented on #265
@adamhstewart This required no special development (as the behavior was to remain as is), so I'm moving this straight to QA column.

[2022-06-26 18:25] adamhstewart commented on #258
@anvmn There are two scenarios when filling in historic tests (for non rapid result tests):

1. The test has implications in the current encounter so we need to account for it in the NEXT STEPS of the FIRST PART of the current encounter (not case management) if the test result is non-normal:
 - Syphilis - record result, add positive diagnosis and refer to Hospital in next steps
 - Hep B - record r

[2022-06-26 18:36] adamhstewart commented on #244
@Diama1 please fix the two issues found on the QA report.

[2022-06-26 18:40] adamhstewart commented on #252
@anvmn can you please check:

1.  the logic on the case management screen identified in point 1.
2. The dosage in point 2
3. Make the grammar suggestions in the other points

[2022-06-26 18:44] adamhstewart commented on #256
@anvmn please check dosage level on point 1 and fix the grammar in point 2.

[2022-06-26 18:58] adamhstewart opened #305 "ANC Subsequent - Provide textual context for referral to hospital [2h]"
## Issue

In cases where there is high risk the message does not provide context (on the page) for why the referral is happening:

![image](https://user-images.githubusercontent.com/688507/175829752-9b565708-2af6-4f10-95ce-ed566ba32d3d.png)

## Task
- Add a sentence before the current introduction sentence that repeats the patients diagnosis: "The patient has been diagnosed with: [condition], [con

[2022-06-26 19:01] adamhstewart opened #306 "ANC Subsequent - multiple diagnoses in popup should be bulleted list [1h]"
## Issue
in cases where there are multiple diagnosis in the popup before "next steps, the listed should be bulleted for easier reading,

## Task
- Re format the list

cc/ @jeanette-pelizzon

[2022-06-26 20:01] anvmn commented on #292
@jeanette-pelizzon @adamhstewart

Can't open Figma link. It says file does not exist.
Points after reviewing the video:

1. As I see it, country code needs to be reconsidered. If we really need it, there are over 200 countries. Does it mean that we need to add all their flag icons.
Also, what about phone validation? Right now we don't validate anything, beside number characters. Do we need to chan

[2022-06-26 20:18] anvmn commented on #305
@adamhstewart

I'll need detailed definitions for text that need to be displayed.
There are at least 30 cases where we send patient to hospital. and it's not only due to certain diagnosis.
For example, patient can be sent to hospital due to adverse event to medication.
Another possibility is hypertension treatment logic, where we increase doses untill we decide to send to HC.
Also, at we have some

[2022-06-26 20:24] anvmn commented on #258
@adamhstewart

Will need to figure out a way of implemnting this.
Meanwhile, please note that currently we do not have logic for Blood group and Random blood sugar results.

They are at `THESE ARE ALL ON HOLD  - DONT WORRY ABOUT THEM FOR NOW `section of logics file.

[2022-06-27 08:45] anvmn commented on #252
@adamhstewart

I don't really understand what the problem is.
There're 2 entries - each represent separate encounter.
Logic says that if there's a need for vital recheck, this is what the label will be saying,
even if there're labs to be filled in.
The requirements are specified at https://github.com/TIP-Global-Health/eheza-app/issues/159, and seems that it has passed QA.

To be able to analyse a

[2022-06-27 09:36] Diama1 commented on #244
@adamhstewart I am seeing only one issue on the **Counsel**

[2022-06-27 10:36] anvmn commented on #258
@adamhstewart

For syphilis, we have a follow up question when result is positive:

![Selection_876](https://user-images.githubusercontent.com/17882245/175922376-7d507d53-664e-411d-b18e-5f4d9b25c58c.png)

It's used to come up with correct type of Syphilis diagnosis.
It will remain as is, right?

[2022-06-27 16:48] adamhstewart commented on #305
@anvmn We would use the same list here - in this case it would be a comma series. We are less concerned about visual clarity as it's not a popup, and in most cases they will have just seen it.

[2022-06-27 17:10] jeanette-pelizzon commented on #267
Hemoglobin - normal range is between 11 and 16.5
Protein - I need to check with wendy what the normal ranges are

ill create those new issues for Ph and removing specific gravity.

[2022-06-27 17:13] jeanette-pelizzon opened #308 "ANC Labs - Urine Dipstick - Ph - New options"
## Issue

We need to add 4.0 and 4.5 as input options to Ph on both dipstick tests.

## To Do:

- Add input options

[2022-06-27 17:14] jeanette-pelizzon commented on #308
FYI: @adamhstewart @anvmn issue was created and assigned to @Diama1

[2022-06-27 17:15] jeanette-pelizzon opened #309 "ANC Labs - Specific Gravity"
## Issue

The test for specific gravity is not run in Rwanda. We need to remove it from E-Heza. It occurs in ANC Labs - Urine Dipstick - Long Dip

## To Do:

- Remove Specific Gravity from Eheza

[2022-06-27 17:16] jeanette-pelizzon commented on #309
FYI @adamhstewart @anvmn issue created and assigned to @Diama1

[2022-06-27 17:17] jeanette-pelizzon commented on #264
@anvmn yes I think that is fine - if we get feedback from the field that it is confusing we can change it

[2022-06-27 17:20] adamhstewart commented on #244
@Diama1

1. > Popup text is different:
2. > Council should be Counsel.

[2022-06-27 17:39] jeanette-pelizzon commented on #257
as we discussed, it should be whatever is a possible diagnosis in the app. Thanks!

[2022-06-27 18:59] jeanette-pelizzon commented on #267
confirmed: Protein should be zero as the normal range - unsure if we still have that as an option

[2022-06-27 19:13] anvmn commented on #267
@jeanette-pelizzon we do have it

[2022-06-29 07:31] balagan73 commented on #123
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Patient EGA is under 20 weeks. The diastolic measurement of the patient is => 90  and less than 110. No warning displayed,
but Next steps included a wait icon for follow-up blood pressure measurement in 2 hours. If follow-up diastolic measurements were also between 90 and 110, warning displayed about chronic

[2022-06-29 08:39] balagan73 commented on #232
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Question mark on the symptom review page is not needed.
![1-question-mark](https://user-images.githubusercontent.com/3536805/176385054-8fb8f9de-07f6-4e8b-b6eb-584e930b09ae.png)

2. At second encounter (that's the first time when Symptom review page displays) when I mark Heartburn as a symptom, no Medica

[2022-06-29 09:18] balagan73 commented on #246
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Wording of warning message is different then in issue description. Is that a problem?
![3-warning](https://user-images.githubusercontent.com/3536805/176400209-9c486a3e-64e3-4eb4-8c35-0c7aedf828a1.png)

### Checked and approved:

1. If proper preconditions exist, the corresponding Health education and Me

[2022-06-29 09:46] balagan73 commented on #241
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. When at subsequent visit the patient has Pelvic pain and No severe pain, they are not referred to hospital.
![6-second-visit](https://user-images.githubusercontent.com/3536805/176406091-8e2ac625-b671-4010-9698-2fc9310d3414.png)

2. Wording of the displayed warning is different from issue description. Se