[2022-06-29 12:30] balagan73 commented on #240
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Issue description and Logic master google doc mentions > 2 weeks cough. We have 3 weeks in symptom review.
![1-3-weeks](https://user-images.githubusercontent.com/3536805/176436184-c8b0e68f-a42a-47b3-b358-85f9ec14e78b.png)

2. I haven't yet ended the encounter where I have marked pelvic pain as a symptom

[2022-06-29 13:07] balagan73 commented on #244
@adamhstewart I have updated my above report with issue number 5, whereas no next steps display after conditions are fulfilled.

[2022-06-29 13:11] balagan73 commented on #243
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. When conditions are fulfilled, no next steps display. I have tried all 3 options for flank pain.

Condition1|Condition2|No next steps
-|-|-
![1-burning](https://user-images.githubusercontent.com/3536805/176444342-5d696b7c-8084-44e2-9256-e8e613f49839.png)|![4-flank-pain](https://user-images.githubusercon

[2022-06-29 13:40] balagan73 commented on #242
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Typo in medication names.
![1-typo](https://user-images.githubusercontent.com/3536805/176450186-122cb067-c975-41ba-88de-2e428c193dae.png)

It should be Nitrofurantoin and Amoxicillin (double l)

### Checked and approved:

1. When Symptom Review: Burning with Urination + no to all FU's or
Symptom Review:

[2022-06-29 14:00] Diama1 commented on #244
@jeanette-pelizzon Could you please share the correct text that was supposed to go on this popup?

[2022-06-29 18:29] jeanette-pelizzon commented on #244
@Diama1
<img width="297" alt="Screen Shot 2022-06-29 at 2 29 06 PM" src="https://user-images.githubusercontent.com/77505464/176509813-a4d52999-d239-4a78-b2c5-95702361fe5d.png">

[2022-06-29 18:30] Diama1 commented on #244
@jeanette-pelizzon thank you

[2022-06-29 23:17] leowea commented on #123
@balagan73 This is correct. She can be diagnosed with hypertension before 20 weeks. If she is above 20 weeks, then preeclampsia becomes part of the possible diagnoses. Thank you for your great work on the QA!

[2022-07-04 08:07] balagan73 commented on #237
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. The word "or" is missing.
![4-typo](https://user-images.githubusercontent.com/3536805/177110447-fd78361c-dd3d-44bb-bd2a-daac4c2be608.png)

### Checked and approved:

1. When the patient has leg pain or redness, as far as follow-up questions are no, they are offered health education.

Symptoms|Follow-up|

[2022-07-04 08:22] balagan73 commented on #239
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When patients have leg pain or radness, and they answer at least one yes to any follow-up questions, they are diagnosed with DVT, and are referred to hospital.

Symptoms|Follow-up questions|Warning|Hospital referral
-|-|-|-
![1-leg-pain](https://user-images.githubusercontent.com/3536805/177113438-546a8f3e-10b

[2022-07-04 08:57] balagan73 commented on #230
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. There is a typo in the title of the Health education panel. It should be Nausea
![3-typo](https://user-images.githubusercontent.com/3536805/177120010-07c87ceb-18b4-40a8-adcb-1c57a299de37.png)

### Checked and approved:

1. When the symptoms are Nausea and vomiting, and all answers to follow-up questions

[2022-07-04 09:27] balagan73 commented on #236
https://nutrition-ihangane.pantheonsite.io/

 ### QA Review

### Found issues and questions:

1. Empty Warning displays when patient has this symptom the second time.
![4-warning-empty](https://user-images.githubusercontent.com/3536805/177125610-203e4f0f-ef57-4da6-9474-70634229735c.png)

### Checked and approved:

1. When patient marks varicose veins as symptom for the first time, the health educa

[2022-07-04 09:34] balagan73 commented on #235
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Empty warning displays when symptom exists repeatedly.
![4-warning-empty](https://user-images.githubusercontent.com/3536805/177126765-7f81f08c-6ed2-465d-941d-b71c8c9f80e2.png)

### Checked and approved:

1. When constipation is given as a symptom, health education is given for it under next steps.

Symp

[2022-07-04 09:43] balagan73 commented on #234
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Empty warning displays when symptom exists repeatedly.

2. Symptom and health education mentions "Low back pain". Is that OK?

Symptom|Health education
-|-
![3-lower](https://user-images.githubusercontent.com/3536805/177128515-5efea3aa-5265-449f-ab10-9421369a2ee3.png)|![4-lower](https://user-images.gith

[2022-07-04 09:47] balagan73 commented on #233
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Empty warning displays when symptoms are repeated.

### Checked and approved:

1. When symptom is Leg cramps the first time, its corresponding health education displays under Next steps.

Symptoms|Next steps
-|-
![1-cramps](https://user-images.githubusercontent.com/3536805/177129318-e657d6e0-c4d9-45bc-8

[2022-07-04 11:32] balagan73 commented on #227
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Coming after Danger signs the Symptom review icon is the second.
![1-symptom-review](https://user-images.githubusercontent.com/3536805/177146224-176184db-6fba-4a30-9dd7-9f6ab151edd7.png)

[2022-07-04 11:46] balagan73 commented on #229
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Follow-up questions are correct.

Nausea + Vomiting | Pelvic Pain | Leg Pain
-|-|-
![1-nausea](https://user-images.githubusercontent.com/3536805/177148329-0a1d5cd1-e259-4736-878c-844e48eb3dbd.png)|![2-pelvic-pain](https://user-images.githubusercontent.com/3536805/177148341-d4c64cab-1b51-4957-91f9-bfe64a1a9eb7

[2022-07-04 12:32] balagan73 commented on #226
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Question:

1. We have Immunization in the above images and on the design. Is this not implemented yet, or does it have some special requirements for it to display? @anvmn

### Checked and approved:

1. Order of icons in a subsequent encounter are the same as on the design. (Malaria prevention is missing because it was already answered

[2022-07-04 13:18] balagan73 commented on #222
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Both HIV and Hepatitis B known positive displays on the Progress report Medical diagnosis and Lab results sections.

HIV|Hepa B
-|-
![1-hiv-rdt](https://user-images.githubusercontent.com/3536805/177162990-96951323-a828-4a6e-b776-51018248750b.png)|![2-hepab](https://user-images.githubusercontent.com/3536805/17

[2022-07-04 14:39] balagan73 commented on #256
### QA Review

### Found issues and questions:

1. When patient had hypertension, and in spite of the recommended medication No treatment is administered, the text displayed later on the Medical distribution tab is contradictory. Should we deal with the use case when nurse describes something else than what is recommended? Maybe we can just change wording of 'It is recommended that the medication

[2022-07-04 14:52] balagan73 commented on #154
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. When setting Abnormal Vaginal discharge with Yes to vaginal itching and urethral discharge (candidiasis+gonorrhea), medical distribution cannot be completed.
Selecting yes for either Ceftriaxone or Azithromycin and clicking save on Medical distribution doesn't add the checkmark icon, and doesn't move th

[2022-07-04 15:21] balagan73 commented on #231
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. When in Symptom Review Nausea and Vomiting + yes is given to any follow-up questions, no Next steps display.

Follow-up questions|Result
-|-
![2-follow-up-yes](https://user-images.githubusercontent.com/3536805/177181747-d7ffeb62-1b8a-406d-bd72-00866e437714.png)|![3-no-next-steps](https://user-images.git

[2022-07-05 07:47] anvmn commented on #233
@balagan73

This problem is already fixed. Please retest after new version is deployed.

[2022-07-05 08:00] anvmn commented on #241
@balagan73

Just ran this scenario locally, and it worked well.
Please retest and see if issue is reproduced.

[2022-07-05 08:45] balagan73 opened #317 "Patient record, adults view - verify age can be calculated before allowing starting Antenatal encounter [2h]"
## Issue

I have selected a patient (Gatera Ines) in the participiant directory, and could not save her vitals. It turned out she had no birthday. Patients not yet 13 years old should not be able to start an encounter of type antenatal care.

![1-save-not-available](https://user-images.githubusercontent.com/3536805/177288662-f98c62c9-2079-4eb7-b635-d8634859202f.png)

## To Do
- Ensure antenatal ca

[2022-07-05 08:58] balagan73 commented on #241
https://nutrition-ihangane.pantheonsite.io/

### Retesting point 1.

I confirm the issue exists. Steps of the workflow I have taken:

Pelvic pain first symptom|No severe pain|Health education
-|-|-
![10-pelvic-pain](https://user-images.githubusercontent.com/3536805/177290558-ba9b5137-4949-4aad-9596-092550f3bde9.png)|![11-no-pain](https://user-images.githubusercontent.com/3536805/177290575-5a411fe1

[2022-07-05 10:29] anvmn commented on #232
@balagan73

This may be cause by a bug we fixed already. Please retest this after new version is deployed.

This is second step, after you select symptoms on first step. It's not related to previous encounter.
If you think this is a problem, please decribe steps to reproduce.

This is what customer has requested. There may be good clinical reason to check for symptoms only at second encounter. @je

[2022-07-05 10:40] anvmn commented on #236
@balagan73

This problem is already fixed. Please retest after new version is deployed.

[2022-07-05 11:55] anvmn commented on #234
@balagan73

This problem is already fixed. Please retest after new version is deployed.

Already reported (and handled) at another PR.

[2022-07-05 11:56] anvmn commented on #235
@balagan73

This problem is already fixed. Please retest after new version is deployed.

[2022-07-05 12:07] anvmn commented on #240
@jeanette-pelizzon

Should it be 2 or 3 weeks?

[2022-07-05 12:18] anvmn commented on #245
@jeanette-pelizzon

Shall we drop the comma?

[2022-07-05 12:27] anvmn commented on #245
Fixed at another PR

Addressed this at another PR. Will need clarifications from @jeanette-pelizzon .

Mandatory activity to complete is Danger signs. Without completing it, no next steps.

Changed.

Fixed

Both fixed

Fixed

[2022-07-05 12:27] anvmn commented on #245
This is the standard we display for any medication. The recommendation is blue with dosage.
At question it's gray, and dosage is not mandatory. @jeanette-pelizzon please approve it's ok.

[2022-07-05 13:25] anvmn commented on #246
@balagan73

This was updated. Please retest after new version is deployed.

[2022-07-05 13:30] anvmn commented on #290
No, becuase there's nowhere to go back.

We try to maintain common UI and functionality, and there're other places at APP where we have this, so we show it here in common matter. If this needs changing, we better make this change throughout whole APP.
@jeanette-pelizzon  to decide.

As far as I undertand, this issue does not exist on tablet, so, not relevant.

[2022-07-05 14:25] anvmn commented on #154
@balagan73

There's a dedicated issue for this, and it's still being developend (by @Diama1).
See https://github.com/TIP-Global-Health/eheza-app/pull/119.

[2022-07-05 18:03] leowea commented on #240
Wendy Leonard, MD, AAHIVS

Executive Director

TIP Global Health (formerly The Ihangane Project)

***@***.*** | +1 831 234 6053
www.tipglobalhealth.or <http://www.tipglobalhealth.org/>g

*Hope lies in dreams, in imagination, & in the courage of those who dare to
make dreams into reality. **- Jonas Salk*

On Tue, Jul 5, 2022 at 5:08 AM Anatoly Vaitsman ***@***.***>
wrote:

[2022-07-05 18:33] anvmn commented on #317
### Analysis:

If we have no knowledge of age we should not allow starting encounters.
This is relevant for adult record, because it's the default view when there's no birth date.

[2022-07-05 19:18] anvmn commented on #273
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:19] anvmn commented on #268
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:19] anvmn commented on #305
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:20] anvmn commented on #259
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:20] anvmn commented on #267
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:21] anvmn commented on #258
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:21] anvmn commented on #269
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-05 19:21] anvmn commented on #261
@balagan73

Deployed to Nutrition env. Please test.

[2022-07-06 13:47] jeanette-pelizzon commented on #232
1. We can remove the question mark

2. Heartburn this is what should be happening:
<img width="1235" alt="Screen Shot 2022-07-06 at 8 36 00 AM" src="https://user-images.githubusercontent.com/77505464/177562963-99a7c380-5fe6-45fa-99fa-ab1eb2df5bc1.png">

3 + 4. Typos are an easy fix. This is what that screen should look like:
<img width="292" alt="Screen Shot 2022-07-06 at 8 37 44 AM" src="https://

[2022-07-06 14:19] jeanette-pelizzon commented on #240
1. 2 weeks per wendy's comment. Sorry, it was missed on this screen when we updated logic.

2. Seems like there is a bug there. @anvmn can you investigate? I believe it should only appear in the next steps if you checked it as a symptom and then hit save.

[2022-07-06 14:40] jeanette-pelizzon commented on #245
- Yes fix comma issue
- You are correct on the blue / grey medication rules @anvmn

// @anvmn @balagan73

[2022-07-06 15:08] anvmn commented on #245
J I m up g hmm nkkb

[2022-07-06 15:08] #245 closed, assigned to anvmn

[2022-07-07 11:31] balagan73 commented on #269
### QA Review

### Checked and approved:

1. Tetanus screens

No-No|Today|Prior
-|-|-
![1-no-no](https://user-images.githubusercontent.com/3536805/177762150-34c6cac8-292f-4e3a-b81c-2298614eef9d.png)|![2-today](https://user-images.githubusercontent.com/3536805/177762166-4aa7573e-cdd2-4e0f-bafa-f03ab831b6b9.png)|![3-prior](https://user-images.githubusercontent.com/3536805/177762169-915cdb6b-032a-4ba

[2022-07-07 12:00] balagan73 commented on #258
https://nutrition-ihangane.pantheonsite.io/

### Found issues and questions:

1. Antenatal encounter node is not created, waiting for a fix.

![1-code-500](https://user-images.githubusercontent.com/3536805/177771685-162b8b8a-b513-4702-8858-c64454960254.png)

[2022-07-07 13:18] jeanette-pelizzon opened #321 "ANC Subs Visit - Hyperemesis Gravidum - Update to Logic [4h]"
## Issue

The clinical team found an issue with the original logic. If the patient is over 20 weeks, then she should be evaluated for another diagnosis. So, if <20 weeks, Refer to Hospital for Hyperemesis Gravidum. If >=20 weeks, then Refer to Hospital for Severe Vomiting.

## To Do:
- Update the diagnosis pop-ups for Hyperemesis Gravidum
- Update next steps - these types of screens already exist

[2022-07-07 13:22] balagan73 commented on #258
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Blood group - Negative rhesus is not indicated in Hospital referral.
2. Hypoglycemia is not indicated on Progress report or on Hospital referral.

Progress report|Hospital referral
-|-
![8-progress-report](https://user-images.githubusercontent.com/3536805/177791572-699e518d-7452-48fe-a0f4-308884a903ec.p

[2022-07-07 15:46] jeanette-pelizzon opened #322 "ANC Labs - Random Blood Sugar - Update [6h]"
## Issue

We are now going to diagnose diabetes and gestational diabetes in pregnant patients. To do this we need:

1) Random Blood Sugar run at every visit
2) Adding a question to the design

## Design Updates

We have added in the question "Has the patient fasted for this test" as the second question. This question is required for diagnoses.

Screen One | Screen Two | Screen Three | Screen Four

[2022-07-07 15:54] jeanette-pelizzon opened #323 "Feature: ANC Follow-Ups"
THIS ISSUE IS UNDER CONSTRUCTION - ASK JEANETTE IF YOU HAVE QUESTIONS ABOUT IT

## Issues
- Update: Random Blood Sugar Lab #322
- Update: Hyperemesis Gravidum #321
- Update: Symptom Review #325
- NEW #331
- NEW #332

[2022-07-07 15:58] jeanette-pelizzon commented on #322
Update: new question text should read "has the patient fasted for this test (no food for 12 hours)?"

[2022-07-08 06:08] balagan73 commented on #261
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. The immunizations activity only displays when patient is pregnant. It sounds logical, but I couldn't find any info about it in the Logic Master google sheet. Is this OK?

![3-immunizations](https://user-images.githubusercontent.com/3536805/177927555-170b3852-6e5a-4b8f-9298-e881297a9b5d.png)

### Checked

[2022-07-08 06:24] balagan73 commented on #273
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Antenatal care still displays for Male patient.
![4-john-doe-male](https://user-images.githubusercontent.com/3536805/177929857-56bbf6db-09bc-4111-a45b-b78761b91697.png)
![5-anc](https://user-images.githubusercontent.com/3536805/177929867-32aeca42-9d76-4698-a297-89cb20fba645.png)

[2022-07-08 06:35] balagan73 commented on #113
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When patient answers No to the question "Has the mother received Mebendazole in the last 6 months?", then Medication distribution subactivity displays under Next steps.

Medication|Next steps
-|-
![1-not-received](https://user-images.githubusercontent.com/3536805/177931500-ec56b4e4-0410-4f0c-be6e-45c60a31b049

[2022-07-08 06:49] balagan73 commented on #248
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. At first encounter the Medication activity displays.
![3-first-encounter](https://user-images.githubusercontent.com/3536805/177933459-504b4ded-8efc-4f61-ae28-61e316bf6baf.png)

2. At subsequent encounters the medication activity doesn't display, but there is a prenatal medication subactivity under Treatment r

[2022-07-08 07:49] balagan73 commented on #305
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. https://github.com/TIP-Global-Health/eheza-app/issues/258#issuecomment-1177606947 Here I have already found some cases that should have been mentioned on the hospital referral page. Now I have tested only for them, and the hospital referral page doesn't display.

Blood sugar|Long dip
-|-
![1-blood-sugar

[2022-07-08 08:16] balagan73 commented on #267
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Leukocytes is missing from Long dip test, but instead there is two Glucose items.
![1-leukocytes](https://user-images.githubusercontent.com/3536805/177946257-fca5b5cd-bb8b-4764-ba18-c62085caa35e.png)

### Checked and approved:

1. Lab result pages look good and adhere to the design.

Hemoglobin|Malaria

[2022-07-08 09:24] balagan73 commented on #98
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Issue description says about Pregnancy start:
"What is the date that this pregnancy was opened in e-eheza, should be the first time seeing a CHW or Nurse for this pregnancy."
The Pregnancy date doesn't reflect when the pregnancy was opened in e-heza, but when it actually started. I think that's OK. If n

[2022-07-08 15:04] jeanette-pelizzon commented on #98
"What is the date that this pregnancy was opened in e-eheza, should be the first time seeing a CHW or Nurse for this pregnancy."
The Pregnancy date doesn't reflect when the pregnancy was opened in e-heza, but when it actually started. I think that's OK. If not, I recommend also changing the column name to Pregnancy opened or something more descriptive.

The issue description is confusing. That's m

[2022-07-08 15:06] jeanette-pelizzon commented on #261
@balagan73 yes it should only appear if a patient is pregnant. Moving this to acceptance testing. Thanks!

[2022-07-08 15:12] jeanette-pelizzon commented on #258
1. @anvmn negative rhesus = hospital referral so should appear in that list. Can we update?
2. Hypoglycemia? @balagan73 please elaborate what you mean by this.
3. This question was requested by the clinical team so we should keep it. Also, they may have results that have not yet been returned by the lab and will still remain on the list. Getting lab results back may take more time than expected. T

[2022-07-08 15:15] jeanette-pelizzon commented on #267
@anvmn perhaps there is a typo? This is the list from design:
<img width="161" alt="Screen Shot 2022-07-08 at 10 14 30 AM" src="https://user-images.githubusercontent.com/77505464/178020976-a396becd-c24d-4264-bd0d-43b988f43b1a.png">

[2022-07-08 15:19] jeanette-pelizzon commented on #305
1. Gestational Diabetes has not been implemented on E-Heza yet. We are still working through the logic with the clinical team. The issue for gestational diabetes will hopefully be created early next week once I finalize all the logic and design with the clinical team.  Unless there is a different issue here @balagan73 I will move to Acceptance. Please let me know

2. Awesome.

[2022-07-08 15:20] jeanette-pelizzon commented on #273
@Diama1 antenatal care should only appear for female patients.

// @anvmn just FYI

[2022-07-08 15:23] jeanette-pelizzon commented on #259
@balagan73 has this been QA'd?

[2022-07-08 15:30] balagan73 commented on #259
@jeanette-pelizzon Yes, sorry, somehow I have lost my comment. Will enter it again.

[2022-07-08 15:34] balagan73 commented on #259
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Not sure what is meant by cut-off point. If I change back the date on the Prenatal encounter to 128 days before today, the Case management still enables me to enter Lab results.
![2-100-days](https://user-images.githubusercontent.com/3536805/178024309-655a5375-1ca5-4787-a67e-ff04f940c4ab.png)

Or when I

[2022-07-08 15:43] jeanette-pelizzon commented on #258
If a patient is referred to the hospital it should be reflected on the progress report. It's not clear from these screenshots if that is happening. @balagan73 do you know if that's happening. I am having trouble with my testing environment at the moment and can't click through to check.

[2022-07-08 15:47] balagan73 commented on #268
### QA Review (NOT FINISHED)

Note to self: Check **Malaria with anemia** without other complications, whether there is a duplicate diagnoses or not.

### Found issues and questions:

1. When patient has **Malaria with Severe Anemia**, and I refer them to the hospital, the progress report states otherwise.

Also, the wording of the treatment is grammatically incorrect. "Give" should be dropped.

B

[2022-07-08 15:50] balagan73 commented on #265
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Typo on warning popup:

![6-typo](https://user-images.githubusercontent.com/3536805/178027122-dfd6cd4b-cad2-4480-8457-5ce6a7ae39ae.png)

### Checked and approved:

1. When patient fulfills the conditions for mild to moderate anemia repeatedly, they are prescribed the same medicine and not referred to ho

[2022-07-11 09:22] balagan73 commented on #203
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Progress report displays only after filling out labs section.

2. Button text is Pause encounter.
![5-pause-encounter](https://user-images.githubusercontent.com/3536805/178230551-77977714-d2cc-428b-9d81-3dd33da604c8.png)

3. Wait screen text is changed as requested:
![5-wait-text](https://user-images.githubus

[2022-07-11 17:25] jeanette-pelizzon commented on #259
@balagan73 when a user goes through an ANC visit and says they ran a lab test they should have 30 days from that day to input the results. If they do not, we close it out automatically. Based on your comment, it seems that's not happening. Tagging @anvmn to take a look.

[2022-07-11 17:27] jeanette-pelizzon commented on #265
@Diama1 can you please fix the typo in the pop-up? Thank you!

[2022-07-12 01:02] jeanette-pelizzon commented on #226
@balagan73 immunization only appears if they have not met the requirement for tetanus already. I am unsure if this has been deployed to the testing environment yet. @anvm?

[2022-07-12 01:15] jeanette-pelizzon commented on #249
@Diama1 the issue that Zolt found should be fixed. It should read "Are you still taking ARV's" as this was what was requested by the medical team. I have taken a screenshot of the design for reference.
<img width="227" alt="Screen Shot 2022-07-11 at 8 14 00 PM" src="https://user-images.githubusercontent.com/77505464/178386841-0acc6106-af99-4652-b5e6-9e23f16a9bb3.png">

[2022-07-12 01:28] jeanette-pelizzon commented on #240
@anvmn do we need to move this to QA? It wasn't assigned to a project so I put it back on the e-heza development board.

[2022-07-12 06:26] balagan73 commented on #255
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The medications for different diagnoses show up separated by a horizontal ruler under the Medication distribution activity.

![3-medication](https://user-images.githubusercontent.com/3536805/178423132-c9cdeb78-7c97-4658-8b36-1892b89c6c70.png)

[2022-07-12 08:16] anvmn commented on #226
@jeanette-pelizzon

Immunization development was deployed 7 days ago.
@balagan73 tested this already - https://github.com/TIP-Global-Health/eheza-app/issues/261#issuecomment-1178592184.

[2022-07-12 08:55] anvmn commented on #249
@jeanette-pelizzon

Please note that display this for any HIV medication.
For example, we have here Doltegraviv:

![Selection_908](https://user-images.githubusercontent.com/17882245/178451264-099dac91-dadd-4b12-85bc-06e710dd3ac3.png)

I don't think that ARVs are sutabe here, so I made the message more general (same one we use for other diagnoses).

[2022-07-12 08:57] anvmn commented on #240
@jeanette-pelizzon
Yes, it's fixed already. Lets move to QA.

[2022-07-12 17:38] anvmn commented on #139
@jeanette-pelizzon

Assigning this issue to you, to go over QA report.

[2022-07-12 17:49] anvmn commented on #257
@balagan73

Please retest point 2 from you QA review

[2022-07-12 17:53] anvmn commented on #279
@balagan73

Please retest.

[2022-07-12 17:55] anvmn commented on #252
@balagan73

Please retest

[2022-07-12 18:00] anvmn commented on #233
@balagan73

Please retest

[2022-07-12 18:01] anvmn commented on #242
@balagan73

Please retest

[2022-07-12 18:05] anvmn commented on #237
@balagan73

Please retest

[2022-07-12 18:07] anvmn commented on #232
@jeanette-pelizzon do we have an answer for point 6?

[2022-07-12 18:07] anvmn commented on #232
@balagan73

Please retest

[2022-07-12 18:07] anvmn commented on #236
@balagan73

Please retest

[2022-07-12 18:08] anvmn commented on #230
@balagan73

Please retest

[2022-07-12 18:09] anvmn commented on #234
@balagan73

Please retest

[2022-07-12 18:09] anvmn commented on #231
@balagan73

Please retest

[2022-07-12 18:10] anvmn commented on #235
@balagan73

Please retest

[2022-07-12 18:10] anvmn commented on #246
@balagan73

Please retest

[2022-07-12 18:11] anvmn commented on #154
@balagan73

Please retest point 1

[2022-07-12 22:07] jeanette-pelizzon commented on #290
@balagan73 @anvm I think it is fine for now. I think we can address a number of UI issues at a later date - including this.

[2022-07-12 22:18] jeanette-pelizzon commented on #305
Early Acceptance Testing note: users have requested that we signify what diagnoses is high-risk. So we should not only list them at the top but also include them in the sentence below.

Here is an example:
<img width="345" alt="Screen Shot 2022-07-12 at 5 18 11 PM" src="https://user-images.githubusercontent.com/77505464/178605171-8a677056-7f9a-4845-a41d-ddde80999380.png">

// @Diama1

[2022-07-12 22:24] jeanette-pelizzon commented on #249
@anvmn Wendy gave me the ARV text specifically so I would say we should keep it as ARV's. All those medicines in the HIV flow are types of ARV's.

[2022-07-12 22:51] jeanette-pelizzon opened #325 "ANC Update - Symptom Review [10h]"
## Issue

We added the Symptom Review activity while we were working on the Subsequent ANC encounters so originally we just had this activity appearing in subsequent encounters. As was pointed out in QA of other issues, it was strange that we only had it in subsequent encounters. After talking to the clinical team, they would like the Symptom Review activity - and all logic associated with it - to

[2022-07-13 14:12] balagan73 commented on #279
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. After Pausing encounter, and then updating the lab results via Case management, no height measurement was entered.
At next encounter it is possible to enter height, and then it was possible to end encounter.
![12-height](https://user-images.githubusercontent.com/3536805/178751597-45518f3b-082e-49ba-bf69-a02ba

[2022-07-13 14:44] balagan73 commented on #154
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. I have reproduced the same situation: Candidiasis + Gonorrhea. Now after filling both forms and then clicking save in either subactivity under Next steps opens the Progress report (all other activities are finished), but cannot end encounter. Medical distribution still has no checkmark.

Medication:
![1

[2022-07-13 14:59] jeanette-pelizzon commented on #154
Interesting. Passing back to @anvmn to take a look at.

[2022-07-13 18:43] anvmn commented on #305
@jeanette-pelizzon

When it comes to referring to hospital, there are emergency and non ugent diagnoses.
Since emergency diagnoses are triggered right away, either all diagnoses on referral form are emergency, or all are non urgent. For example, at your screenshot, both are non urgent.

So far, the idea was that if patient is referred to hospital, it's a high risk case.
For emergency diagnoses we

[2022-07-13 18:56] anvmn commented on #249
@jeanette-pelizzon Fine with me

@Diama1 please proceed with this change

[2022-07-14 06:39] balagan73 commented on #257
@jeanette-pelizzon FYI I have updated #268 issue requirements with outside care info.

[2022-07-14 06:44] balagan73 commented on #257
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. There was a problem with HIV medication in the report. I have noted it here https://github.com/TIP-Global-Health/eheza-app/issues/268#issuecomment-1179134557 but that issue will take some time to QA, so I also make a note here.

### Checked and approved:

1. Typo was fixed, now it is Mild to moderate an

[2022-07-14 09:39] anvmn commented on #273
@jeanette-pelizzon @Diama1

Taking this one over

[2022-07-14 10:38] anvmn commented on #241
@balagan73

This was fixed at most recent deploy. I verified it works well on Nutrition env.

Please retest.

[2022-07-14 11:27] anvmn commented on #267
@jeanette-pelizzon

Indeed. Fixed at [3b6f703](https://github.com/TIP-Global-Health/eheza-app/pull/329/commits/3b6f703a4dbc7c69b97c42cbc36f1e7096d8ca98).

[2022-07-14 11:31] anvmn commented on #258
@jeanette-pelizzon

For now we don't have any logic for handling rhesus result. It's under `THESE ARE ALL ON HOLD  - DONT WORRY ABOUT THEM FOR NOW` section of logics file.
So, there's no problem there.

@balagan73 please answer

[2022-07-14 11:49] anvmn commented on #259
@balagan73

What controlls this is not the date of encounter, butfield of Prenatal Labs Results content type.
It's created when laboratory test is executed and pending results. 'Date concluded' is an 'expiration' field, after which, it's entry at case management is hidden.
No matter what previous date for test is set, we count 35 days since Prenatal Labs Results entry was created.

Changed this to

[2022-07-14 12:07] anvmn commented on #154
@balagan73

By definition, if all sub activites at Next steps are completed, we present progress report.
This however does not mean that encounter can be ended. For that, we have 2 usecases:
1. Emergency referral diagnosis was identified - all that is needed is to complete Next steps.
2. Emergency referral diagnosis was NOT identified - all activies need to be completed, besides Photos.

Fixed at

[2022-07-14 12:45] anvmn commented on #273
@balagan73 @jeanette-pelizzon

Fixed at #317

[2022-07-14 20:17] jeanette-pelizzon opened #331 "ANC Subs - Next Steps - Diabetes [5h]"
## Issue

When a patient meets the criteria for diabetes (which can be found on the logic doc [here](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493)) we will provide health education and refer them to the hospital for specialty management. Since we stack diagnoses for hospital referral we can just use the normal referral screen and the nurse

[2022-07-14 20:20] jeanette-pelizzon opened #332 "ANC Subs - Next Steps - Gestational Diabetes [5h]"
## Issue

When a patient meets the criteria for GESTATIONAL diabetes (which can be found on the logic doc [here](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493)) we will provide health education and refer them to the hospital for specialty management. Since we stack diagnoses for hospital referral we can just use the normal referral screen a

[2022-07-15 13:37] balagan73 commented on #258
@jeanette-pelizzon By hypoglycemia I meant diabetes. I will check again this and the progress report.

[2022-07-15 14:11] balagan73 commented on #258
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and question:

1. Gestational Diabetes is not displayed in progress reports. I will update #268 with this finding.

2. These findings were achieved via case management, Prenatal encounter CT (for example for Akuzwe Pamela on 15/07) is not getting created on nutrition environment. @anvmn When you have time, can you look in

[2022-07-15 17:05] anvmn commented on #331
@jeanette-pelizzon @balagan73

Note that this requires extension of #258, per https://github.com/TIP-Global-Health/eheza-app/issues/258#issuecomment-1166608871:

![Selection_919](https://user-images.githubusercontent.com/17882245/179273267-ec4de845-e870-47f8-a32a-85e2a168fac5.png)

[2022-07-15 17:05] anvmn commented on #332
@jeanette-pelizzon @balagan73

Note that this requires extension of #258, per https://github.com/TIP-Global-Health/eheza-app/issues/258#issuecomment-1166608871:

![Selection_919](https://user-images.githubusercontent.com/17882245/179273267-ec4de845-e870-47f8-a32a-85e2a168fac5.png)

[2022-07-16 01:15] jeanette-pelizzon commented on #305
Update: we do not need to update the second line of text. Having the diagnoses in the first line is enough.

[2022-07-17 15:07] jeanette-pelizzon commented on #257
Thanks @balagan73 we can tackle that problem in the issue you linked. I'll move this to client acceptance.

[2022-07-17 17:24] jeanette-pelizzon commented on #332
Thanks for flagging @anvmn. Just a note: in conversations with the clinical team we've only talked about high blood sugar which is diabetes (hyperglycemia). Hypoglycemia is low blood sugar and not something we address in ANC. We've never referred to diabetes as hyperglycemia in conversation so let's keep it as diabetes. Just so we don't change any wording around since diabetes and hypo glycemia ar

[2022-07-17 17:31] anvmn commented on #128
Maybe related problem described at: https://github.com/niklasvh/html2canvas/issues/2882

[2022-07-17 17:32] jeanette-pelizzon commented on #258
1. Diabetes hasn't been developed yet. Logic and issues were finalized last week. These are in progress so that doesn't need to hold back this issue from moving forward to acceptance.

2. @anvmn reassigning to you for QA follow up on this issues.

[2022-07-17 17:44] jeanette-pelizzon commented on #331
Diagnosis should not be hypoclycemia. It should be diabetes per the logic doc. We do not diagnose hypoglycemia. Otherwise the instructions in adams post should be good.

[2022-07-17 18:26] anvmn opened #335 "Whatsapp Integration - make screenshot, store and upload during sync [16h]"
### Todo:

- Integrate [html2canvas](https://html2canvas.hertzen.com/) to take screenhots of progress report.
- Take screenshots of prgress report
- Store image at Cache Storage
- Store entry at dedicated table with phone number and link to image at cache storage
- Add sync phase that will fetch entries from dedicated table, simulate delivery and then clean entry from table and image from storage.

[2022-07-17 19:21] jeanette-pelizzon commented on #139
Okay, this is a doozy but here are the responses to the questions above. Overall, it seems like there is an issue with hypertension, preeclampsia, and eclampsia confusing the system. Sorry @anvmn almost all of them require your attention.

1. According to the logic, preeclampsia and hypertension can NOT exist at the same time. Preeclampsia is gestational hypertension with additional symptoms - nam

[2022-07-18 13:33] balagan73 commented on #234
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. No warning displays when symptom is repeated.

2. Low back pain is changed to Lower back pain.
![7-lower-back-pain](https://user-images.githubusercontent.com/3536805/179522906-e172f881-10c2-435e-9fb8-bb5b6faec4b5.png)
![9-second-visit](https://user-images.githubusercontent.com/3536805/179522967-3b9c0f7f-3fa6-

[2022-07-18 13:35] balagan73 commented on #233
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. No warning displays when symptom occurs repeatedly.

[2022-07-18 15:57] jeanette-pelizzon opened #337 "ANC - Eclampsia + Preeclampsia Next Steps [4h]"
## Issue

There has been a change to when the next steps should appear for eclampsia and preeclampsia.

Preeclampsia (any level of severity) - in next steps (EXCEPTION if a patient is >=37 weeks EGA then it interrupts)

Eclampsia - interrupts flow

I have updated this on the [master logic sheet](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493

[2022-07-18 18:30] anvmn commented on #325
@balagan73 please test on nutrition env

[2022-07-18 18:37] anvmn commented on #321
@balagan73 please test on nutrition env

[2022-07-18 18:37] anvmn commented on #322
@balagan73 please test on nutrition env

[2022-07-18 18:38] anvmn commented on #331
@balagan73 please test on nutrition env

[2022-07-18 18:38] anvmn commented on #332
@balagan73 please test on nutrition env

[2022-07-18 18:45] anvmn commented on #258
@balagan73 please test Diabetes diagnoses:

![Selection_925](https://user-images.githubusercontent.com/17882245/179581106-a11bb2a9-4ea3-4fb3-8c62-af7da2720592.png)

[2022-07-18 18:46] anvmn commented on #309
@balagan73 please test on nutrition env

[2022-07-18 18:47] anvmn commented on #154
@balagan73 please test the fix on nutrition env

[2022-07-18 18:48] anvmn commented on #259
@balagan73 please test on nutrition env

[2022-07-18 18:48] anvmn commented on #267
@balagan73 please test on nutrition env

[2022-07-18 18:49] anvmn commented on #256
@balagan73

Both points fixed. Please test on nutrition env.

[2022-07-18 18:50] anvmn commented on #273
@balagan73 please test on nutrition env

[2022-07-18 18:50] anvmn commented on #317
@balagan73 please test on nutrition env

[2022-07-18 19:28] anvmn commented on #139
@jeanette-pelizzon

Right now logic does not have any conditions for exclusion of Hypertension, Prreclampsia and Eclampsia diagnoses. There were no requirements to make hierarchy, and therefore all 3 types can all coexist.
t'd make sense to apply an hierarchy, given that all 3 are different levels of same 'illness' - something I can't say for sure.

Will need to develop this chage (for nurse).

Sy

[2022-07-19 00:23] jeanette-pelizzon opened #338 "ANC - Diabetes - Already Diagnosed [4h]"
## Issue

Currently, if a patient has been diagnosed with diabetes in a previous ANC visit during this pregnancy and they continue to have high glucose numbers, we continue to refer them to the hospital.

This doesn't need to happen. After speaking with Wendy, if a patient has been diagnosed with diabetes we should continue to run the random blood sugar test at each visit and record those values i

[2022-07-19 18:38] anvmn opened #339 "[Discovery] Whatsapp Integration - forward messages to messaging vendor"
### Todo:

- Review API documentation of suggested vendor (https://www.cm.com/)
- Design architecture
- Implement

[2022-07-19 19:39] anvmn commented on #339
@adamhstewart

Spent a couple of hours reviewing cm.com [ducumentation](https://www.cm.com/app/docs/api/business-messaging-api/1.0/index/#whatsapp), and capabilities for WhatsApp messages delivery.
Platform concept is interaction with customers programmatically, which implies 2 way communication.
In our case we do not expect to get any responses, however, I don't see any limitation for using it in

[2022-07-19 19:39] anvmn commented on #339
Putting this on hold for now, untill we discuss this with @adamhstewart

[2022-07-19 21:40] jeanette-pelizzon opened #340 "ANC - Hierarchy of Diagnoses [4h]"
## Issue

As discovered in #139, we currently have a problem where E-Heza doesn't know the diagnosis hierarchy of hypertension, preeclampsia, and eclampsia and is therefore diagnosing patients will all three. Since the logic for these diagnoses is very similar - just stacking on extra symptoms - we need to create a hierarchy so that a patient is not diagnosed with all of these when it should be ju

[2022-07-20 09:51] anvmn commented on #340
@jeanette-pelizzon

Table looks good to me. Only thing tha is inaccurate is that Severe Preeclampsia when there's severe headaches with blurry vision (danger signs) is for ANY EGA.

Also, please align EGA values at Logics file to match those in table:
![Selection_930](https://user-images.githubusercontent.com/17882245/179953262-43cd2c7e-95a8-4875-acec-88e4720045a4.png)

[2022-07-20 11:36] balagan73 commented on #325
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. As this is displayed at the first encounter, maybe it is worth rephrasing the text, because the patient not necessarily has any symptoms. Or maybe we can just drop the first sentence.

![2-symptom-review-page](https://user-images.githubusercontent.com/3536805/179971434-603b0ab2-6070-4121-8718-4881cf809f

[2022-07-20 11:40] balagan73 commented on #321
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When patient is >=20 weeks, they are referred to hospital for severe vomiting.
![1-warning](https://user-images.githubusercontent.com/3536805/179973051-c533cde4-aff2-4fcd-a05d-df850004733f.png)
![image](https://user-images.githubusercontent.com/3536805/179973113-2cbaf532-09f9-4e99-b78a-2a18b7af32b4.png)

[2022-07-20 13:50] balagan73 commented on #322
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. We have only one screen, and if test was performed,  the test date can be set set. If test was not performed, its reason is asked. I think the design should be updated, what we have is correct.

Test performed|Not performed
-|-
![1-fasting](https://user-images.githubusercontent.com/3536805/179998723-b72

[2022-07-20 14:53] balagan73 commented on #332
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. There are typos on the health education screen.
![3-healt-edu-typo](https://user-images.githubusercontent.com/3536805/180004320-a82000a8-4580-4e39-beea-052a9479d3f3.png)

2. After entering results (with all Gestational diabetes conditions) under case management, encounter cannot be ended. To save time I

[2022-07-20 15:01] balagan73 commented on #331
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues:

1. Encounter cannot be ended. Also reported and detailed in #332
2. When <= 20 weeks EGA + urine dip (glucose) >=2+ and encounter was paused before Random blood glucose test.
Encounter could be ended without any next steps. Nothing displays on progress report.
![image](https://user-images.githubusercontent.com/3536805/1

[2022-07-20 16:04] balagan73 commented on #258
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. When pending test results are entered under Laboratory -> History, and patient <= 20 weeks EGA + urine dip (glucose) >=2+   blood sugar >7mmol/L, they should be diagnosed with Gestational diabetes, and not referred to hospital. If I understand correctly, hospital referral is only necessary if Random blo

[2022-07-20 16:43] balagan73 commented on #309
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

Specific Gravity is not listed on Dip stick - long page.

![image](https://user-images.githubusercontent.com/3536805/180037066-a0a43855-acfd-4c7b-b972-c28aca30053b.png)

[2022-07-20 17:01] balagan73 commented on #154
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

As far as I remember, Fundal height was validated before. Now I can enter any value. The patient where this is happening, had several encounters.
![image](https://user-images.githubusercontent.com/3536805/180039638-65411bfb-a6bb-4015-be42-7a1c4d9252bd.png)

### Checked and approved:

1. Encounter can be en

[2022-07-20 17:08] anvmn commented on #154
@balagan73

There never was validation there. Almost all inputs do not get validated.
Rare exception is few fields on Create / Edit patient form.

//cc @jeanette-pelizzon

[2022-07-20 17:17] anvmn commented on #258
@balagan73

Not sure from where you stating the requirements, but for tests completed from labs history, the requiremenst are [here](https://github.com/TIP-Global-Health/eheza-app/issues/258#issuecomment-1188108879).
The ones for Random blood sugar are marked in red.
In short, if performed test causes any kind of Diabetes diagnosis, at current encounter, patient should be referred to hospital.

//

[2022-07-20 17:22] balagan73 commented on #259
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When Date concluded field of Prenatal labs results content type is changed back to the day before today, the Pending tests disappear from case management.
![image](https://user-images.githubusercontent.com/3536805/180043968-f6c40f68-30f6-4f39-b08a-2388a4b37d2d.png)

[2022-07-20 17:42] balagan73 commented on #267
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Now there is only one Glucose entry, and Leukocytes display.

![8-leukocytes](https://user-images.githubusercontent.com/3536805/180047732-fba361bd-1d20-429f-9347-574f43ac1620.png)

[2022-07-20 18:06] balagan73 commented on #256
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. There are still some typos and grammatical errors.
An apostrophe is missing from the second line:
"The patient's current BP is ..."

4th sentence should be: "It is recommended that the medication is increased one dosage level to ..."

And down should be"recommendations"
![20-typo](https://user-images.gi

[2022-07-21 02:40] jeanette-pelizzon opened #342 "ANC Labs - Rhesus Negative [4h]"
## Issue

We currently do not have any logic for a negative rhesus in ANC. As background, the patient needs to receive a special sort of medicine that is only available at the hospital to avoid complications after birth.

If a patient has negative rhesus:

(1) refer to the hospital
(2) Add to progress report "Referred to hospital for management of Rh-Negative status on XX/XX/XXXX" under obstetrica

[2022-07-21 02:50] jeanette-pelizzon commented on #340
**NOTE:** once a patient moves up in the hierarchy they will never go back down, even if their symptoms stop.

- fixed the logic master

- here is the updated screen shot (good catch!)

<img width="936" alt="Screen Shot 2022-07-20 at 7 49 36 PM" src="https://user-images.githubusercontent.com/77505464/180119496-4ae9d6a2-7b8f-421c-8948-fac2870d066a.png">

// @anvmn

[2022-07-21 05:24] balagan73 commented on #258
@anvmn I was checking the Logic google sheet. Then, according to the comment of @adamhstewart patient should be sent to hospital after non-normal results. And I suppose, the diagnosis should be Diabetes and not Gestational Diabetes, but the google sheet states otherwise. //cc @jeanette-pelizzon
![image](https://user-images.githubusercontent.com/3536805/180135247-c66bf2e0-5410-421d-aca6-c5edf6aa6ba

[2022-07-21 05:39] balagan73 commented on #273
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. No Antenatal care is available for male patients.
![6-no-anc-for-male](https://user-images.githubusercontent.com/3536805/180137812-0ab17974-ba1b-4fe9-a8a7-f7d55db4de33.png)

[2022-07-21 05:51] balagan73 commented on #317
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. No encounter of type Antenatal care is available for a 12 year old child.
![2-no-anc](https://user-images.githubusercontent.com/3536805/180139228-db693432-b788-4c05-b4df-a87832b280e8.png)

[2022-07-21 05:54] anvmn commented on #258
@balagan73 You're looking at logic for issue #331.
This issue is #258, and it's requirements are [here](https://github.com/TIP-Global-Health/eheza-app/issues/258#issuecomment-1188108879).

[2022-07-21 06:08] balagan73 commented on #154
@anvmn @jeanette-pelizzon This is what I meant by validation. I remember many times I had to try and guess the acceptable fundal height for a given EGA. I also recall there was some validation working for Fetal heart rate, when @adamhstewart first showed me how this app works, he forgot that a fetus's heart rate should be around double, and he had to changed that data.
![image](https://user-images

[2022-07-21 06:18] anvmn commented on #154
@balagan73
Fundal height depends on EGA.
If EGA is set properly, APP calculates the ranges, and views the alert.
I tested this on nutrition env and it works well:

![Peek 2022-07-21 09-15](https://user-images.githubusercontent.com/17882245/180142977-0c23464b-450a-4352-abfd-65db6eb73e53.gif)

If you can reproduce, please mention patient name so I can take a look at it (and of course, make no other

[2022-07-21 06:22] balagan73 commented on #241
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Patient is referred to hospital at second encounter, when there is pelvic pain with No severe pain in followup question.
![17-referral](https://user-images.githubusercontent.com/3536805/180143501-6938af25-2e25-4d81-8e42-683a186fff7b.png)

[2022-07-21 07:34] balagan73 commented on #252
### QA Review

### Found issues and question.

1. There is another verb in the sentence. "take" should be dropped, or changed to "to be taken"
![10-grammar](https://user-images.githubusercontent.com/3536805/180151664-e0fe24be-5e6c-449b-9926-959246a70462.png)

Although the comma is inserted, and the Coartem, 4 treatment looks good here, it occurs in other places too. If Medical distribution text is

[2022-07-21 08:37] anvmn opened #343 "Upgrade Drupal core to v7.91 [1h]"
https://www.drupal.org/project/drupal/releases/7.91

![Selection_936](https://user-images.githubusercontent.com/17882245/180169642-63deb921-99b3-4b89-8661-762fe5f1e5dc.png)

[2022-07-21 09:29] anvmn commented on #340
@jeanette-pelizzon

Thanks.

Please note that there're still differences between logic master and the table.
At Severe Preeclapsia, we do not have edema condition.
Also, BP conditions are not the same -  for Hypertension it's enough for one of the measurement to be off, while for Sever Preeclapsia, both dia and sys should be off.
I know that logic master is the source of truth... but it has tenden

[2022-07-21 09:31] balagan73 commented on #242
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Looking at the hypertension medical distribution page I noticed another typo. Cronic should be Chronic
![4-hypertension-typo](https://user-images.githubusercontent.com/3536805/180180649-d2b6adb5-bc44-4fb4-b9a0-51734913da28.png)

### Checked and approved:

1. The typo in the medication names are fixed.
!

[2022-07-21 10:35] anvmn commented on #338
@balagan73

We had these requirments as part of #331 and #332, but I don't see QA report  addressed it.
Please verify one Nutrotion env.

[2022-07-21 13:22] balagan73 commented on #338
### QA Review

### Found issues and questions:

1. When at first encounter I do not enter all data for the patient, just go for labs, do a test, and then pause the encounter, then after finishing the test (random blood sugar test), and coming back for subsequent visits, it is not possible to enter patient data, eg. pregnancy data, photo. I think this is the precondition of validation not working o

[2022-07-21 14:10] jeanette-pelizzon commented on #325
That first line should not appear on this screen. That first line only appears on the conditional screens based on the symptoms they selected.

This is the design:

<img width="316" alt="Screen Shot 2022-07-21 at 7 09 41 AM" src="https://user-images.githubusercontent.com/77505464/180234529-5c87512f-db6d-465c-9584-2df164d24380.png">

@Diama1 can you fix?

[2022-07-21 14:17] Diama1 commented on #325
@jeanette-pelizzon sure

[2022-07-21 14:20] jeanette-pelizzon commented on #322
It is supposed to be one screen but some of the questions are conditional. I just retested. This works appropriately.

Moving to acceptance.

[2022-07-21 14:25] jeanette-pelizzon commented on #332
**Point 1**

@Diama1 can you fix the typos in point one, please?

**Point 2**
I am not sure I understand what you meant by paused activities. I believe you shouldn't be able to end the encounter until you complete all activities in the first encounter. You don't need to input all results from case mgmt to end an encounter but the activities must be worked through in the first part.

@anvmn let me

[2022-07-21 14:27] Diama1 commented on #332
@jeanette-pelizzon sure

[2022-07-21 14:35] jeanette-pelizzon commented on #256
@Diama1 can you please fix the typos that Zolt has found above. Thanks!

[2022-07-21 14:40] jeanette-pelizzon commented on #317
@anvmn If I understood this issue correctly, a user should not be able to start any type of encounter with a patient who has no age save in eheza. Not just ANC as shown in the photo above. Want to make sure the larger issue is okay.

I've never encountered this but we should prompt the user to input an age for the patient if non exists - does that happen?

[2022-07-21 14:46] jeanette-pelizzon commented on #242
@Diama1 can you please fix the typo that Zolt has outlined above. Thank you!

[2022-07-21 14:51] jeanette-pelizzon commented on #154
Moved to acceptance but @balagan73 please see Anatoly's comment above. If there is still an issue please assign to the correct person and update project board.

[2022-07-21 15:27] jeanette-pelizzon commented on #331
1. Let's handle in issue #332
2. We may need to look into this further because the random blood sugar should be run every visit but if they don't run the test and the patient get a urine dip (glucose) above 2 then they should be prompted again to run the random blood sugar as that will finalize diagnosis. @anvmn

<img width="1119" alt="Screen Shot 2022-07-21 at 8 25 44 AM" src="https://user-images

[2022-07-21 15:30] jeanette-pelizzon commented on #252
1. @Diama1 can you update this text please. There is a part above the image and then the coartem point below the image.

2. I believe it is set up at the moment to show the person twice in the list - 1x for the vitals recheck and 1x for the lab follow up. This seems like it is not happening @balagan73?

[2022-07-21 17:48] anvmn commented on #343
Deployed to live:
![Selection_938](https://user-images.githubusercontent.com/17882245/180280378-64e3ed84-8477-4574-b0ed-30a290ed91bd.png)

Closing...

[2022-07-21 17:48] #343 closed, assigned to anvmn

[2022-07-22 13:05] balagan73 commented on #338
I am stuck with this, cannot end encounter after entering lab results with Case management. I have tried repairing my device, it did not help. After repairing the device, not all patient have images in the directory. @anvmn Can you help me with this?

[2022-07-24 10:51] anvmn commented on #331
@jeanette-pelizzon

With the development of allowing next steps (where encountrer is paused) after all activities are completed (beside Photo), random blood sugar wil be filled by nurse. It may not be run, due to one of the reasons nurse selects. In this case, per logic master, we diagnose by urine glucose.

I tested this, and it works fine for me. Hower, note that at  patient has NOT fasted -> bl

[2022-07-24 11:22] anvmn commented on #332
@jeanette-pelizzon

At case management, current logic says that all activites need to be completed for 'end encounter' button to become active.
The problem @balagan73 was experiencing is due to problem with logic that determines if health education sub activity is completed or not. This needs to be fixed. Problem here is that we need to make some infrastructure changes, to support health education

[2022-07-24 11:40] anvmn opened #346 "ANC Subs - Next Steps - Health education as dynamic sub activity for both phases of encounter [3h]"
Follow up for #331 and #332

Health education may need to appear for Diabetes diagnoses.

<img width="291" alt="Screen Shot 2022-07-14 at 3 19 33 PM" src="https://user-images.githubusercontent.com/77505464/179076019-d995b780-5a8f-47ed-a162-dd63a65548dc.png">

### Todo:

- Introduce new field store signs of sencond phase, to allow a decision if certain educational task was completed or not.
- Devel

[2022-07-25 06:24] balagan73 commented on #338
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Now I could end the encounter when doing Case management.
![image](https://user-images.githubusercontent.com/3536805/180711678-9ea9410e-38ba-43d8-a061-ab30e5432320.png)

2. Patient is referred to hospital at first encounter, when blood glucose level is high according to logic.
Then at subsequent encounter no

[2022-07-25 07:05] balagan73 commented on #258
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. After pausing encounter, and coming back in a future date, under history tab I have entered all results as positive. I referred patient to hospital, but report says otherwise.

Pending lab results|Hospital referral|Report
-|-|-
![image](https://user-images.githubusercontent.com/3536805/180717728-a056bed

[2022-07-25 07:14] balagan73 commented on #237
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Panel title is now 'Leg pain or redness'
![image](https://user-images.githubusercontent.com/3536805/180719408-e95da06b-b2b8-4c47-995c-a3a823ac8988.png)

[2022-07-25 07:58] balagan73 commented on #232
### Checked and approved:

1. Question mark is replaced by colon:
![image](https://user-images.githubusercontent.com/3536805/180725001-251243be-955f-4b61-a5be-a58e3d2ca138.png)

2.  Medication distribution displays properly, typos are fixed, and dosage appears on medical distribution page.
![image](https://user-images.githubusercontent.com/3536805/180725549-3141441c-776d-4216-9c28-982f9372057e.png

[2022-07-25 08:26] balagan73 commented on #230
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Typo is fixed.
![image](https://user-images.githubusercontent.com/3536805/180732755-0aac0044-3f3f-454e-b498-259c8d2d59d4.png)

[2022-07-25 08:39] balagan73 commented on #231
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Still no Next steps icon displays for both entering Nausea and vomiting twice with 'No' answers to follow-up questions, or once with 'Yes' answer.

![image](https://user-images.githubusercontent.com/3536805/180734873-c92ba0e8-c595-4a4e-8bbc-a3cf4f4953ad.png)

[2022-07-25 08:48] balagan73 commented on #235
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. No warning displays when there is repeated constipation diagnosed.

[2022-07-25 08:50] anvmn commented on #271
@adamhstewart @Diama1
Taking this over.

[2022-07-25 08:55] balagan73 commented on #246
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. There is a space missing on the warning panel:

![image](https://user-images.githubusercontent.com/3536805/180738124-b931c5e7-1e22-448d-8cc7-2467d6b1fa44.png)

[2022-07-25 09:03] balagan73 commented on #236
### QA Review

### Checked and approved:

1. No warning displays for first or repeated Varicose veins symptoms.

[2022-07-25 09:14] balagan73 commented on #240
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Cough duration is 2 weeks now.
![image](https://user-images.githubusercontent.com/3536805/180742046-c2f42549-1cd6-4bc5-977b-c334bf7f6aa2.png)

2. When I uncheck Pelvic pain, and then check cough for 2 weeks, warning displays stating only Risk of TBC.
![image](https://user-images.githubusercontent.com/3536805/

[2022-07-25 17:08] jeanette-pelizzon opened #351 "Feature: Post-Partum"
**Feature Description**
Coming Soon!

## Logic Document
The logic for post-partum visits can be found in the Logic Master[ here](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493). Under the ANC - Nurse tab. Scroll down for the post-partum section.

## Design Assets
Design files for Post-Partum can be found [here](https://www.figma.com/file/0rI

[2022-07-25 17:11] jeanette-pelizzon opened #352 "ANC - PostPartum - Infrastructure [6h]"
## Issue

Postpartum will replace the pregnancy outcome encounter in ANC. This encounter type will have 9 activities:

Pregnancy Outcome | Symptom Review | Maternal Mental Health | Breastfeeding
--|--|--|--
<img width="224" alt="Screen Shot 2022-07-25 at 10 19 09 AM" src="https://user-images.githubusercontent.com/77505464/180837164-12dcf20e-1c2b-498e-9afc-f9869dbcbd2f.png"> | <img width="223" alt=

[2022-07-25 18:26] jeanette-pelizzon commented on #331
verified with wendy-> 11.1 mmol/L  is the correct number.

[2022-07-25 19:02] anvmn commented on #258
@balagan73 you did refer to hospital, but on 25/07, not on 12/07. So that part is correct.
However, we do not have requirements for progress report, when we send to hospital based on diagnosis from previous encounter.
@jeanette-pelizzon can you define this please?

[2022-07-25 19:07] anvmn commented on #258
@balagan73

With latest release we got Blood group - negative rhesus implemented,
Please test:
![Selection_965](https://user-images.githubusercontent.com/17882245/180855149-0adcf0e4-3afc-44b1-b25e-0d63a231ae9e.png)

[2022-07-25 19:08] anvmn commented on #342
@balagan73

Please test on nutrition env.

[2022-07-25 19:10] anvmn commented on #265
@balagan73

Please verify that type at popup is fixed.

[2022-07-25 19:11] anvmn commented on #291
@balagan73

Please verify that typos are fixed.

[2022-07-25 19:14] anvmn commented on #244
@balagan73

Please verify that typos and popup text are fixed.

[2022-07-25 19:15] anvmn commented on #308
@balagan73 please test on Nutrition env.

[2022-07-25 19:27] anvmn commented on #331
@balagan73 please retest points 2 and 3. Note that pre https://github.com/TIP-Global-Health/eheza-app/issues/331#issuecomment-1194450250 it's 11.1 and not 11.

Point 1 should also be fixed, as long  as all activities are completed.

[2022-07-25 19:34] anvmn commented on #346
@balagan73

This restructuring was required as a result of analysing point 1 from #331.
Test for this change requires verification that Health Education subactivity can be saved both at initial and 'lab results' phases of encounter.

[2022-07-25 19:51] jeanette-pelizzon commented on #340
Updated. The table is VERY general to understand the hierarchy so always refer to logic master.

Again, all logic should be pulled from logic master. I just included that column to try and help explain why the hierarchy is the way it is. If it confusing just ignore it or I can take it. All we really need to know is the hierarchy.

I try and keep it as updated as possible as we answer questions or

[2022-07-25 20:12] jeanette-pelizzon opened #353 "ANC - Update - Preeclampsia (Mild to Moderate) Logic [6h]"
## Issue

*This issue is only dealing with Mild to Moderate Preeclampsia*

As we tackled questions around the hierarchy of hypertension/preeclampsia, some other issues with the preeclampsia (mild to moderate) logic came to light.

Currently, we diagnose preeclampsia and refer to the hospital. If a patient continues to have the same symptoms we would keep referring them.

Now, when a patient is dia

[2022-07-25 20:13] jeanette-pelizzon commented on #353
Logic for continued care can currently be found at line 107 in the Logic Master. This will change as we continue to add and move things in that document but just so you can find it easier now.

// @anvmn

[2022-07-25 20:28] jeanette-pelizzon opened #354 "ANC Subs - Preeclampsia (Mild to Moderate) Next Steps [6h]"
## Issue

*This issue is only dealing with Mild to Moderate Preeclampsia**

If a patient is diagnosed with preeclampsia for the first time, we refer them to the hospital.

Once a patient has been seen at the hospital, they will continue to return to the health center for their normal ANC visits.

We will manage preeclampsia (Mild to Moderate) patients the same way that we manage hypertension patie

[2022-07-25 20:38] jeanette-pelizzon opened #355 "ANC Subs - Outside Care - Adding a Question [4h]"
## Issue

The clinical team would like to add an additional question to the subactivity = outside care under the activity = history.

**New Question**: Do you have follow up care planned with a specialist?

<img width="249" alt="Screen Shot 2022-07-25 at 1 34 32 PM" src="https://user-images.githubusercontent.com/77505464/180869695-8f5625ed-bd85-4c81-a56f-59941d2a0a4f.png">

## Related Issue
- #356

[2022-07-25 20:41] jeanette-pelizzon opened #356 "ANC Subs - Outside Care - Logic Update [4h]"
## Issue

In #355 we added the yes/no question "Do you have follow-up care planned with a specialist?" Now we need to update the logic associated with this question.

**If yes**, cancel next steps for diagnosis that were selected on this screen.

_More info_: we finish the subactivity screens but any next steps regarding continued care for that diagnosis will be cancelled. We don't need to worry a

[2022-07-25 22:22] jeanette-pelizzon opened #357 "ANC PostPartum - Pregnancy Outcome [5h]"
## Issue

This activity is bringing all the screens and logic from the old pregnancy outcome encounter into an activity under the new postpartum encounter type.

There have been no changes to the screens or the existing logic (if any existed at all).

Tray View | One Screen
--|--
<img width="242" alt="Screen Shot 2022-07-25 at 3 20 40 PM" src="https://user-images.githubusercontent.com/77505464/180

[2022-07-25 22:31] jeanette-pelizzon opened #358 "ANC PostPartum - Symptom Review [5h]"
## Issue

We are adding a symptom review activity to the postpartum encounter. There are a few new symptoms added from the symptom review activity we have elsewhere in ANC.

We are adding the symptoms highlighted in red here:
<img width="188" alt="Screen Shot 2022-07-25 at 3 43 01 PM" src="https://user-images.githubusercontent.com/77505464/180886402-846585a1-4531-45d5-b065-f97b7f0280b9.png">

The

[2022-07-25 22:55] jeanette-pelizzon opened #359 "ANC PostPartum - Symptom Review Logic [5h]"
## Issue

_Note: in the app all symptoms should appear grey, used two different colors to help explain here._

<img width="188" alt="Screen Shot 2022-07-25 at 3 43 01 PM" src="https://user-images.githubusercontent.com/77505464/180887318-6eeb3ff6-2a46-4bf9-a460-c45e3471f94b.png">

**Grey Symptoms**
These symptoms already have logic built out for them in the ANC module. That logic should stay the sa

[2022-07-26 01:34] jeanette-pelizzon opened #360 "ANC PostPartum - Maternal Mental Health [1h]"
## Issue
During the post-partum visit, the patient will be asked the same series of Maternal Mental Health questions that we ask elsewhere in the ANC module.

Design -> Use the exact same screens as in #290

## To Do
- Create Maternal Mental Health Activity (if not already done in #352 )
- Style screens per design

[2022-07-26 01:40] jeanette-pelizzon opened #361 "ANC PostPartum - Maternal Mental Health Logic [4h]"
## Issue

Logic for Maternal Mental health in postpartum is exactly the same #291. Please see questions/answers in that thread.

## To Do:
- Style Screens per Design
- Logic

[2022-07-26 01:47] jeanette-pelizzon opened #362 "ANC PostPartum - Breastfeeding [10h]"
## Issue

In the postpartum encounter, we check in with the mother regarding breastfeeding to ensure that she is not experiencing any complications and that the baby is getting enough food.

Initial Screen: We ask if the patient is breastfeeding.
<img width="330" alt="Screen Shot 2022-07-25 at 6 46 31 PM" src="https://user-images.githubusercontent.com/77505464/180904787-d4bb2351-45da-4039-bebd-ed0

[2022-07-26 01:58] jeanette-pelizzon opened #363 "ANC PostPartum - Next Steps - Early Mastitis or Engorgement [6h]"
## Issue

If a patient meets the criteria for Early Mastitis or Engorgement, the next steps are to provide health education and distribute medication.

See [Logic Master](url) for diagnosis criteria.

Pop Up | Health Education | Medication Distribution
--|--|--
<img width="319" alt="Screen Shot 2022-07-25 at 6 57 15 PM" src="https://user-images.githubusercontent.com/77505464/180905952-f6c014dc-b54

[2022-07-26 02:00] jeanette-pelizzon opened #364 "ANC PostPartum - Next Steps - Mastitis"
## Issue
If a patient meets the criteria for Mastitis, the next steps are to provide health education and distribute medication.

See [Logic Master](url) for diagnosis criteria.

Pop Up | Health Education | Medication Distribution
--|--|--
<img width="199" alt="Screen Shot 2022-08-10 at 11 24 15 AM" src="https://user-images.githubusercontent.com/77505464/183988566-54da60e3-4502-4e9d-9aab-2b2245871

[2022-07-26 02:04] jeanette-pelizzon opened #365 "Whatsapp - Country Code Validation List [4h]"
## Issue

The following countries are the top priority to have the phone number validation and country codes implemented

- Rwanda: +250
- Uganda: +256
- Congo: +243
- Kenya: +254
- Tanzania: +255
- Burundi: +257
- USA + Canada: +1

[2022-07-26 02:20] jeanette-pelizzon opened #366 "ANC PostPartum - Physical Exam [10h]"
## Issue

The post-partum encounter will have a physical exam activity. This activity has several sub-activities, below I have listed which ones are staying the same and which are changing:

- Vitals -> stays the same
- Nutrition -> stays the same
- Core -> stays the same
- Obstetrical Exam -> NOT in this encounter
- Breast Exam -> *add in an option for "warmth"*

We are adding in a new sub-activi

[2022-07-26 02:30] jeanette-pelizzon opened #367 "ANC Post Partum - Next Steps - Excessive Bleeding [4h]"
## Issue

If the patient meets the criteria outlined in the[ Master Logic doc](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493) for excessive bleeding they should be referred to hospital for further evaluation. Next steps for excessive bleeding happens in the next steps section and does not interrupt the flow of the encounter.

Pop Up Design:

[2022-07-26 02:34] jeanette-pelizzon opened #368 "ANC PostPartum - Next Steps - HIV [6h]"
## Issue
If a patient was diagnosed with HIV at some point during their pregnancy, and they are not already enrolled in an ARV services program (determined in specialty care review) then we will refer them to ARV services for continuous care post-pregnancy.

This is the referral screen for ARV services:

<img width="279" alt="Screen Shot 2022-07-25 at 7 32 37 PM" src="https://user-images.githubuse

[2022-07-26 02:37] jeanette-pelizzon opened #369 "ANC PostPartum - Next Steps - Diabetes [6h]"
## Issue

If a patient was diagnosed with any type of diabetes (Gestational or Normal Diabetes) during their pregnancy we need to refer them to a NCD services for continued treatment post-pregnancy.

Here is the NCD services referral screen:
<img width="291" alt="Screen Shot 2022-07-25 at 7 36 03 PM" src="https://user-images.githubusercontent.com/77505464/180910839-23fa2776-4e26-4f49-8c8c-e0c6488c

[2022-07-26 02:38] jeanette-pelizzon opened #370 "ANC PostPartum - Next Steps - Hypertension, Preeclampsia, Eclampsia"
## Issue

If a patient was diagnosed with any type of hypertension, preeclampsia or eclampsia during their pregnancy we need to refer them to NCD services for continued treatment post-pregnancy.

Here is the NCD services referral screen for hypertension:
<img width="238" alt="Screen Shot 2022-07-25 at 7 42 58 PM" src="https://user-images.githubusercontent.com/77505464/180911733-b3b66020-022b-4d01-

[2022-07-26 02:39] jeanette-pelizzon commented on #370
@leowea do we refer people to NCD services only for chronic hypertension? Or do we include gestation hypertension, preeclampsia, and eclampsia as well?

[2022-07-26 02:45] jeanette-pelizzon opened #371 "ANC PostPartum - Next Steps - Urinary Incontinence [4h]"
## Issue

If the symptom "urinary incontinence" is selected during the symptom review, the patient should be referred to the hospital in the next steps section. Hospital referral screen should be the usual one. Pop-up for this diagnosis is below.

<img width="320" alt="Screen Shot 2022-07-25 at 7 44 12 PM" src="https://user-images.githubusercontent.com/77505464/180911824-63fd0d2a-2f49-483b-baf8-8d

[2022-07-26 02:47] jeanette-pelizzon opened #372 "ANC Post Partum - Next Steps - Infection [6h]"
## Issue

If the patient meets the criteria for infection as outlined in the postpartum section of the [logic master](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=1762936493), then they should be referred to the hospital. The hospital referral screen is the usual one. Pop-Up design for this diagnosis is below:

<img width="320" alt="Screen Shot 2022-

[2022-07-26 02:54] jeanette-pelizzon opened #373 "ANC PostPartum - Family Planning [4h]"
## Issue

The family planning already exists elsewhere in the ANC module. We need to pull that over and add it as an activity to the post-partum encounter.

Here is what the screen should look like:

<img width="344" alt="Screen Shot 2022-07-25 at 7 52 08 PM" src="https://user-images.githubusercontent.com/77505464/180912917-6d5cefc9-6abe-43df-beb3-a655d24159df.png">

There is no next steps logic a

[2022-07-26 03:03] leowea commented on #370
@Jeanette Pelizzon ***@***.***> we would refer all of
these situations to NCD services.

Wendy Leonard, MD, AAHIVS

Executive Director

TIP Global Health (formerly The Ihangane Project)

***@***.*** | +1 831 234 6053
www.tipglobalhealth.or <http://www.tipglobalhealth.org/>g

*Hope lies in dreams, in imagination, & in the courage of those who dare to
make dreams into reality. **- Jonas Salk*

On Mo

[2022-07-26 03:04] jeanette-pelizzon opened #374 "ANC PostPartum - Prior Treatment Review [4h]"
## Issue

This activity checks in to see what supplements the mother received during/after labor.

<img width="342" alt="Screen Shot 2022-07-25 at 8 03 52 PM" src="https://user-images.githubusercontent.com/77505464/180914267-2b846f87-9e39-45bb-8199-b7b5c0ea7f76.png">

## To Do:
- Style screen per design

[2022-07-26 03:09] jeanette-pelizzon opened #375 "ANC PostPartum - Treatment Review - Next Steps [4h]"
## Issue

<img width="342" alt="Screen Shot 2022-07-25 at 8 03 52 PM" src="https://user-images.githubusercontent.com/77505464/180914361-3df5d9f9-9274-4bb5-9a15-2102c0ec4efd.png">

If a patient answers no to Vitamin A, we will distribute 200,000 IU of Vitamin A in next steps.

Pop Up | Medication Distribution
--|--
<img width="326" alt="Screen Shot 2022-07-25 at 8 06 39 PM" src="https://user-images

[2022-07-26 03:22] jeanette-pelizzon opened #376 "ANC PostPartum - Specialty Care - HIV [6h]"
## Issue

If a patient was diagnosed with HIV during their pregnancy, the specialty care review activity will populate in the activity tray.

This activity allows the nurses to check in with the patient to ensure they that they are set-up with continuous care now that their pregnancy is over.

<img width="345" alt="Screen Shot 2022-08-17 at 8 21 03 AM" src="https://user-images.githubusercontent.co

[2022-07-26 03:25] jeanette-pelizzon opened #377 "ANC Post Partum - Specialty Care Review - Hypertension"
## Issue

If a patient was diagnosed with a Hypertension related issue during their pregnancy, the specialty care review activity will populate in the activity tray. That means preeclampsia, eclampsia, or any sort of hypertension.

This activity allows the nurses to check in with the patient to ensure they are set-up with continuous care now that their pregnancy is over.

<img width="381" alt="Scr

[2022-07-26 07:07] anvmn commented on #356
@jeanette-pelizzon @adamhstewart

There are no next steps for any of selected diagnoses.
We collected this info only for progress report. See https://github.com/TIP-Global-Health/eheza-app/issues/257#issue-1217863014.

Moreover, if we needed next steps, that would completly break our current architecture,
because there are diagnoses that can be determined only on 'labs results' phase of encounter.

[2022-07-26 07:15] balagan73 commented on #342
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When patients have negative rhesus result for blood group, they are referred to hospital, and it is indicated on the progress report page.

Hospital referral|Progress report
-|-
![image](https://user-images.githubusercontent.com/3536805/180946273-5c68bd73-198e-486c-9056-806ec1ea7d70.png)|![image](https://user

[2022-07-26 07:18] balagan73 commented on #258
@anvmn This case was tested here, all is fine: https://github.com/TIP-Global-Health/eheza-app/issues/342

### QA Review

### Found issues:

1. I have checked again the cases of diabetes and hepatitits. When I go back, and Update lab results of Blood sugar and Hepatitis so that the patient has these conditions, and then I refer them to hospital treatment, it is not stated on the Progress report.

R

[2022-07-26 07:57] balagan73 commented on #346
### QA Review

### Found issues and questions:

1. When patient was diagnosed with diabetes with updating historical lab results (https://github.com/TIP-Global-Health/eheza-app/issues/258), no health education displays for diabetes.

![image](https://user-images.githubusercontent.com/3536805/180951836-86f94c9b-93ef-455e-adf8-639269d12bbd.png)

2. Typo still exists on the health education panel.
![

[2022-07-26 08:53] balagan73 commented on #331
### QA Review

### Found issues and questions:

1. In the row of Diabetes the Google sheet logic says: Patient is under 20 weeks EGA, and urine dip (glucose) is >=2+ and the patient has fasted-> blood sugar >7mmol/L = Gestational Diabetes. If the patient has NOT fasted -> blood sugar >=11= Gestational Diabetes.
@jeanette-pelizzon Is this supposed to be Diabetes?

![image](https://user-images.githu

[2022-07-26 09:01] anvmn commented on #346
@jeanette-pelizzon @balagan73

Per #258 requirements, if patient was diagnosed with diabetes by updating historical lab results, they should be referred to hospital. Nothing else.

It's a know issue from #332, and will be handled there.

[2022-07-26 09:09] anvmn commented on #258
@balagan73 @jeanette-pelizzon

This is know issue. @jeanette-pelizzon will define text for progress report and open separate issue for this.

No, all works as designed.
You entered an encounter that was already open on 26-08-2021, and performed negative rhesus there.
Here's the content that was created:

![Selection_971](https://user-images.githubusercontent.com/17882245/180969347-8bce672c-8f4d-4d

[2022-07-26 09:34] anvmn commented on #353
@jeanette-pelizzon

This requires a change at Outside Care activity, because right now, we do not offer a choice of medication for Preeclampsia. So, we'll need a new issue to offer these medications (identical to what we have for Hypertension, I suppose).

This will require determining which medication patient takes right now.
If we look at hypertension for example, even if we know from Outside ca

[2022-07-26 11:18] anvmn opened #378 "ANC - PostPartum - Access [2h]"
@jeanette-pelizzon

From #352:

It's not very clear, because as far as I can tell, there's no `pregnancy outcome encounter` right now for the nurses.
We do have a postpartum encounter for CHW though. Here's is how it accessed.

![Selection_979](https://user-images.githubusercontent.com/17882245/180992068-ae4a163e-f9e7-4a66-98cd-69df0fb3f330.png)

Note that it's always available, even when there we

[2022-07-26 17:03] anvmn commented on #352
@jeanette-pelizzon
Can't find breastfeeding icon on Figma:

![Selection_983](https://user-images.githubusercontent.com/17882245/181067074-5eb86f20-d96b-45c4-ba81-ee3347ecccff.png)

[2022-07-26 18:22] jeanette-pelizzon commented on #378
So this is what we currently have:

ANC @ CHW:
- First
- Subs
- Postpartum (outcome + danger signs_
- Record Pregnancy outcome

ANC @ Nurse:
- First
- Subs
- Record Pregnancy Outcome

I believe in the original conversation re: postpartum we spoke about this replacing pregnancy outcome. Personally, I think the two buttons are confusing and maybe one should be time dependent (example: pregnancy outc

[2022-07-26 18:26] jeanette-pelizzon commented on #353
1. Yes, we made changes to outside care. See linked related issues in the description.

2.  We should be taking into account the medication that a patient tells us they are getting from outside care. So if they are diagnosed with something outside - like hypertension- and tell us they are getting a medication, we should then provide the next steps recs based on that. Since we pull in the medicatio

[2022-07-26 18:28] jeanette-pelizzon commented on #352
@anvmn emailed it to you. All components are in [this figma file](https://www.figma.com/file/4Rbvi4x1Cxmwzq73Kwsqxk/Components?node-id=207%3A442)

[2022-07-26 19:44] jeanette-pelizzon commented on #331
@balagan the logic document is exactly what the clinical team gave me so we should follow that for logic. Is it populating correctly in the app?

[2022-07-26 19:45] jeanette-pelizzon commented on #346
Seems good to go? moving to acceptance testing since point 2 is being handled elsewhere

[2022-07-26 19:57] anvmn commented on #317
@jeanette-pelizzon

Well, at first I thought we should block all types, but currently, we allow starting Acute Illness encounter for patient that got no age set. So, this is what I developed for Patient Record as well.

No, this was never required. Birth date is a mandatory field when patient is created, so, not BD seems to me are edge case scenario.

[2022-07-26 20:03] jeanette-pelizzon commented on #252
Checking in on this issue @balagan73 @Diama1

[2022-07-26 20:06] jeanette-pelizzon commented on #317
Perfect, so theoretically no patient would be without a birthdate. So we just need to make sure that ANC options only populate for female patients age 13 and up - which seems to be happening. I'll move this to acceptance testing. Thank you!

[2022-07-27 05:36] balagan73 commented on #331
@jeanette-pelizzon No, patient is diagnosed with Diabetes. I have updated my QA Review above. However, without any medicinal knowledge just by looking at the table it looks like Gestational diabetes was not changed after a copy+paste. Can you confirm this diagnoses with the clinical team? Just did a quick search, and according to https://www.nhs.uk/conditions/gestational-diabetes/ this document th

[2022-07-27 06:43] balagan73 commented on #252
@jeanette-pelizzon

When I have a pending lab results, and vitals recheck, I only see Vitals recheck under case management.

Next steps|Case management
-|-
![image](https://user-images.githubusercontent.com/3536805/181179302-6d660b90-07a3-4c4b-b2df-8a3b17f9ed6d.png)|![image](https://user-images.githubusercontent.com/3536805/181179354-9576ba37-91fa-4337-ac83-07cedfb0d35c.png)

[2022-07-27 10:21] anvmn commented on #358
@jeanette-pelizzon

Here're the symptoms for standard encounter:

![Selection_985](https://user-images.githubusercontent.com/17882245/181223589-20277177-7279-47b8-ba83-6481f0246ec9.png)

I believe following fixes are needed for Postpartum design:

1. We have 'Leg Pain or Redness (One Leg)' so it should not be red.
2. Cough should be `> 2 weeks`.
3. 'Urinary Incontinence' appears twice - remove one

[2022-07-27 13:35] jeanette-pelizzon commented on #370
Thank you.

@anvmn I updated the main issue. This should be good to work on now.

[2022-07-27 16:42] anvmn commented on #359
@jeanette-pelizzon

Logics master got duplicate handling for `Urinary Incontinence`:

![Selection_989](https://user-images.githubusercontent.com/17882245/181302855-2acb6462-96e0-4eeb-9098-16db53d9335c.png)

Which one is correct?

[2022-07-27 16:46] anvmn commented on #359
@jeanette-pelizzon

We already have one popup when entering Next steps. It lists all diagnoses.
For example:
![Selection_990](https://user-images.githubusercontent.com/17882245/181303257-53ba4b17-563e-4c9e-805e-c87863b2d59f.png)

There will be such diagnoses at Postpartum encounter, and there can not be 2 popups.
So, we'll have to combine the two into one. Can you make a design please?

[2022-07-27 17:22] anvmn commented on #353
@jeanette-pelizzon

Only issue I see there is #355, and it about additional question on first page.
I'm talking about adding an option to choose mediaction that was given for Preeclapsia, on second page:

![image](https://user-images.githubusercontent.com/17882245/181309759-9ce341f8-99d1-4c37-b95c-e2cd34563d26.png)

Got it. What do we do in case patient was given Preeclapsia diagnosis, but did not

[2022-07-27 18:28] anvmn commented on #306
@Diama1 what's the status with this?

[2022-07-27 18:35] Diama1 commented on #306
Trying to finish up with it

[2022-07-27 18:35] anvmn opened #381 "ANC - Progress Report: Add CHW Activity section [5h]"
### Note: replacing https://github.com/Gizra/ihangane/issues/2896

## Issue

To accommodate the changes made in the ANC flow at the Health Center level and to better integrate CHW's and Nurses, we have made some changes to the ANC progress report.

### **CHW Activity**
Shows the date and a label for what happened at the CHW encounter. These directly correlate to the activities in the CHW - ANC vis

[2022-07-28 15:30] jeanette-pelizzon commented on #359
Apologies, we added the urinary incontinence logic later and I didn't catch this duplicate. It should result in the diagnosis urinary incontinence and be referred to hospital. I have updated the logic master to reflect this. @anvmn

[2022-07-28 21:00] jeanette-pelizzon commented on #353
@adamhstewart spoke with Wendy and we may be getting rid of the outside care subactivity so I can follow up on these but we may not need to. I would hold work on this @anvmn until we get the definite yes or no about the activity.

@adamhstewart we didn't get to speak about in scrum yesterday - do you have any guidance moving forward?

[2022-07-28 21:13] jeanette-pelizzon commented on #359
@anvmn design here:

![Uploading Screen Shot 2022-07-28 at 2.13.15 PM.png…]()

[2022-07-28 21:36] jeanette-pelizzon opened #382 "ANC Subs - Gestational Diabetes + Diabetes - Logic Update [2h]"
## Issue

The clinical team made an update to the logic and way we input results for gestational diabetes

<img width="245" alt="Screen Shot 2022-07-28 at 2 33 47 PM" src="https://user-images.githubusercontent.com/77505464/181641622-991fd600-5345-4d7c-80db-745c5f09f969.png">

Note: GDM = Gestational Diabetes and the Type 2 diabetes we don't have the logic for that (it's the first time it's been me

[2022-07-28 21:39] jeanette-pelizzon commented on #356
@adamhstewart is in talks with Wendy about keeping/cancelling the whole outside care activity. I'll let him take this one over.

[2022-07-31 10:14] Diama1 commented on #249
@jeanette-pelizzon on this task, I would like to ask for more clarification. On which condition will the ARV question be displayed?

[2022-07-31 11:16] anvmn commented on #359
@jeanette-pelizzon ^^ did not upload well, but I found it on Figma:

![Selection_1000](https://user-images.githubusercontent.com/17882245/182023637-66b6bca6-7793-4ec0-bb3b-1cdc0b965361.png)

[2022-07-31 15:02] anvmn commented on #359
@jeanette-pelizzon

This definition is problematic, because there may not be any next steps - for example, if only symptom is headache, and no other diagnoses are made.
Is it acceptable, that popup will not show in such cases?

[2022-08-01 07:50] Diama1 commented on #325
@jeanette-pelizzon Are we dropping the first text for both encounter or just for the first encounter?

[2022-08-01 10:53] anvmn commented on #375
@jeanette-pelizzon

About that popup, if we really need it, we have same problem as at https://github.com/TIP-Global-Health/eheza-app/issues/359#issuecomment-1197011850. It needs to fit somehow inside that one popup we show on Next Steps.

[2022-08-01 17:50] jeanette-pelizzon commented on #356
Per our conversation on 8/1, we are putting this issue on hold.

// @anvmn @adamhstewart

[2022-08-01 17:58] jeanette-pelizzon commented on #382
Alright, updated the logic document. Highlighted changed cells in this image. These changes should apply to both gestational and normal diabetes logic. I will update the other issue where this was mentioned as well.

<img width="929" alt="Screen Shot 2022-08-01 at 10 57 19 AM" src="https://user-images.githubusercontent.com/77505464/182212117-4493bda7-a454-47cd-b731-2ed4d66ba8d0.png">

[2022-08-01 19:02] jeanette-pelizzon commented on #331
Thanks for catching @balagan73. I followed up and they made two changes:

1) the way we input the medications/diagnose was changed (updated the appropriate issue there and @anvmn knows)

2) they updated the diagnosis stuff here as well to be diabetes for the diabetes stuff and gestational diabetes for gestaitonal if that makes sense.

Here are the updates highlighted in yellow on the logic sheet:

[2022-08-02 07:07] Diama1 opened #384 "ANC Subs - Translations for ANC Subsequent at Health Center"
## Issue
Adding translations for ANC Subsequent feature

## Tasks
- List texts that need translations for the team to add translations
- Add translations in the app

[2022-08-02 07:13] Diama1 opened #385 "Patient Record - Translation for Patient Record"
## Issue
Adding translations for Patient Record feature

## Tasks
- List texts that need translations for the team to add translations
- Add translations in the app

[2022-08-02 07:49] anvmn commented on #378
@jeanette-pelizzon @adamhstewart

As per our conversation yesterday, we will implement the access we have for CHW  - add Postpartum encounter button, and keep the 'Record preganncy outcome' button.
If changes are needed, we can adjust latter.

[2022-08-02 08:20] anvmn commented on #375
@jeanette-pelizzon per our conversation yesterday, we'll show the popup immediatly after activity is saved.

[2022-08-02 08:38] anvmn commented on #382
@jeanette-pelizzon

Question about :

![Selection_1006](https://user-images.githubusercontent.com/17882245/182330159-10153905-2b98-4439-89b6-610893a1fc38.png)

At previous versions we had a definition what should happen if random blood sugar test was unable to run:

![Selection_963](https://user-images.githubusercontent.com/17882245/182330454-3b172714-9068-455f-b8dd-603348d4818e.png)

If unable to

[2022-08-02 14:32] jeanette-pelizzon commented on #382
In unable to run random blood sugar, we should refer to the hospital.

I updated the logic document.

[2022-08-02 14:33] jeanette-pelizzon commented on #325
@Diama1 for all encounters. That text doesn't make sense there at all.

[2022-08-02 14:39] jeanette-pelizzon commented on #249
In treatment history for HIV patients. So if a patient was previously diagnosed with HIV in this pregnancy then this activity will appear during their next encounter. For the HIV Medication subactivity, the screen should look like what i posted [here](https://github.com/TIP-Global-Health/eheza-app/issues/249#issuecomment-1181205006).

Let me know if this helps!

[2022-08-03 03:59] jeanette-pelizzon opened #387 "ANC - Outside Care - Preclampsia [4h]"
## Issue

We need to add a screen for preeclampsia in outside care. The screen should only appear if they select preeclampsia in the initial outside care screen (the same as the other outside care There is no next steps logic associated with these inputs but are used for data gathering.

<img width="292" alt="Screen Shot 2022-08-02 at 8 56 24 PM" src="https://user-images.githubusercontent.com/7750

[2022-08-03 04:02] jeanette-pelizzon commented on #332
We should have @adamhstewart give his opnion here. In my opinion it is super confusing for users to have to input partial results and then have to <- back out of the encounter. They should be able to save the encounter and, if all results are not input yet, then it should remain open in case management. That way the user will see that there are still results pending for that patient.

On the techn

[2022-08-04 19:13] jeanette-pelizzon opened #389 "Feature: NCD"
## Feature Description
NCD stands for Non-communicable disease. This encounter type will allow nurses at the health center to help manage patients who have diseases such as diabetes, hypertension, or chronic kidney disease. We are creating the first version of the NCD encounter to manage hypertension and diabetes but setting the groundwork to eventually expand upon it.

An NCD visit is mostly gath

[2022-08-07 07:00] balagan73 commented on #331
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Currently the patient is diagnosed with Diabetes if urine dip glucose >=2, even if Blood glucose is not higher than 126 mg/dl. Is this OK?

Blood glucose|Warning
-|-
![image](https://user-images.githubusercontent.com/3536805/183279081-652323b4-a3cf-417d-9789-1de8eac2b2a8.png)|![image](https://user-image

[2022-08-07 07:28] balagan73 commented on #265
### QA Review

### Checked and approved:

1. Typo is fixed.
![image](https://user-images.githubusercontent.com/3536805/183280197-4ac6c344-811e-4ddf-bc98-5a8544d403eb.png)

[2022-08-07 08:04] balagan73 commented on #244
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Popup text is fixed.
![image](https://user-images.githubusercontent.com/3536805/183281313-e4b81a2d-dc7e-47e4-b5c5-9a70b18455b6.png)

2. Typo is fixed:
![image](https://user-images.githubusercontent.com/3536805/183281398-0d209180-5155-4a51-9109-f3f11e245933.png)

[2022-08-07 08:15] balagan73 commented on #308
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. New options display properly.

Long dip|Short dip
-|-
![image](https://user-images.githubusercontent.com/3536805/183281591-e9d2d741-9848-4275-b018-a9945b5ffb4a.png)|![image](https://user-images.githubusercontent.com/3536805/183281790-32014b31-991c-416e-9829-76841c38d847.png)

[2022-08-07 08:48] anvmn commented on #331
@balagan73

A change for 126 value is part of #382 which is not deployed yet.
It will be verified when #382 is tested.

[2022-08-07 09:22] balagan73 commented on #291
https://nutrition-ihangane.pantheonsite.io/

Precondition: EGA >= 28 weeks.

### QA Review

### Checked and approved:

1. Typos are fixed.

Possible depression|High possibility|Probable depression|Suicide risk
-|-|-|-
![image](https://user-images.githubusercontent.com/3536805/183284013-68dcaeba-4168-4286-a545-f76a41ac5ce4.png)|![image](https://user-images.githubusercontent.com/3536805/183284045-93

[2022-08-07 09:35] anvmn commented on #337
@balagan73 please test on Nutrition env

[2022-08-07 09:36] anvmn commented on #340
@balagan73 please test on Nutrition env

[2022-08-07 09:36] anvmn commented on #353
@balagan73 please test on Nutrition env

[2022-08-07 09:36] anvmn commented on #354
@balagan73 please test on Nutrition env

[2022-08-07 09:36] anvmn commented on #355
@balagan73 please test on Nutrition env

[2022-08-07 09:37] anvmn commented on #387
@balagan73 please test on Nutrition env

[2022-08-07 09:38] anvmn commented on #382
@balagan73 please test on Nutrition env

[2022-08-07 09:38] anvmn commented on #381
@balagan73 please test on Nutrition env

[2022-08-07 09:39] anvmn commented on #271
@balagan73 please test on Nutrition env

Note that family planning activity exists at group encounter (mothers activity) and Antenatal encounter.

[2022-08-07 09:40] anvmn commented on #242
@balagan73 please check that typos were fixed on Nutrition env

[2022-08-07 09:41] anvmn commented on #332
@balagan73 please check that typos were fixed on Nutrition env

[2022-08-07 09:41] anvmn commented on #256
@balagan73 please check that typos were fixed on Nutrition env

[2022-08-07 12:28] balagan73 commented on #337
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. severe right upper quadrant pain (examination - core exam)  is missing.

2. Any EGA + Headaches and blurred vision (with 130/70 BP)
No hospital referral under next steps.
![image](https://user-images.githubusercontent.com/3536805/183296497-8e1dcd21-b04d-4061-919a-b638db644091.png)

3. Logic says Diastol

[2022-08-07 20:56] anvmn commented on #377
@jeanette-pelizzon

On all usecases where we diagnose Diabetes, patient is referred to hospital.
We never prescribe any medicational treatment. Maybe this issue should be only about Hypertension
(or Hypertension + Preeclampsia, since we treat it as well)?

[2022-08-08 06:32] balagan73 commented on #353
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1.  When patients have >= 110 mmHg diastolic blood pressure OR >= 160 mmHg systolic BP and  edema (mild to moderate preeclampsia), they are diagnosed with preeclampsia, and also marked as high risk at the same time.

![image](https://user-images.githubusercontent.com/3536805/183292636-7a230fea-e9f4-438f-98

[2022-08-08 06:39] balagan73 commented on #340
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Patient was diagnosed with Chronic hypertension. Then at next encounter, wheezes and/or crackles was selected at examination core exam, BP was raised to 110/130. Patient was referred to hospital with hypertension before urine dip results. Diagnoses did not show hospital referral.

Blood pressure|Referra

[2022-08-08 07:44] balagan73 commented on #354
@jeanette-pelizzon Maybe this issue should be called ... Continued care instead of ... Next steps. Logic and their respective next steps were checked in https://github.com/TIP-Global-Health/eheza-app/issues/353

[2022-08-08 09:48] balagan73 commented on #355
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The question displays under Outside care subactivity.

![image](https://user-images.githubusercontent.com/3536805/183390254-98f6e551-3ddf-4b04-84c0-731ddb148b0b.png)

[2022-08-08 09:57] balagan73 commented on #387
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Typo in  Amlodipine dosage

![image](https://user-images.githubusercontent.com/3536805/183391237-0c248447-cf81-4a8d-932d-21a862d96e63.png)

2. Shouldn't the medication administered in outside care be noted on the report page? Currently it doesn't display.
![image](https://user-images.githubusercontent.c

[2022-08-08 11:50] balagan73 commented on #354
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. I think in the Logic sheet on line 110 systolic and diastolic is mixed up.
![image](https://user-images.githubusercontent.com/3536805/183410503-ccc1c0cb-5f0e-4859-87a1-f8c512e89822.png)

2. When patient at first encounter is diagnosed with Moderate preeclampsia, they are referred to hospital, and no med

[2022-08-08 12:55] balagan73 commented on #271
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Family planning displays under Patient record with previously selected family planning options.

![image](https://user-images.githubusercontent.com/3536805/183422628-e85b06aa-4b52-4b52-ab8b-7032a4132ef5.png)

[2022-08-08 13:32] balagan73 commented on #382
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Logic master document says, if Glucose in urine is >=2, blood sugar test should be run. Currently there is no indication to do this after short/long dip results. If not done previously, patient is referred to hospital.

### Checked and approved:

1. Unit is updated to mg/dL

![image](https://user-images

[2022-08-08 14:16] balagan73 commented on #381
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. CHW section displays on the progress report, all labels can be displayed.
![image](https://user-images.githubusercontent.com/3536805/183439109-4c354aa0-a6f5-44e0-beac-a0f85fbfa162.png)

[2022-08-08 17:08] jeanette-pelizzon commented on #377
So this was created before we decided to not pull in the outside care treatment plans. We do want to make sure people with diabetes are being referred to NCD services post-partum though. I agree with you and think we can do this specialty care flow for HIV and Hypertension/Preeclampsia. However, if someone was diagnosed with diabetes or gestational diabetes during their pregnancy then we need to e

[2022-08-08 18:11] anvmn commented on #377
@jeanette-pelizzon

No problem. Lets change issue description, and open a new issue for Diabetes Next Steps (if it was diagnosed during pregnancy).

[2022-08-08 18:29] jeanette-pelizzon opened #390 "Referrals - New Option added [6h]"
## Issue

Currently on the referral screens we ask a boolean question "Have your referred the patient to the hospital/ANC Services/ Mental Health Specialist/ ETC" If they answer no, a "Why not"" questions appears with various options. Wendy requested that we ADD the option "Not Indicated" to this list. This way we can track how many times we are suggesting to refer a patient elsewhere when we don'

[2022-08-09 18:22] jeanette-pelizzon opened #392 "Random Blood Sugar - Update to Fasting Question [4h]"
## Issue

The term "fasting" is not used in Rwanda so we need to rephrase the fasting question on the random blood sugar test to be more appropriate.

The team has decided to change this question to "Was this test performed before a meal"

This should be changed across all Random Blood Sugar tests in E-Heza.

## To Do
- Update the question across e-eheza

[2022-08-09 18:24] jeanette-pelizzon commented on #252
@anvmn it should show both correct?

[2022-08-09 18:38] anvmn commented on #252
@jeanette-pelizzon

No, see point 1 at https://github.com/TIP-Global-Health/eheza-app/issues/252#issuecomment-1167062913

[2022-08-10 07:05] anvmn commented on #364
@jeanette-pelizzon

Did we get needed info to complete this issue preparation?

[2022-08-10 07:13] balagan73 commented on #332
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Typos are fixed:
![image](https://user-images.githubusercontent.com/3536805/183838219-ea31c06b-20c8-433b-be00-9656cecb202c.png)

[2022-08-10 07:14] anvmn commented on #376
@jeanette-pelizzon

There're gaps at requirements here, because HIV diagnosed patient may not have a treatment plan.
For example, if patient was referred to HIV program, they might have got treatmet but we do not know what it is.
Another case is where patient is supposed to be prescribed with medicine, was not (for whatever reason), as we provide this option.

[2022-08-10 07:18] anvmn commented on #377
@jeanette-pelizzon

Similar to https://github.com/TIP-Global-Health/eheza-app/issues/376#issuecomment-1210258992, there may not be a treatment plan for patient.
There's an option where medicine is supposed to be prescribed, but was not (for whatever reason).
So, what do we then?

[2022-08-10 07:20] balagan73 commented on #242
https://nutrition-ihangane.pantheonsite.io/

###  QA Review

### Checked and approved:

1. Typos in medication names are fixed.
![image](https://user-images.githubusercontent.com/3536805/183839552-9644f890-008c-4e60-901b-d7dd92fb75f1.png)

[2022-08-10 07:38] balagan73 commented on #256
### QA Review

### Found issues and questions:

1. We are getting there, but the second part of the sentence should be also changed to "...the medication is increased..."

![image](https://user-images.githubusercontent.com/3536805/183843040-91cd88f9-a9f3-41e0-a8a2-596646a45444.png)

[2022-08-10 07:39] anvmn commented on #367
@jeanette-pelizzon

This issue is not assigned for a reason?

[2022-08-10 08:29] anvmn commented on #366
@jeanette-pelizzon

Warmth option does not exist at Breast Exam.

Design at Figma:

![Selection_1021](https://user-images.githubusercontent.com/17882245/183853655-c9b23ac6-335a-4d07-852a-0cc8ca683c54.png)

Actual:

![Selection_1020](https://user-images.githubusercontent.com/17882245/183853705-608465a2-525f-4b09-bdc5-6c6867c96b01.png)

So, should Breast exam stay the same?

[2022-08-10 15:32] jeanette-pelizzon commented on #376
I think as a work around we have "Given medication by PMTCT" as the treatment plan if they were given medication by PMTCT that wasn't one that we list in outside care.

In subs visit we ask in outside care if they were given two diff meds and they could answer that they were given none of those. Then in treatment review we ask about HIV medication again and if they were given medicine from PMTCT t

[2022-08-10 15:34] jeanette-pelizzon commented on #377
If there is a way for us to never give them medicine then we should have "no medication distributed" as the treatment plan here

[2022-08-10 15:38] jeanette-pelizzon commented on #366
Good catch, that must have been a quick change in a meeting. We need to update breast exam. Do you want me to add it and some hours to this issue or create a new one?

[2022-08-10 17:37] jeanette-pelizzon commented on #258
This issue exists [here](https://github.com/TIP-Global-Health/eheza-app/issues/342) and seems like it was already implemented. #342

Let me know if you meant something else.

[2022-08-10 18:04] jeanette-pelizzon commented on #377
https://github.com/TIP-Global-Health/eheza-app/issues/369 @anvmn

[2022-08-10 18:27] jeanette-pelizzon commented on #364
updated @anvmn

[2022-08-10 20:02] anvmn commented on #366
@jeanette-pelizzon

This can be part of current issue.
Question - should this be added only at Postpartum encounter, or for all types of encounters?

[2022-08-10 20:15] jeanette-pelizzon commented on #366
Only postpartum.

updated main issue to reflect adding warmth option to the breast exam

[2022-08-11 07:04] anvmn commented on #372
@jeanette-pelizzon

Don't understand the `OR yes to preinium question` part:

![Selection_1028](https://user-images.githubusercontent.com/17882245/184080431-a33cb9c1-328e-4d9c-b493-9cce9e7153e9.png)

This is the only question that fits the description:

![Selection_1029](https://user-images.githubusercontent.com/17882245/184080541-365044ad-067e-4f25-8f3f-267f1526ed38.png)

However, I don't see why

[2022-08-11 15:15] jeanette-pelizzon opened #395 "NCD - Encounter Type - Infrastructure [4h]"
## Issue
We are creating a new individual encounter type called NCD. We need to create the infrastructure to have this show up for all patients.

## To Do

- Create infrastructure for new encounter type

[2022-08-11 15:20] jeanette-pelizzon opened #396 "NCD - Encounter Infrastructure [4h]"
## Issue

The NCD module will have 6 main activities and then a next steps section that appears once all main activities are completed.

- Danger Signs
- Symptom Review
- Medical History
- Examination
- Labs
- Family Planning

Because of the Labs section, this encounter will also need to appear in case management.

## To Do:
- Build out the infrastructure for these activity types for the NCD encou

[2022-08-11 15:25] jeanette-pelizzon opened #397 "NCD - Danger Signs [8h]"
## Issues

Danger signs is the first activity in the NCD module. It is a checklist of symptoms and at this point in time there is no logic associated with these symptoms but that is likely to change in the future.

Activity Tray | Screen One
--|--
<img width="378" alt="Screen Shot 2022-08-11 at 8 21 32 AM" src="https://user-images.githubusercontent.com/77505464/184169600-ac6a36e1-8ec1-4f9f-8e21-a3

[2022-08-11 15:31] jeanette-pelizzon opened #398 "NCD - Symptom Review [18h]"
## Issue
Symptom review is the second activity in the NCD encounter. There are three sections of checkboxes and at this point in time there is no logic associated with these symptoms but this is likely to change in the future.

Activity Tray | Screen One
--|--
<img width="340" alt="Screen Shot 2022-08-11 at 8 28 28 AM" src="https://user-images.githubusercontent.com/77505464/184171090-8fdced31-7675

[2022-08-11 15:46] jeanette-pelizzon opened #399 "NCD - Medical History - Infrastructure [4h]"
## Issue

The medical history activity has 5 sub-activities.

 co-morbidities | medication history | social history | family history | outside care
--|--|--|--|--
<img width="99" alt="Screen Shot 2022-08-11 at 8 43 50 AM" src="https://user-images.githubusercontent.com/77505464/184174703-73df86c3-0f54-45e3-8be4-da0e42e0431d.png"> | <img width="87" alt="Screen Shot 2022-08-11 at 8 40 52 AM" src="htt

[2022-08-11 16:10] jeanette-pelizzon opened #400 "NCD- Medical History - Co-Morbidities [6h]"
## Issue

Co-Morbidities is the first sub-activity under medical history. This sub-activity is important as some non-communicable diseases will affect others and the medical staff needs to know if a patient has any of them.

In the current state, only hypertension, pregnancy related hypertension and diabetes will affect logic later on. However, this will likely change in the future.

<img width="2

[2022-08-11 16:13] jeanette-pelizzon opened #401 "NCD- Medical History - Medication History [6h]"
## Issue

Medical staff needs to know what medication a patient has previously taken or is currently taken. At this point in time, we are not doing anything with these answers but using this as data collection.

<img width="293" alt="Screen Shot 2022-08-11 at 9 13 15 AM" src="https://user-images.githubusercontent.com/77505464/184180264-429d454a-32ab-4a6d-8bae-74df4982a892.png">

## To Do:
- style

[2022-08-11 16:20] jeanette-pelizzon opened #402 "NCD - Medical History - Social History [8h]"
## Issue

Social history is important for the medical team to know as these factors can greatly affect a patient's health. I have made notes on the screenshots as to what questions are conditional. Hopefully, this helps clarify with fewer screenshots. There is not logic associated with these answers at this time but that may change in the future.

<img width="290" alt="Screen Shot 2022-08-11 at 9

[2022-08-11 16:24] jeanette-pelizzon opened #403 "NCD - Medical History - Family History [6.5h]"
## Issue

The medical team needs to know family history as it can affect the patient's health or make them pre-disposed to other conditions. At this time, we are not building out any logic associated with this screen but that will likely change in the future. You will see that I noted conditional questions on the screenshot.

<img width="252" alt="Screen Shot 2022-08-11 at 3 22 39 PM" src="https:/

[2022-08-11 16:30] jeanette-pelizzon opened #404 "NCD - Logic - Hypertension - Stage One [6h]"
## Issue

When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Hypertension is one of the major issues tackled by the NCD encounter. There are several stages of Hypertension. For the purposes of these issues, I have broken them int

[2022-08-11 16:48] jeanette-pelizzon opened #405 "NCD - Logic - Hypertension Stage One Complications [8h]"
## Issue

When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Hypertension is one of the major issues tackled by the NCD encounter. There are several stages of Hypertension. For the purposes of these issues, I have broken them int

[2022-08-11 16:54] jeanette-pelizzon opened #406 "NCD - Logic - Stage Two Hypertension [4.5h]"
## Issue

When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Hypertension is one of the major issues tackled by the NCD encounter. There are several stages of Hypertension. For the purposes of these issues, I have broken them int

[2022-08-11 16:57] jeanette-pelizzon opened #407 "NCD - Logic - Hypertension Stage Two with Complications [8h]"
## Issue
When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Hypertension is one of the major issues tackled by the NCD encounter. There are several stages of Hypertension. For the purposes of these issues, I have broken them into

[2022-08-11 17:01] jeanette-pelizzon opened #408 "NCD - Logic - Hypertension Stage Three [6h]"
## Issue

When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Hypertension is one of the major issues tackled by the NCD encounter. There are several stages of Hypertension. For the purposes of these issues, I have broken them int

[2022-08-11 17:05] jeanette-pelizzon opened #409 "NCD - Logic - Hypertension in Pregnancy [6h]"
## Issue
When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Hypertension is one of the major issues tackled by the NCD encounter. There are several stages of Hypertension. For the purposes of these issues, I have broken them into

[2022-08-11 17:24] jeanette-pelizzon opened #410 "NCD - Logic - Diabetes [6h]"
## Issue
When a patient comes into an NCD encounter, we know that they have been referred for an existing issue. In the NCD encounter, we determine how bad their diagnosis is and distribute medication to help alleviate the issue.

Diabetes is one of the major issues tackled by the NCD encounter. We will be prescribing medication for diabetic patients in next steps. The ultimate goal is to get a pa

[2022-08-11 17:32] jeanette-pelizzon opened #411 "NCD - Medical History - Outside Care [9h]"
## Issue

As in ANC, we are implementing an outside care sub-activity in the NCD encounter. At this time, the answers to these questions will not influence any logic but will be used for information gathering.

Main Sub Activity Screen
<img width="252" alt="Screen Shot 2022-08-15 at 10 02 28 AM" src="https://user-images.githubusercontent.com/77505464/184681278-d983ca99-2bd4-4db9-99c4-225b4387f819.

[2022-08-11 22:15] jeanette-pelizzon opened #412 "NCD - Medication Not Distributed - New Option [4h]"
## Issue
There was a request to add in the option "no medication prescribed today" as a reason as to why medication was not distributed.

<img width="492" alt="Screen Shot 2022-08-11 at 3 06 34 PM" src="https://user-images.githubusercontent.com/77505464/184250869-3f0e0e42-b5d5-4e9f-9afa-fc02716b00d2.png">

## To Do
- Add in option

[2022-08-14 07:51] anvmn commented on #390
@jeanette-pelizzon

Is this something that we need only for NCD,  or for ANC as well, or for all modules where we refere patients?

[2022-08-14 08:12] anvmn opened #413 "ANC - Multiple referral options [12h]"
At current state. we can refer to single facility, while there can be 3 different option:

- Hospital (or HC for CHW)
- Mental health specialist
- HIV program

We want to allow reffering to multiple facilities. Each option with it's follow up questions.

[2022-08-15 16:59] jeanette-pelizzon commented on #390
All modules where we refer patients @anvmn

[2022-08-15 17:04] anvmn commented on #390
@jeanette-pelizzon

No problem. If I understand the ussage of this correctly, I don't think that label fits.
Maybe something like 'Unnecessary referral' would decribe this better?

[2022-08-15 17:37] jeanette-pelizzon commented on #390
Let's keep the wording as "not indicated" as that's what the medical team asked for. This seems to be a common medical term. This was we can track on the back end when we are referring out and it is not called for and we can adjust the app in the future.

[2022-08-15 21:15] jeanette-pelizzon opened #415 "NCD - Examination- Infrastructure [6h]"
## Issue

Unlike other places that the Examination activity appears, in NCD this will only have two sub-activities -> Vitals and Core Exam. Results from the vitals section are used to diagnose hypertension so there is logic attached to those. There have been no changes to the vitals or core exam screens.

Main Screen | Vitals | Core Exam
--|--|--
<img width="342" alt="Screen Shot 2022-08-15 at 2 1

[2022-08-15 21:22] jeanette-pelizzon opened #416 "NCD - Labs - Infrastructure [8h]"
## Issue

We will have several labs activities in the NCD Module. SVG's can be found in Figma in the components file. These labs all require the lab orders (the labs activity in the encounter) AND the lab results screens in the appropriate place.

- Random Blood Sugar
<img width="119" alt="Screen Shot 2022-08-15 at 2 20 00 PM" src="https://user-images.githubusercontent.com/77505464/184720539-48067

[2022-08-15 21:23] jeanette-pelizzon opened #417 "NCD - Labs - Random Blood Sugar [6h]"
## Issue

NCD labs will include Random Blood Sugar tests. The results from this test will be used to diagnose diabetes.

**Lab Order**
<img width="295" alt="Screen Shot 2022-08-15 at 2 23 36 PM" src="https://user-images.githubusercontent.com/77505464/184721138-1cde0386-f2f7-490f-803d-4f90ea182cab.png">

**Lab Results**
<img width="216" alt="Screen Shot 2022-08-15 at 2 25 14 PM" src="https://user-i

[2022-08-15 21:29] jeanette-pelizzon opened #418 "NCD - Labs - Creatinine [6h]"
## Issue

NCD introduces a new type of lab called Creatinine. One lab is pulled but there are three results inputs (similar to urine dipstick). These results will eventually diagnose and help monitor chronic kidney disease. At this point in time, it helps us see if someone has hypertension with renal complications so there is logic associated with these results. See the [Logic Master](https://docs

[2022-08-15 21:51] jeanette-pelizzon opened #419 "NCD - Labs - Urine Dipstick [8h]"
## Issue

NCD labs will feature the usual Urine Dipstick lab. They will be able to choose if they run the short or the long dip when they order the lab and the results screen will show the appropriate inputs. There is logic associated with the glucose results in these lab results.

**Labs Order**
<img width="282" alt="Screen Shot 2022-08-15 at 2 46 21 PM" src="https://user-images.githubusercontent

[2022-08-15 22:06] jeanette-pelizzon opened #420 "NCD - Labs - Pregnancy [8h]"
## Issue

We need to test women of child bearing age for pregnancy in NCD as it creates other complications and will be handled by other services.

Notes:
- this test only populates for women of child bearing age as we have previously defined in the app
- only the first questions should populate - if answer is yes, record and move on. If answer is no, then the rest of the question will populate.

[2022-08-15 22:20] jeanette-pelizzon opened #421 "NCD - Labs - Liver Function [6h]"
## Issue

We are introducing liver function tests in the NCD encounter. At this point, we do not have any logic associated with these results but that may change in the future.

**Lab Order**
<img width="336" alt="Screen Shot 2022-08-15 at 3 08 06 PM" src="https://user-images.githubusercontent.com/77505464/184728404-861ec19d-f55b-49d9-9d53-1edb0017fe1b.png">

**Lab Results**
<img width="230" alt="

[2022-08-15 22:23] jeanette-pelizzon opened #422 "NCD - Family Planning [4h]"
## Issue

We are adding in the family planning activity for women of child bearing age in the NCD encounter. This is the same activity that appears elsewhere in E-heza and no changes have been made to it. There is no logic associated with this activity at this time.

<img width="366" alt="Screen Shot 2022-08-15 at 3 22 02 PM" src="https://user-images.githubusercontent.com/77505464/184729518-fa71c1

[2022-08-15 22:29] jeanette-pelizzon opened #423 "NCD - Next Steps - Infrastructure [6h]"
## Issue

Similar to the ANC module, in NCD we will have labs drawn, the patient will (theoretically) wait for their results to come back later that day and then have next steps associated with those labs then. We are bringing over the exact same flow from ANC with the exception of needing to re-do vitals. The vitals do NOT need to be rechecked in NCD.

Here is a rough overview of the flow:
Main e

[2022-08-15 22:57] jeanette-pelizzon commented on #372
1. updated the logic doc to make more sense since we changed the screen. They need to have tear = yes, healing normally = no --> infection. Any of those checkboxes under there would result in them being referred to hospital.

<img width="519" alt="Screen Shot 2022-08-15 at 3 52 00 PM" src="https://user-images.githubusercontent.com/77505464/184734120-028c46b4-7363-49fd-9f84-ae6d1440c55a.png">

[2022-08-15 23:01] jeanette-pelizzon opened #424 "ANC - Progress Report Wording [4h]"
## Issue

We need a way to show that a diagnosis was previously diagnosed but just input into E-heza at a later date.

For example, a syphilies lab was ordered on March 1 but we didn't get the result into e-heza until April 13 at the patients next visit. We will then have in the progress report "Syphilis previously diagnosed on XX/XX/XXX."

[2022-08-16 17:16] anvmn commented on #372
@jeanette-pelizzon

If I undestand ^^ properly, logics doc needs following update:

![Selection_1037](https://user-images.githubusercontent.com/17882245/184939597-09ac2e24-92ad-4402-bddb-f5f806215e1c.png)

[2022-08-17 03:22] jeanette-pelizzon commented on #377
@anvmn updated the designs for the specialty care review screens. Updated the main issue images to reflect the changes. Essentially, we just took away the diagnosis aspect but still will ask if they are following a plan and if they are already enrolled in program or not. Hope this simplifies things!

[2022-08-17 03:28] jeanette-pelizzon commented on #376
@anvm updated the screen designs for specialty care review. I updated the main issue to reflect the changes. The flow stays the same, screen design changes. Hopefull this simplifies things!

[2022-08-17 10:48] anvmn opened #426 "Elevated Web Transactions time during statistics genration may cuase HTTP 504 [4h]"
This moring, for several minutes I was getting HTTP 504 (timeout) when trying to log into live backend:

![Selection_1043](https://user-images.githubusercontent.com/17882245/185147158-ca1e4fdb-2391-4061-b8ca-2c3a427aaa4f.png)

Pantheon support suggested that this is probably caused by by slow transactions. From php-slow.log:

[code]
﻿
﻿Pantheon support  noted that these slow transactions pile up a

[2022-08-17 10:50] anvmn commented on #426
Analysing New Relic data, for large HCs, we have restful transactions that take up to 10 min to complete.

### Ruli HC:

![Selection_1042](https://user-images.githubusercontent.com/17882245/185100927-c6dfb14a-8ce6-43f7-845f-603ac871886e.png)

### Mareba HC:

![Selection_1039](https://user-images.githubusercontent.com/17882245/185100986-04cac24d-665d-4d2a-99d7-1540ebb3ed24.png)

[2022-08-17 10:59] anvmn commented on #426
Most obvious problem here is that statistics generation is supposed to be pure baclkend process, and certanly should not be triggered by Restful (which means that we have a device send a statistics request, and then hang for 10 min without a response).

Another issue is that there're some repeating transactions - seems that chaching for them is not applied:

![Selection_1038](https://user-images.g

[2022-08-17 13:30] anvmn commented on #376
@jeanette-pelizzon  @adamhstewart

Since there are 2 options for referrals, we'll have to make it multiple referral form, similar to what we're doing at https://github.com/TIP-Global-Health/eheza-app/pull/414.
This is complex develpment. We could save some time if we did not have the `Why not` part.

So, the question is whether or not that data is really needed.

[2022-08-17 15:24] jeanette-pelizzon commented on #376
@anvmn got an answer for this. We really just need to ensure they are enrolled in a program and if not refer them to the appropriate program. The treatment plan stuff is not important (at this time). Updated main issue and design.

[2022-08-17 15:25] jeanette-pelizzon commented on #377
@anvmn got an answer for this. We really just need to ensure they are enrolled in a program and if not refer them to the appropriate program. The treatment plan stuff is not important (at this time). Updated main issue and design.

[2022-08-18 07:49] anvmn commented on #376
@jeanette-pelizzon

We're talking here only of case where HIV dignosis was made during current pregnancy?
No need to send to ARV when patient is know to be positive, or got Discordant Partnership diagnosis?

[2022-08-18 09:02] anvmn commented on #377
@jeanette-pelizzon

Based on https://github.com/TIP-Global-Health/eheza-app/issues/370#issuecomment-1194938716, I'd expect this issue to be not only about Hypertension, but Preeclampsia and Eclampsia as well.
If you agree, please update the requirements.
Also, during pregnancy, patient may be diagnosed with alll 3 diagnoses (for example, encounter 1 -> Hypertension, 2 -> Preeclampsia, 3 -> Eclamps

[2022-08-18 10:09] anvmn commented on #368
@jeanette-pelizzon

When patient is diagnosed with HIV, we ask if there's HIV/PMTC program at HC:

![Selection_1045](https://user-images.githubusercontent.com/17882245/185369972-c35439ce-69e7-4917-96f3-1d18054abfff.png)

Then, at Next steps, we refer to Integration HIV/PMTC:

![Selection_1044](https://user-images.githubusercontent.com/17882245/185370171-1e84bf21-de9b-4d4f-b731-89d6975ffbea.png)

I

[2022-08-18 14:16] jeanette-pelizzon commented on #377
Sorry, we've changed this flow so much that I think some things got lost. It should be for any hypertension related diagnosis. Updated main issue.

Hypertension should just replace with whatever their diagnosis was.

[2022-08-18 14:18] jeanette-pelizzon commented on #368
We should have a common name. There was a large discussion around this ages ago and I believe we settled on ARV service as that's what we refer to it as in newer screens.

Let's go with ARV services.

[2022-08-18 19:38] jeanette-pelizzon commented on #376
Got an answer. Refer all -  known positive, new positive, discordant- to ARV services. // @anvmn

[2022-08-22 17:09] anvmn commented on #396
@jeanette-pelizzon

I think Family Planning activit is missing

[2022-08-22 17:33] jeanette-pelizzon commented on #396
Sorry, FP was added in at a later date. Updated issue above.

[2022-08-24 08:49] anvmn commented on #306
This issue requires redesign of architecture we got for data we store for the popup.
This will be implemented as part of Postpartum feature.
Selfassigning.

[2022-08-24 15:38] anvmn commented on #249
@Diama1 what's the status please?

[2022-08-24 15:50] anvmn commented on #127
@adamhstewart
Haven't heard of this problem for 6 months.  I think we can close this issue.

[2022-08-24 18:09] anvmn opened #437 "NCD - Activities Infrastructure [16h]"
There are 20 activities. For each we need to:

- Create CT on backend
- Expose with Restful
- Prepare infrastructure on client

[2022-08-24 23:26] jeanette-pelizzon opened #438 "NCD - Infrastructure - 2 Part Encounter"
## Issue

NCD is a 2-part encounter, similar to ANC. There will be labs drawn in the first part of the encounter and certain diagnoses will not be able to be given until lab results are back in.

NCD Encounter Activites -> next steps where anything can be diagnosed already is diagnosed -> patient waits for lab results -> lab results are put in via case mgmt -> next steps where any remaining diagno

[2022-08-25 09:15] balagan73 commented on #413
https://nutrition-ihangane.pantheonsite.io/app/

### QA Review

### Found issues and questions.

1. Doing postpartum encounter, patient has 185/120 blood pressure. This is not indicated in the Progress report, and no referral occurs for high blood pressure. It is not included in the postpartum part of the Logic Master excel sheet. Is this OK?

Vitals|Referral|Progress report
-|-|-
![image](https:/

[2022-08-25 11:26] balagan73 commented on #390
https://nutrition-ihangane.pantheonsite.io/app

### Checked and approved:

1. 'Not indicated' option is available if patient is not referred to hospital/specialist.

Postpartum|ANC ARV
-|-
![image](https://user-images.githubusercontent.com/3536805/186855909-e540024a-d72a-43b3-b4fa-396a9e9937e6.png)|![image](https://user-images.githubusercontent.com/3536805/186654951-79877d50-7b62-462f-bb78-9c5913d

[2022-08-25 12:12] balagan73 commented on #392
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The question is updated as requested.
![image](https://user-images.githubusercontent.com/3536805/186660933-336cac4b-0d93-4859-864e-63e003d3bd4b.png)

[2022-08-25 12:27] balagan73 commented on #377
### QA Review

### Checked and approved:

1. Specialty care is populated with the respective diagnoses, and the question about enrollment in NCD services displays.

![image](https://user-images.githubusercontent.com/3536805/187186045-9a4eaa6c-9aa4-436d-bfac-74415918ca3e.png)
![image](https://user-images.githubusercontent.com/3536805/187186097-4586d264-c782-4b7a-8fa4-18c83f008b98.png)
![image](http

[2022-08-26 08:18] balagan73 commented on #352
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. All the icons specified display during a postpartum encounter.
![image](https://user-images.githubusercontent.com/3536805/186856372-86989278-ce40-4f67-a6ef-96ce36a47b2b.png)

[2022-08-26 08:23] balagan73 commented on #376
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When patient was diagnosed with HIV during pregnancy, in the postpartum encounter the Specialty care icon displays and makes sure they are enrolled in ARV services.

![image](https://user-images.githubusercontent.com/3536805/186857142-fee6979b-edfe-4ba6-8bd7-b3a39cfbd6a0.png)

If the answer is NO under the Sp

[2022-08-26 08:25] balagan73 commented on #368
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Patient doesn't have HIV, only the partner has a positive test result, and we are referring the patient to ARV services, saying they have HIV. Is that OK?
![image](https://user-images.githubusercontent.com/3536805/187181619-e5135399-f48e-4956-a145-6e433234795c.png)

For this patient even partner was dia

[2022-08-26 08:28] balagan73 commented on #369
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. If patients are diagnosed with Gestational Diabetes or Diabetes, they are referred to NCD services.

Gestational Diabetes|Diabetes
-|-
![image](https://user-images.githubusercontent.com/3536805/186858608-4dff51b6-5f46-4a5a-a333-5b07c102944f.png)|![image](https://user-images.githubusercontent.com/3536805/18713

[2022-08-26 12:31] balagan73 commented on #378
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. In the issue description @anvm writes that Postpartum encounter is

~~however, Postpartum encounter is not available if patient was previously diagnosed as pregnant. Is this OK?~~
After correctly syncing, this is no longer an issue.

### Checked and approved:

1. For CHW the Postpartum activity is alway

[2022-08-26 12:38] balagan73 commented on #357
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Pregnancy outcome activity is available, screen looks like the design.

Screen|Outcome options
-|-
![image](https://user-images.githubusercontent.com/3536805/186904743-1ce8e8ef-6496-4244-b991-aa7b42088779.png)|![image](https://user-images.githubusercontent.com/3536805/186905028-6ecd82ea-6876-4af2-9bb3-56e3e8c

[2022-08-26 12:43] balagan73 commented on #358
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The new options display as requested with the modifiocatopms according the comment from @anvmn
![image](https://user-images.githubusercontent.com/3536805/186905834-d3e44d28-5bb9-4517-9290-b35b085541a1.png)

[2022-08-26 12:54] balagan73 commented on #362
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Screens look like in the design.

Yes answer|No answer
-|-
![image](https://user-images.githubusercontent.com/3536805/186907850-fb18b606-a698-4a2f-b4fd-c2069710c562.png)|![image](https://user-images.githubusercontent.com/3536805/186907867-6c8736e5-c883-4172-aa25-fb06ce3b4362.png)

[2022-08-26 13:00] balagan73 commented on #359
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Popup displays and shows the diagnoses as agreed.
![image](https://user-images.githubusercontent.com/3536805/186908987-f4ca3aad-9354-4d87-ade9-b7f9bc539241.png)

[2022-08-26 13:05] balagan73 commented on #374
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Treatment review screen looks like the design.
![image](https://user-images.githubusercontent.com/3536805/186910040-51323df0-fcfe-49b0-a3c3-e658a82de154.png)

[2022-08-26 13:16] anvmn opened #443 "Failure during statistics sync [2h]"
![Selection_1066](https://user-images.githubusercontent.com/17882245/186912035-649426cc-5c06-4368-aab4-40baf5fd26d3.png)

[2022-08-26 13:20] balagan73 commented on #375
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. No popup displays after answering No to the question, nor after filling out all other activities.

2. Should administering Vitamin A be displayed in the progress report?
![image](https://user-images.githubusercontent.com/3536805/186913403-8504c271-c00c-48dd-81eb-2c0832aa4d4c.png)

### Checked and approv

[2022-08-26 13:22] anvmn commented on #443
Problem is with HC that got no family planning measurements, and therefore stats generated for it is NULL.
When we return empty result, the response is not as expected:

![Selection_1065](https://user-images.githubusercontent.com/17882245/186912350-b200ee22-f589-4103-a7fa-47a294036c9a.png)

So, there're 2 things to fix:
1. Make sure proper empty result is returned.
2. When a component of statistic

[2022-08-26 19:50] anvmn commented on #443
@adamhstewart Fix for point 1 (#444) deployed to live.

[2022-08-28 14:05] anvmn commented on #420
@jeanette-pelizzon

Isn't pregnancy an RDT test, similar to HIV?

[2022-08-29 06:38] balagan73 commented on #373
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Screen for family planning displays correctly under Postpartum encounter.

![image](https://user-images.githubusercontent.com/3536805/187138590-74594837-6780-417e-83f2-a34f3d3c5981.png)

[2022-08-29 06:50] balagan73 commented on #363
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Typo. Even in the Logic sheet Engorgement is misspelled as 'Engorgment'

Warning|Health education|Progress report
-|-|-
![image](https://user-images.githubusercontent.com/3536805/187140351-4024a1cc-e8f8-4695-bc79-e427bee1bcb8.png)|![image](https://user-images.githubusercontent.com/3536805/187140487-caf8

[2022-08-29 07:14] balagan73 commented on #366
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. On the GU exam screen the Rectal hemorrhoids option is not displayed initially, but only later when any answer is selected for the perineal tear question. Why are we showing it conditionally, when it will always display anyway?
![image](https://user-images.githubusercontent.com/3536805/187144463-908ae1c

[2022-08-29 07:28] balagan73 commented on #364
### QA Review

### Found issues and questions:

1. Typo:
Penicillin is misspelled on the Medication distribution screen.

![image](https://user-images.githubusercontent.com/3536805/187146292-7fc824a9-d304-43cf-b72c-a5b58229b17a.png)

2. Only paracetamol is followed by the word 'or'. See the screenshot above. Do we really need that?

### Checked and approved:

1. If patients have ((Redness or pain)

[2022-08-29 07:36] balagan73 commented on #306
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The diagnosis on the warning popup display as bulleted list.

![image](https://user-images.githubusercontent.com/3536805/187148704-c22dcac0-6e15-45ae-a972-296b4e8ef073.png)

[2022-08-29 07:59] anvmn commented on #412
@jeanette-pelizzon Is this for NCD only, or globally?

[2022-08-29 08:07] balagan73 commented on #372
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Patient is not diagnosed with Infection, if Infection is selected under Examination -> Breast exam.
@jeanette-pelizzon: If the answer to https://github.com/TIP-Global-Health/eheza-app/issues/372#issuecomment-1216925234 is yes, it affects the Early Mastitis or Engorgement scenario as well. Currently sele

[2022-08-29 08:31] balagan73 commented on #367
### QA Review

### Checked and approved:

1. When Bleeding is selected under Examination -> GU exam, Excessive bleeding is diagnoses, and correct screens display.

Warning popup|Referral|Progress report
-|-|-
![image](https://user-images.githubusercontent.com/3536805/187158833-1d047687-468d-4e57-aa39-dcb1b504a296.png)|![image](https://user-images.githubusercontent.com/3536805/187158889-d160813b-b0

[2022-08-29 08:38] balagan73 commented on #360
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Maternal mental health screens are correct.

1|2|3|4|5
-|-|-|-|-
![image](https://user-images.githubusercontent.com/3536805/187161769-d48c5cda-ce00-41f5-ad3e-3d6d46993f00.png)|![image](https://user-images.githubusercontent.com/3536805/187161801-ca430ff6-393b-4781-9394-0d1212c88e8c.png)|![image](https://user-i

[2022-08-29 09:09] balagan73 commented on #361
https://nutrition-ihangane.pantheonsite.io/

 ### QA Review

### Checked and approved:

1. I confirm the Maternal mental health questions work as expected.

Depression Not Likely: 0-8 points
Depression Possible: 8-12 points
Fairly High Possibility of Depression: 13-14 points
Probable Depression: 14+ points
Suicide Risk - Any answer to suicidal question except 'Never'

[2022-08-29 10:54] balagan73 commented on #370
### QA Review

### Checked and approved:

1. Gestational hypertension|Chronic hypertension

Gestational|Chronic hypertension|Mild &Moderate preeclampsia|Severe preeclampsia|Eclampsia
-|-|-|-|-
![image](https://user-images.githubusercontent.com/3536805/186664047-d58695d5-1bb8-4a9f-9435-41939fa94f6e.png)|![image](https://user-images.githubusercontent.com/3536805/187176091-0cb4c97e-f171-4e25-9d0b-701

[2022-08-29 15:49] adamhstewart commented on #378
@balagan73  I'm not sure I understand this comment:

Record pregnancy outcome is available when patient was diagnosed previously as pregnant.

Under what condition is postpartum not available (and by that do you mean "grayed out")?

[2022-08-29 15:51] adamhstewart commented on #371
@balagan73 I oodn't see a QA report here, was it combined with another issue?

[2022-08-29 15:56] adamhstewart commented on #363
@Diama1 assigning to you to correct the spelling mistake of "engorgement" identified above.

@jeanette-pelizzon can you also (a) correct on the logic sheet; (b) confirm we should be able to have multiple options in the second point of @balagan73 's review above?

[2022-08-29 15:58] adamhstewart commented on #366
@jeanette-pelizzon is there supposed to be conditional logic on the perineal tear question?

[2022-08-29 16:00] adamhstewart commented on #364
@Diama1 Please correct the two points (spelling and extraneous "or") identified above.

[2022-08-29 16:07] adamhstewart commented on #368
@balagan73 I'm guessing here that this is a result of a different HIV diagnoses during teh preganancy.

@anvmn can you confirm?

[2022-08-29 16:07] balagan73 commented on #378
@adamhstewart I think this was caused by some syncing problem, due to me not waiting patiently until it finished by itself. Will test it again.

[2022-08-29 16:11] balagan73 commented on #371
@adamhstewart I might have assigned it to you accidentally. Will QA this.

[2022-08-29 16:16] adamhstewart commented on #256
@Diama1 see points above ^^

[2022-08-29 18:04] anvmn commented on #363
@adamhstewart @jeanette-pelizzon
For the context, so far, when asking `why not`, there was only single option allowed.

[2022-08-30 00:02] jeanette-pelizzon opened #448 "[META] NCD - Progress Report"
## Issue
As it is a new encounter type, we also need to create a progress report for NCD patients. I put together a quick [video here](https://www.loom.com/share/e7d067216a014d9699fda52cfde6d24e) to walkthrough the various sections and what needs to be in them.

**Progress Report**
![NCD Progress Report](https://user-images.githubusercontent.com/77505464/190278610-ceaa7062-8d76-407e-a813-27b2bf00e

[2022-08-30 07:57] balagan73 commented on #378
@adamhstewart  I have updated the previous report. Postpartum option is not greyed out when syncing is done correctly.

[2022-08-30 08:09] balagan73 commented on #371
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. When Urinary incontinence is selected under Symptom preview, patient is referred to hospital.

Warning|Hospital referral|Progress report
-|-|-
![image](https://user-images.githubusercontent.com/3536805/187384314-86a2d99e-cc1a-4d22-84fc-acc5c4b3e7c3.png)|![image](https://user-images.githubusercontent.com/35368

[2022-09-01 09:05] Diama1 opened #449 "ANC - Change Blood Pressure Vitals Cut-Off"
## Note: replacing  [Gizra/ihangane#2977](https://github.com/Gizra/ihangane/issues/2977)
## Issue
On Blood Pressure Vitals Logic, Systolic normal values is 100-140 and Distolic normal values is 60-90. We are modifying in the App.

## To Do

- Modify the Cut-off to the normal values

[2022-09-06 21:51] jeanette-pelizzon opened #455 "NCD - Labs - HIV [4h]"
## Issue
We will be running an HIV RDT in the NCD encounter. This HIV lab will be exactly like the HIV RDT flow that we run in ANC. Quick video [here.](https://www.loom.com/share/eb514489750749c99ccdde4375d5b371)

## To Do:
- Build out HIV lab sub-activity

[2022-09-08 18:08] jeanette-pelizzon commented on #418
@anvmn changes had to be made to the lab results input screen for creatinine. Urea + Nirtogen results are a combo result called BUN. Updated in figma.

<img width="256" alt="Screen Shot 2022-09-08 at 10 59 23 AM" src="https://user-images.githubusercontent.com/77505464/189194463-5e489def-dafd-4e7c-b21b-ccafc0eff300.png">

[2022-09-12 14:54] Diama1 opened #460 "ANC Postpartum - Translation for the feature"
## Issue
Adding translations for ANC Postpartum feature

## Tasks
- List texts that need translations for the team to add translations
- Add translations in the app

[2022-09-13 19:58] jeanette-pelizzon opened #461 "Feature - NCDA"
## Issue

We have been asked by the National Child Development Agency (NCDA) to help them collect specific data associated with their child scorecard.

We already collect a lot of this data throughout the E-Heza app, however, there are some data points that we do not currently collect. We have added in a "Questionnaire" activity to FBF group and individual encounters, as well as the Standard Pedia

[2022-09-13 20:42] jeanette-pelizzon opened #462 "NCDA - Standard Pediatric Visit [7h]"
## Issue

We are adding in an activity to the Standard Pediatric Visit called "Questionnaire." This activity has 14 yes/no boolean questions. The answers will be mapped to the NCDA child scorecard. It will be the last activity before next steps in the SPV encounter.

The Questionnaire activity will use the history icon.
<img width="375" alt="Screen Shot 2022-09-13 at 1 21 18 PM" src="https://user-

[2022-09-13 22:22] jeanette-pelizzon opened #463 "NCDA - Individual Nutrition Encounter [7h]"
## Issue

We are adding in an activity to the Nutrition Encounter at the Healthcenter (FBF) called "Questionnaire." This activity will appear in both the individual and group encounter. This issue specifically deals with the individual encounter.

The Questionnaire activity has 14 yes/no boolean questions. The answers will be mapped to the NCDA child scorecard. It will be the last activity a nurse

[2022-09-13 22:46] jeanette-pelizzon opened #464 "NCDA - Group Nutrition Encounter [7h]"
## Issue

We are adding in an activity to the Nutrition Encounter at the Healthcenter (FBF) called "Questionnaire." This activity will appear in both the individual and group encounter. This issue specifically deals with the group encoutner.

The Questionnaire activity has 14 yes/no boolean questions. The answers will be mapped to the NCDA child scorecard. It will be the last activity a nurse comp

[2022-09-14 07:34] anvmn commented on #448
@jeanette-pelizzon

Please break down this META issue into detailed issues for each pane.
Since we have mutiple identical encounters, Risk factors and Medical diagnosis panes need to
reflect it, by adding dates.
Also, the charts will have to define the number of ecounters we want to present.
Do we make it 7 for BP and 13 for Glucose, as charts show now?

[2022-09-14 22:33] jeanette-pelizzon opened #466 "NCD - Progress Report - Patient Information [2h]"
## Issue
The patient information pane will be the same as it is on acute illness progress reports.

It should include:

- patient photo
- LAST NAME First Name
- Age:
- Date of Birth:
- Gender
- Village
<img width="777" alt="Screen Shot 2022-09-14 at 3 32 54 PM" src="https://user-images.githubusercontent.com/77505464/190274631-4562d192-03ce-4195-869e-e8d42c21db17.png">

## To Do:
- Style pane on th

[2022-09-14 22:40] jeanette-pelizzon opened #467 "NCD - Progress Report - Risk Factors [2h]"
## Issue

The risk factors pane will list the following, all of which pull from questions asked in the encounter:

- smokes cigarettes
- adds salt to diet
- family history of hypertension
- family history of heart problems
- family history of diabetes

This was the list that I was given to include. Anything not on this list we can assume should not be included.
See meta issue for full progress rep

[2022-09-14 22:57] jeanette-pelizzon opened #468 "NCD - Progress Report - Acute Illness [2h]"
## Issue

The acute illness pane on the progress report should be exactly like the acute illness progress report. It should have any current acute illnesses and then the option to view past acute illnesses.

<img width="561" alt="Screen Shot 2022-09-14 at 3 56 33 PM" src="https://user-images.githubusercontent.com/77505464/190277277-d1de5b66-d346-480d-85aa-765030642539.png">

## To Do:
- pull over

[2022-09-14 23:01] jeanette-pelizzon opened #469 "NCD - Progress Report - Medical Diagnosis [6h]"
## Issue

The medical diagnosis pane will populate with answers from the co-morbidities sub-acitvity. If they check yes to one of those it should map to the medical diagnosis pane.

Then it will also list the diagnosis from this visit - any hypertension or diabetes diagnosis that we confirm during this encounter and what medication we gave out to treat it.

You can view t[his loom](https://www.loo

[2022-09-14 23:09] jeanette-pelizzon opened #470 "NCD - Progress Report - Patient Progress [6h]"
## Issue

The patient progress section of the progress report contains 2 graphs - blood pressure and blood glucose

**Blood Pressure**
Blood pressure is taken at each visit and should be mapped on a graph. Systolic and Diastolic should be separate dots on the graph. Style the graph per the image below. The y axis of the graph should start at 60 and move up in increments of 20. The x axis of the gr

[2022-09-14 23:09] jeanette-pelizzon commented on #470
QUESTION: can a nurse go into the back end and see dates further in the past than that?

[2022-09-14 23:13] jeanette-pelizzon opened #471 "NCD - Progress Report - Labs [6h]"
## Issue

The NCD progress report will have a labs section. The workflow of the design will be the exact same as ANC - the only change is in what tests are appearing on the report. The two new tests we have added are Liver Function and Creatinine. I have included a screenshot of what their screens should look like below.

**Lab Results** | **Liver Function** | **Creatinine**
--|--|--
![Lab Result

[2022-09-15 15:52] jeanette-pelizzon commented on #463
Note: updated image in main issue, wording was changed. Please double check with Adam or Jeanette for final wording on the "meal frequency" question as this is still outstanding with the team.

[2022-09-15 15:53] jeanette-pelizzon commented on #464
Note: updated image in main issue, wording was changed. Please double check with Adam or Jeanette for final wording on the "meal frequency" question as this is still outstanding with the team.

[2022-09-15 15:55] jeanette-pelizzon commented on #462
Note: updated image in main issue, wording was changed. Please double check with Adam or Jeanette for final wording on the "meal frequency" question as this is still outstanding with the team.

[2022-09-15 17:11] anvmn commented on #368
@adamhstewart

This needs looking into.

[2022-09-18 00:37] adamhstewart commented on #340
@anvmn In addition to checking the points above:  the places where we indicate "Gestational Hypertension", we should instead use "Pregnancy-Induced Hypertension"

The reason is that Gestational hypertension is a "bucket" - which includes pregnancy-induced hypertension, preeclampsia, and eclampsia.

[2022-09-18 00:42] adamhstewart commented on #224
@Diama1 are these translations complete?

[2022-09-18 00:46] adamhstewart commented on #384
@Diama1 Looks like the associated PR here needs some changes, can you finish those off for release?

[2022-09-18 00:56] adamhstewart commented on #413
@adamhstewart please check @balagan73 's points and if OK move to acceptance.

[2022-09-18 00:56] adamhstewart commented on #375
@adamhstewart please check @balagan73 's points and if OK move to acceptance.

[2022-09-18 01:01] adamhstewart commented on #337
@anvmn please check the points above

[2022-09-18 01:02] adamhstewart commented on #353
@anvmn please check the single point above.

[2022-09-18 01:03] adamhstewart commented on #354
@anvmn please check

[2022-09-18 01:06] adamhstewart commented on #387
@anvmn please fix typo and and check question about medication.

[2022-09-18 01:08] adamhstewart commented on #268
@anvmn please check above issues.

[2022-09-18 01:11] adamhstewart commented on #252
@anvmn please check found issues above (except the case management screen).

[2022-09-18 08:01] anvmn commented on #353
@adamhstewart

Before we had ANC logic, we had requirements for alerts at Medical and Obstetrical panes.
These alerts are for data collected at first encounter only.

Original requirements for the panes were implemented ~ 3 years ago (see, https://github.com/Gizra/ihangane/issues/1182, https://github.com/Gizra/ihangane/issues/1183). Then we were required to add more logic that included the `High R

[2022-09-18 08:23] anvmn commented on #413
@adamhstewart

Yes, it's ok, because at Postpartum we do not diagnose any type of Hypertension.

It's per requirements:

![Selection_1096](https://user-images.githubusercontent.com/17882245/190892834-48418a29-490c-47e0-a858-5273d6f16e94.png)

Point 3 and 4 are typos, fixed at #475.

[2022-09-18 09:17] anvmn commented on #375
@adamhstewart

Fixed at #475.

I'm no the one who defines the requirements, but as far as current requirements state, this is not needed.

[2022-09-18 09:54] anvmn commented on #337
@adamhstewart

It has different wording at the APP:

![Selection_1097](https://user-images.githubusercontent.com/17882245/190896326-2fde04a9-c53a-42c4-b6cb-f6b599b36d56.png)

No hospital referral under next steps.

Fixed at #475.

The alerts follow the rules defined at Vitals tab of Logics master file:

![Selection_1098](https://user-images.githubusercontent.com/17882245/190896407-31994ef5-511e-43

[2022-09-18 10:10] anvmn commented on #252
@adamhstewart

Fixed at #475 - added 'to be taken' at appropriate places for all treatments we display.

[2022-09-18 11:21] Diama1 commented on #224
This one is done

[2022-09-18 12:50] Diama1 commented on #384
Sure, I have finished them I am waiting for review

[2022-09-18 13:04] anvmn commented on #354
@adamhstewart

Correct, logic file is fixed already.

When patient enters 110 diastolic BP, they are not referred to hospital.

We don't tale outside care medication into account.
However, we do need to start treatment (as if there was none before) and when BP conditions indicate hospitalization, this should be suggested.

I made a fix for this at #475. It should be thoroughly testsed.

[2022-09-18 19:18] anvmn commented on #368
@adamhstewart

What needs to happen is that if patient is dignosed with Discordant Partnership, the header at next steps should say so. Fixed at #475.

[2022-09-19 07:11] anvmn commented on #268
@adamhstewart

Fixed at #475.

For Candidiasis, we have 2 options for same medication:

![Selection_1105](https://user-images.githubusercontent.com/17882245/190968140-5e896ce8-8a48-4700-983c-659ee91be820.png)

This is why we state which one is given - 200mg at screenshot.

Fixed at #475.

Blood sugar ranges were changed - 126/200. Please retest.

To determine Diabetes diagnosis, Random blood gluco

[2022-09-19 10:40] anvmn commented on #340
@adamhstewart

This is correct behavior, per Hypertension (Continued Care):
![Selection_1106](https://user-images.githubusercontent.com/17882245/190970382-86304cc4-be54-485b-974f-0ca03b02ba4e.png)

Seems to me that sending to hospital is correct decision here, because even if Preeclapsia was diagnosed, patient would have been referred to hospital anyway.
BTW, Nurses now have option to ommit sendin

[2022-09-20 09:31] anvmn commented on #424
@jeanette-pelizzon

I made text a little bit more detailed - `[Diagnosis] diagnosed on XX/XX/XXXX as a result of entering lab results from past encounter.`

//cc @balagan73

[2022-09-20 11:42] anvmn commented on #133
@adamhstewart This can be closed.

[2022-09-20 12:29] anvmn commented on #418
@jeanette-pelizzon ^^ requires separate issue, since this issue was implemented and merged.
I opened #477.

[2022-09-20 13:50] balagan73 commented on #368
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Typo on the HIV laboratory page.
![image](https://user-images.githubusercontent.com/3536805/191433633-899fadad-5a81-42e2-b3ca-ea0105edc38a.png)

2. Discordant partnership is not diagnosed when partner hes suppressed viral load. Diagnosis definition in the logic master document doesn't mention this. Is t

[2022-09-20 15:52] balagan73 commented on #424
https://nutrition-ihangane.pantheonsite.io/app

### QA Review

### Checked and approved:

1. Text on the progress report is shown as @anvmn suggested.
![image](https://user-images.githubusercontent.com/3536805/191305777-dc23efde-7433-429c-a5d4-2782d0d26943.png)

[2022-09-20 17:49] anvmn opened #477 "NCD - Labs - Creatinine test - replace Urea + Nirtogen with BUN [2h]"
Changes had to be made to the lab results input screen for creatinine. Urea + Nirtogen results are a combo result called BUN. Updated in figma.

<img width="256" alt="Screen Shot 2022-09-08 at 10 59 23 AM" src="https://user-images.githubusercontent.com/77505464/189194463-5e489def-dafd-4e7c-b21b-ccafc0eff300.png">

[2022-09-20 18:58] adamhstewart opened #478 "ANC Progress Report - Medical/Obstetric Diagnosis Formatting [2h]"
## Issues
<img width="1242" alt="Screen Shot 2022-09-20 at 1 48 34 PM" src="https://user-images.githubusercontent.com/688507/191340638-4dd26a51-63b6-4305-908b-f7410c84f5bd.png">
Patient = Dukuze Soline - Rukura Health Center (Nutrition environment)

1. Formatting should be consistent with the smaller font and the dash list separator (also review spacing so it looks like one list)
2. Diagnoses shou

[2022-09-20 19:01] adamhstewart opened #479 "Pathway from First to Second Phase of ANC encounter [2h]"
## Issue
- If an encounter is finished (no vitals recheck or test results), at the end of the first phase the nurse should be presented with the progress report and the button to close the encounter
- If there are vitals recheck or tests, progress report is not shown at the end of the first phase, but will be shown later in the second phase only after all required activities are completed.

## Tas

[2022-09-21 07:22] balagan73 commented on #340
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Patient with EGA < 20 weeks is diagnosed with Chronic hypertension (111/130 BP). At next encounter with 110/160 BP and with wheezes the patient is correctly referred to hospital. When urine dipstick results show protein, the diagnosis is correctly Severe preeclampsia. However, pregnancy induced hyperten

[2022-09-21 13:28] anvmn commented on #478
@adamhstewart

For the context, what we have on the bottom of Medical and Obstetrical panes are not diagnoses.
These are alerts, that we developed for initial ANC, which was only for CHW.
Never got an answer on what to do with them when nurse views the report, so they remained there.
This was mentioned at https://github.com/TIP-Global-Health/eheza-app/issues/353#issuecomment-1250215829 already, an

[2022-09-21 13:30] adamhstewart commented on #340
Pregnancy induced hypertension which is converted to a more severe condition (preeclampsia, eclampsia) during the course of a single encounter after both phases of work, should be replaced rather than added on. That is only "pre-eclampsia" should appear in this case.

Yes, but waiting for @jeanette-pelizzon 's return on that.

Should follow whatever capitalization convention we use throughout.

No

[2022-09-21 13:32] adamhstewart commented on #478
Some of these alerts are duplicated of proper diagnoses.

I see, yes they should be hidden then.

Sure - as long as there is consistency.

[2022-09-21 18:45] anvmn opened #483 "Upgrade core to Drupal v7.92 [0.5h]"
https://www.drupal.org/project/drupal/releases/7.92

[2022-09-21 22:55] adamhstewart opened #485 "Change Popup Calendar button to "save" [1h]"
## Issue
Text on the button on the popup calendar should read "Save" rather than "close" as "close" seems like a dismissal.

![FireShot Capture 026 - E-Heza System - demo-ihangane pantheonsite io](https://user-images.githubusercontent.com/688507/191624278-8c53b7e9-cd48-481a-aa4d-b1453344940d.png)

## Task
- Change the text

[2022-09-22 06:09] balagan73 commented on #413
https://nutrition-ihangane.pantheonsite.io/app

### QA Review

### Checked and approved:

1. Typo on HIV panel is fixed.
![image](https://user-images.githubusercontent.com/3536805/191670430-70242cf8-94b7-464b-9965-d7762eb6c61e.png)

2. Typo on gonorrhea medication distribution panel is fixed.
![image](https://user-images.githubusercontent.com/3536805/191671079-3f12f1e3-dfa4-4b0a-bb00-8f4ab608d3fe.

[2022-09-22 12:33] adamhstewart opened #486 "Improve installation instructions/process [3h]"
## Issue

The installation instructions could use a little fine tuning and abstraction for cross platform (non-linux) use. Also, it seems that the frontend installation might be broken.

- The instructions should geared toward a developer that is interested in a quick setup via either Gitpod or local DDEV
- Any infrastructure related information, deployment information specific to a particular ins

[2022-09-22 12:53] AronNovak commented on #486
@adamhstewart Would you spend time with GitPod? It just got removed from the Starter Kit: https://github.com/Gizra/drupal-starter/pull/298

[2022-09-22 13:18] adamhstewart commented on #486
@AronNovak I think there's some benefit here, but is it a significant burden to maintain?

[2022-09-22 13:19] adamhstewart commented on #486
@AronNovak during post-start I get this error on MacOS:

[code]

[2022-09-23 07:03] AronNovak commented on #486
@adamhstewart Got it, let's try to keep GitPod then.

[2022-09-23 07:11] AronNovak commented on #486
![image](https://user-images.githubusercontent.com/114076/191908707-9faccdb5-8c49-4f89-b64f-e3e6fd6b89b8.png)
GitPod is broken at the moment

[2022-09-26 14:52] balagan73 commented on #387
### QA Review

### Checked and approved:

1. Typo is fixed:
![image](https://user-images.githubusercontent.com/3536805/192308044-746545e3-9b73-48bb-ab52-c9ae3ef3c99c.png)

2. Medication is displayed on the Progress report.
![image](https://user-images.githubusercontent.com/3536805/192309289-88094047-0761-4c9c-9d39-6bc6a998a7f9.png)

[2022-09-26 15:13] balagan73 commented on #337
https://nutrition-ihangane.pantheonsite.io/app

### QA Review

### Found issues and questions:

1. Is the different wording in the app is OK?

  severe right upper quadrant pain  <-> Tender to palpation right upper

2. Shouldn't the Blood pressure data on the Vitals tab and on the ANC Nurse tab be in sync? I think if we alert at 91 diastolic BP, we should diagnose at the same bp or vice versa.

##

[2022-09-26 15:25] balagan73 commented on #375
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Popup displays after answering No to the Vitamin A question.

![image](https://user-images.githubusercontent.com/3536805/192317002-3bdb3882-9b4a-412a-8706-5f145f73140f.png)

[2022-09-26 16:04] balagan73 commented on #354
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. At second encounter patient is referred to hospital with 110 diastolic bp.
![image](https://user-images.githubusercontent.com/3536805/192325447-b5966862-ff03-41ce-b645-eb64607a4e0d.png)

[2022-09-26 16:08] balagan73 commented on #252
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Wording on the Anemia medication is grammatically correct.
![image](https://user-images.githubusercontent.com/3536805/192326610-03fe3198-a469-4ba0-9cd1-1dbd96ffdb5b.png)

[2022-09-27 07:56] balagan73 commented on #268
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Patient has malaria with severe anemia, is referred to the hospital, but report doesn't indicate referral. Actually this is how it is prescribed in the Logic master document, so I guess not mentioning hospital referral here is OK.

Referral|Progress report
-|-
![image](https://user-images.githubusercont

[2022-09-30 07:32] #352 closed, assigned to nobody

[2022-09-30 07:32] #378 closed, assigned to adamhstewart

[2022-09-30 07:32] #227 closed, assigned to nobody

[2022-09-30 07:32] #229 closed

[2022-09-30 07:32] #153 closed, assigned to nobody

[2022-09-30 07:33] #72 closed, assigned to nobody

[2022-09-30 07:33] #485 closed, assigned to anvmn

[2022-09-30 07:34] #413 closed, assigned to adamhstewart

[2022-09-30 07:34] #375 closed, assigned to adamhstewart

[2022-09-30 07:35] #252 closed, assigned to adamhstewart

[2022-09-30 07:35] #354 closed, assigned to adamhstewart

[2022-09-30 07:35] #387 closed, assigned to adamhstewart

[2022-09-30 07:36] #368 closed, assigned to adamhstewart

[2022-09-30 07:37] #483 closed, assigned to anvmn

[2022-09-30 07:37] #424 closed, assigned to adamhstewart

[2022-09-30 07:37] #384 closed, assigned to Diama1

[2022-09-30 07:37] #385 closed, assigned to Diama1

[2022-09-30 07:38] #460 closed, assigned to Diama1

[2022-09-30 07:38] #449 closed, assigned to Diama1

[2022-09-30 07:38] #364 closed, assigned to nobody

[2022-09-30 07:38] #363 closed, assigned to nobody

[2022-09-30 07:38] #256 closed, assigned to nobody

[2022-09-30 07:39] #249 closed, assigned to Diama1

[2022-09-30 07:39] #443 closed, assigned to anvmn

[2022-09-30 07:39] #325 closed, assigned to Diama1

[2022-09-30 07:39] #369 closed, assigned to nobody

[2022-09-30 07:39] #370 closed, assigned to nobody

[2022-09-30 07:39] #392 closed, assigned to nobody

[2022-09-30 07:40] #377 closed, assigned to nobody

[2022-09-30 07:40] #376 closed, assigned to nobody

[2022-09-30 07:40] #367 closed, assigned to nobody

[2022-09-30 07:40] #372 closed, assigned to nobody

[2022-09-30 07:40] #426 closed, assigned to anvmn

[2022-09-30 07:40] #390 closed, assigned to nobody

[2022-09-30 07:41] #366 closed, assigned to jeanette-pelizzon

[2022-09-30 07:41] #362 closed, assigned to nobody

[2022-09-30 07:41] #374 closed, assigned to nobody

[2022-09-30 07:41] #358 closed, assigned to nobody

[2022-09-30 07:41] #359 closed, assigned to nobody

[2022-09-30 07:42] #355 closed, assigned to nobody

[2022-09-30 07:42] #382 closed, assigned to adamhstewart

[2022-09-30 07:42] #271 closed, assigned to adamhstewart

[2022-09-30 07:42] #381 closed, assigned to adamhstewart

[2022-09-30 07:42] #242 closed, assigned to adamhstewart

[2022-09-30 07:42] #332 closed, assigned to nobody

[2022-09-30 07:43] #346 closed, assigned to nobody

[2022-09-30 07:43] #342 closed, assigned to nobody

[2022-09-30 07:45] #331 closed, assigned to nobody

[2022-09-30 07:45] #321 closed, assigned to nobody

[2022-09-30 07:45] #322 closed, assigned to nobody

[2022-09-30 07:45] #154 closed, assigned to nobody

[2022-09-30 07:45] #267 closed, assigned to nobody

[2022-09-30 07:45] #259 closed, assigned to nobody

[2022-09-30 07:45] #265 closed, assigned to nobody

[2022-09-30 07:45] #317 closed, assigned to nobody

[2022-09-30 07:46] #309 closed, assigned to nobody

[2022-09-30 07:46] #257 closed

[2022-09-30 07:46] #279 closed, assigned to nobody

[2022-09-30 07:46] #237 closed, assigned to nobody

[2022-09-30 07:46] #232 closed, assigned to nobody

[2022-09-30 07:46] #230 closed, assigned to nobody

[2022-09-30 07:46] #231 closed, assigned to nobody

[2022-09-30 07:47] #240 closed, assigned to nobody

[2022-09-30 07:47] #258 closed, assigned to nobody

[2022-09-30 07:47] #305 closed

[2022-09-30 07:47] #308 closed, assigned to adamhstewart

[2022-09-30 07:47] #244 closed, assigned to nobody

[2022-09-30 07:47] #269 closed

[2022-09-30 07:48] #261 closed

[2022-09-30 07:48] #291 closed, assigned to nobody

[2022-09-30 07:48] #289 closed, assigned to nobody

[2022-09-30 07:48] #290 closed

[2022-09-30 07:48] #264 closed

[2022-09-30 07:48] #284 closed, assigned to nobody

[2022-09-30 07:48] #270 closed, assigned to adamhstewart

[2022-09-30 07:48] #260 closed

[2022-09-30 07:49] #263 closed

[2022-09-30 07:49] #266 closed

[2022-09-30 07:49] #196 closed

[2022-09-30 07:50] #224 closed, assigned to Diama1

[2022-09-30 07:50] #273 closed, assigned to nobody

[2022-09-30 07:50] #253 closed

[2022-09-30 07:50] #247 closed

[2022-09-30 07:50] #248 closed

[2022-09-30 07:50] #250 closed

[2022-09-30 07:50] #251 closed

[2022-09-30 07:50] #239 closed, assigned to nobody

[2022-09-30 07:51] #233 closed, assigned to nobody

[2022-09-30 07:51] #234 closed, assigned to nobody

[2022-09-30 07:51] #235 closed, assigned to nobody

[2022-09-30 07:51] #236 closed, assigned to nobody

[2022-09-30 07:51] #241 closed, assigned to nobody

[2022-09-30 07:51] #243 closed, assigned to nobody

[2022-09-30 07:51] #246 closed, assigned to nobody

[2022-09-30 07:51] #200 closed, assigned to nobody

[2022-09-30 07:52] #199 closed, assigned to nobody

[2022-09-30 07:52] #201 closed, assigned to nobody

[2022-09-30 07:52] #222 closed

[2022-09-30 07:52] #255 closed, assigned to nobody

[2022-09-30 07:52] #206 closed

[2022-09-30 07:52] #123 closed

[2022-09-30 07:52] #124 closed

[2022-09-30 07:52] #203 closed, assigned to nobody

[2022-09-30 07:52] #210 closed

[2022-09-30 07:52] #221 closed

[2022-09-30 07:53] #216 closed, assigned to anvmn

[2022-09-30 07:53] #189 closed

[2022-09-30 07:53] #159 closed

[2022-09-30 07:54] #182 closed, assigned to nobody

[2022-09-30 07:54] #139 closed, assigned to anvmn, jeanette-pelizzon

[2022-09-30 07:54] #186 closed, assigned to nobody

[2022-09-30 07:54] #140 closed, assigned to nobody

[2022-09-30 07:54] #91 closed, assigned to nobody

[2022-09-30 07:55] #165 closed, assigned to nobody

[2022-09-30 07:55] #156 closed

[2022-09-30 07:55] #161 closed, assigned to nobody

[2022-09-30 07:55] #160 closed, assigned to nobody

[2022-09-30 07:55] #113 closed

[2022-09-30 07:56] #127 closed, assigned to anvmn

[2022-09-30 07:56] #117 closed, assigned to nobody

[2022-09-30 07:56] #13 closed, assigned to nobody

[2022-09-30 07:56] #76 closed, assigned to nobody

[2022-09-30 07:56] #97 closed, assigned to nobody

[2022-09-30 07:56] #118 closed, assigned to nobody

[2022-09-30 07:56] #105 closed, assigned to nobody

[2022-09-30 07:57] #98 closed

[2022-09-30 07:57] #88 closed, assigned to nobody

[2022-09-30 07:57] #89 closed, assigned to nobody

[2022-09-30 07:57] #92 closed, assigned to nobody

[2022-09-30 07:57] #93 closed, assigned to nobody

[2022-09-30 07:57] #94 closed, assigned to nobody

[2022-09-30 07:57] #77 closed, assigned to nobody

[2022-09-30 07:57] #110 closed, assigned to nobody

[2022-09-30 07:57] #141 closed, assigned to nobody

[2022-09-30 07:58] #138 closed, assigned to nobody

[2022-09-30 07:58] #137 closed, assigned to nobody

[2022-09-30 07:58] #168 closed, assigned to anvmn

[2022-09-30 07:58] #155 closed

[2022-09-30 07:58] #142 closed

[2022-09-30 07:58] #143 closed

[2022-09-30 07:58] #144 closed

[2022-09-30 07:58] #146 closed

[2022-09-30 07:59] #148 closed

[2022-09-30 07:59] #149 closed

[2022-09-30 07:59] #150 closed

[2022-09-30 08:00] #82 closed, assigned to nobody

[2022-09-30 08:00] #65 closed, assigned to nobody

[2022-09-30 08:00] #75 closed, assigned to nobody

[2022-09-30 08:00] #73 closed, assigned to nobody

[2022-09-30 08:00] #74 closed, assigned to nobody

[2022-09-30 08:00] #83 closed, assigned to nobody

[2022-09-30 08:00] #84 closed, assigned to nobody

[2022-09-30 08:13] #338 closed, assigned to nobody

[2022-09-30 08:13] #357 closed, assigned to nobody

[2022-09-30 08:13] #226 closed, assigned to nobody

[2022-09-30 08:13] #361 closed, assigned to nobody

[2022-09-30 08:13] #360 closed, assigned to nobody

[2022-09-30 08:13] #371 closed, assigned to nobody

[2022-09-30 08:13] #373 closed, assigned to nobody

[2022-09-30 08:13] #306 closed, assigned to nobody

[2022-09-30 08:14] #351 closed, assigned to jeanette-pelizzon

[2022-09-30 08:14] #323 closed, assigned to jeanette-pelizzon

[2022-09-30 08:15] #50 closed, assigned to nobody

[2022-09-30 08:15] #71 closed, assigned to adamhstewart, jeanette-pelizzon

[2022-09-30 08:16] #122 closed, assigned to anvmn, jeanette-pelizzon

[2022-09-30 08:27] #340 closed, assigned to anvmn

[2022-09-30 14:38] balagan73 commented on #398
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Questions display as on the design. (Display error is only on screenshot).
![image](https://user-images.githubusercontent.com/3536805/193294259-54777e76-26d8-4a84-933d-6eab5e0633ec.png)

[2022-09-30 15:09] balagan73 commented on #437
@anvmn Where do I find the list of Activities/CTs?

[2022-09-30 15:12] balagan73 commented on #396
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The 6 activities exist under NCD encounter.

![image](https://user-images.githubusercontent.com/3536805/193301118-79d65604-766d-4406-8552-ef1950a5478c.png)

[2022-09-30 15:25] balagan73 commented on #395
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Question:

1. This encounter shows up under Clinical -> Individual encounter, but not from the Patient record. Is it OK?

Individual encounter|Patient record
-|-
![image](https://user-images.githubusercontent.com/3536805/193303659-df49f01e-23aa-4d7c-b242-a78994ab77cf.png)|![image](https://user-images.githubusercontent.com/3536805/1933

[2022-09-30 15:32] balagan73 commented on #397
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Screen displays with the same options as on the design.
![image](https://user-images.githubusercontent.com/3536805/193305077-4f1db6a2-8134-4734-9b2a-d9b1462f3e50.png)

[2022-09-30 15:36] balagan73 commented on #422
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. UI displays with the same options as on the design.

![image](https://user-images.githubusercontent.com/3536805/193305966-05da9479-ebd9-4303-a206-bcff6ac0cd94.png)

[2022-09-30 15:43] balagan73 commented on #415
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues:

1. Typo in Pale conjunctiva
![image](https://user-images.githubusercontent.com/3536805/193307266-41c80ad5-4af4-430f-8390-5478bc269a2e.png)

### Checked and approved:

1. Except the above mentioned typo the panels display with the same options as on the design.

Vitals
![image](https://user-images.githubusercontent.com/3

[2022-09-30 15:47] balagan73 commented on #400
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Panel is styled per design.

![image](https://user-images.githubusercontent.com/3536805/193308117-c00ed9f2-d2e3-4da3-a77b-200490b8f4e5.png)

[2022-09-30 15:53] balagan73 commented on #403
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Panel looks as on the design, conditionals show if yes is selected.

At start|Selecting yes
-|-
![image](https://user-images.githubusercontent.com/3536805/193308653-9f5b7186-659d-491d-802c-af5853e02762.png)|![image](https://user-images.githubusercontent.com/3536805/193309037-7eedcbd3-fb7c-4c58-a1cb-4d7ed6faa6

[2022-09-30 15:58] balagan73 commented on #416
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The choices under Laboratory are the same as listed here.
![image](https://user-images.githubusercontent.com/3536805/193310074-0819fb27-67f1-4864-8c70-4c7f16cc91d9.png)

[2022-09-30 20:56] AronNovak commented on #486
@adamhstewart @isapisa

What about extending the scope a bit?
I don't have access to a Mac and ScaleWay.com has a lengthy personal verification before I can order one in the cloud.

But just spotted:
https://circleci.com/docs/using-macos - CircleCI could continuously keep an eye on if we are compatible with Mac or not.
But it would require to double the TB, as it's a new territory for me.

[2022-10-01 15:29] adamhstewart commented on #486
@AronNovak we can expand the time box for this ^^

[2022-10-02 09:34] anvmn commented on #353
@adamhstewart

As we discussed, those alerts will be shown only for CHW.
Is this solution sufficient to close this issue?

[2022-10-03 06:57] balagan73 commented on #477
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Creatinine Lab results are updated with BUN result.
![image](https://user-images.githubusercontent.com/3536805/193517795-e5632f11-ad37-4ae1-81ea-9c34eea3dcab.png)

[2022-10-03 07:02] balagan73 commented on #471
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. On the Lab results page there is no Liver function test name, but ALT and ALS. Is this OK?
![image](https://user-images.githubusercontent.com/3536805/193533650-b596fc62-4781-417b-bc0e-396dcf183de4.png)

2. On the Lab results page there is an ALS entry, but when I click on it, it displays AST test histor

[2022-10-03 07:12] balagan73 commented on #467
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Risk factors display the items requested.
![image](https://user-images.githubusercontent.com/3536805/193519998-ea4442de-7bda-4f5c-a90f-1df4d0d143e8.png)

[2022-10-03 07:14] balagan73 commented on #421
### QA Review

### Checked and approved:

1. Liver function tests are available under Laboratory
![image](https://user-images.githubusercontent.com/3536805/193520468-78090f26-99ea-490a-9780-ce137f5202fe.png)

[2022-10-03 07:24] balagan73 commented on #402
https://nutrition-ihangane.pantheonsite.io/

### QA Results

### Found issues and questions:

1. Page is made according to the design, but when I fill out the form, I am uncertain what the units of measurements are.
In the case of alcohol how many bottles? Liters? In the case of cigarettes I suppose it is cigarettes and not packs, otherwise it would be indicated like that. I am not a professional,

[2022-10-03 07:27] balagan73 commented on #399
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. The five sub-activities exists under Medical history.

![image](https://user-images.githubusercontent.com/3536805/193522480-b35b001a-dd9b-4577-a48a-3ffca52afba0.png)

[2022-10-03 07:33] balagan73 commented on #401
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. The second and third question is wrong.
![image](https://user-images.githubusercontent.com/3536805/193523521-7583d885-59f7-4499-903f-f8fc176d54a7.png)

### Checked and approved:

1. Except from the second and third question the displayed options are correct.

[2022-10-03 07:47] balagan73 commented on #411
### QA Review

### Found issues and questions:

1. There is a typo in the dosage of amplodipine:
![image](https://user-images.githubusercontent.com/3536805/193525859-49349d00-1bc5-492f-b5cc-b1106252b977.png)

### Checked and approved:

1. The conditional display of options works as designed, and the Were you given medicine question only displays if one of the 5 diagnoses concerned is selected.

![

[2022-10-03 07:56] balagan73 commented on #420
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. The Register a new participant under NCD encounter is not working.
![image](https://user-images.githubusercontent.com/3536805/193557817-ab2eaf5b-1d4f-4e7f-bf65-2f538157f47e.png)

### Checked and approved:

1. Questions regarding pregnancy are populated per the conditions.

Test performed|Not performed
-

[2022-10-03 08:04] balagan73 commented on #455
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. Questions are populated per the flow displayed in the video.

Test not performed|Positive|Negative
-|-|-
![image](https://user-images.githubusercontent.com/3536805/193529081-ef3ffebe-5035-494b-b074-5f0fa7ff7e42.png)|![image](https://user-images.githubusercontent.com/3536805/193529146-c09f2d5c-0954-4bf8-972f-f

[2022-10-03 08:25] balagan73 commented on #405
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. When patient has Renal complications, the wording of the Methyldopa medication is missing the '1 tablet' part. Is this a problem?
![image](https://user-images.githubusercontent.com/3536805/193532160-1a4f56f7-692d-4f59-9735-76f2632724c7.png)

2. The 'Have you administered the medication to the patient?'

[2022-10-03 08:48] balagan73 commented on #419
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Grammar. I think either the 'a' or the plural 's' should be dropped.
![image](https://user-images.githubusercontent.com/3536805/193535599-ac856bcc-da45-4cd4-b6ff-4ab6f7540220.png)

2. The results of the NCD encounter are displayed in the Antenatal progress report. Is this OK? I can find the hypertension

[2022-10-03 08:57] balagan73 commented on #404
### QA Review

### Found issues and questions:

1. Typo, council should be counsel.
![image](https://user-images.githubusercontent.com/3536805/193538785-e2b65ac1-b3e5-403d-b17a-675ff1e26c80.png)

2. Diagnosis is not indicated on the progress report.
![image](https://user-images.githubusercontent.com/3536805/193574731-da3c3a7f-be28-4ac1-81ed-e8a5cb5c4dd6.png)

3. Typo in dosage, it should be 12.5 m

[2022-10-03 09:03] balagan73 commented on #418
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. BUN result is available.
![image](https://user-images.githubusercontent.com/3536805/193529794-6c6bf24a-1b67-4ffc-aa05-73a392574f83.png)

[2022-10-03 09:24] balagan73 commented on #410
### QA Review

### Found issues and questions:

1. Patient has a urine dip glucose level 2, diagnosed to have Diabetes or has Diabetes co-morbidities, but is not referred to hospital. In case of urine dip glucose level diagnosis the tiagnosis doesn't display on progress report.

Diagnoses, with no referral.|Progress report
-|-
![image](https://user-images.githubusercontent.com/3536805/193544010-3f

[2022-10-03 09:45] anvmn commented on #437
@balagan73 This issue is infrastructure for activities that will be tested at dedicated issues.
It's enough to verify thoses issues.
This one does not require QA.

[2022-10-03 10:01] anvmn commented on #410
@balagan73
The problem is only the missing entry at progress report?

[2022-10-03 10:36] anvmn commented on #412
@jeanette-pelizzon

This sounds strange to me.
Nurse is asked if she prescribed medication (today), answeres no, and when asked why not, says because  "no medication prescribed today".

[2022-10-03 10:51] balagan73 commented on #417
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Patient was fasting, blood level of 127, diagnoses displays correctly but not indicated on progress report. Same when patient was not fasting.
![image](https://user-images.githubusercontent.com/3536805/193559937-fc124aa9-77ae-4256-a2fa-30ed413d70d9.png)

2. On progress report Normal range is 74-110, but

[2022-10-03 11:11] anvmn commented on #464
@jeanette-pelizzon
Can you please send the link to Figma, where I can see the questions form?

[2022-10-03 12:33] anvmn commented on #410
@balagan73
Looks like next steps are not completed.
This is the reason you can't complete the encounter.

[2022-10-03 12:41] balagan73 commented on #410
@anvmn The next steps were completed and saved, but did not disappear.
In my previous comment the problem was also the missing referral. I will just merge my two comments into one, as I have planned.

[2022-10-03 13:13] balagan73 commented on #409
### QA Review

### Found issues and questions:

1. Patient has positive pregnancy test, has hypertension with 140/90 BP, but no pregnancy is displayed on the diagnosis.

Pregnancy|Diagnosis
-|-
![image](https://user-images.githubusercontent.com/3536805/193584687-7c033b06-6052-40f9-a225-3386c81aa35b.png)|![image](https://user-images.githubusercontent.com/3536805/193584735-eeecb07e-2ac8-4168-9a94-da

[2022-10-03 13:20] balagan73 commented on #438
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Checked and approved:

1. I have finished the QA of many issues where lab results were entered in case managements. No problem was encountered with the 2 part encounter infrastructure.

[2022-10-03 13:26] balagan73 commented on #469
### QA Review

### Checked and approved:

1. Selecting the co-morbidities display their counterpart under progress report.

Co-morbiditites|Progress report
-|-
![image](https://user-images.githubusercontent.com/3536805/193589213-943a00eb-ef62-4169-a6d0-9de727d9a44f.png)|![image](https://user-images.githubusercontent.com/3536805/193589107-f9007a08-41fe-4446-8374-03b069fb054e.png)

[2022-10-03 13:37] balagan73 commented on #406
### QA Review

### Found issues and questions:
1. The Progress report is empty.
![image](https://user-images.githubusercontent.com/3536805/193591716-d5e3e256-905f-4029-a508-49519f82f210.png)

2. It is possible to select more than 2 medications. Is this a problem?
![image](https://user-images.githubusercontent.com/3536805/193591813-8ec5f32a-d392-4050-9c0f-99a1343eee9b.png)

### Checked and approved

[2022-10-03 13:49] balagan73 commented on #407
### QA Review

### Found issues and questions:

1. When urine dip-stick has +1 protein or Creatinine is above 1.4, the patient is referred to hospital, but no diagnosis and medication distribution occurs.

BP|Protein|Next steps
-|-|-
![image](https://user-images.githubusercontent.com/3536805/193593947-b6cf688d-c6c5-44c2-b385-e94113dc4377.png)|![image](https://user-images.githubusercontent.com/3536

[2022-10-03 14:13] balagan73 commented on #408
https://nutrition-ihangane.pantheonsite.io/

### QA Review

### Found issues and questions:

1. Progress report is empty.
![image](https://user-images.githubusercontent.com/3536805/193599359-271af2de-fa6f-4775-981e-c083bc11ea26.png)

### Checked and approved:

1. Diagnosis and Referral to hospital displays correctly.

Medical distribution|Referral
-|-
![image](https://user-images.githubusercontent

[2022-10-03 14:15] balagan73 commented on #466
### QA Review

### Checked and approved:

1. Patient information on the progress report contains correct information and is styled correctly.
![image](https://user-images.githubusercontent.com/3536805/193599767-d6ac4821-07e4-4a08-b79f-948198f4b94a.png)

[2022-10-03 14:16] balagan73 commented on #423
### QA Review

### Checked and approved:

1. After finishing the QA for almost all the NCD issues, I haven't encountered any problems with the Next steps infrastructure, it works correctly.

[2022-10-03 16:41] jeanette-pelizzon commented on #412
- just for NCD
- the option was requested by the team or wendy (i can't remember who) so we should include it.

// @anvmn

[2022-10-03 16:49] jeanette-pelizzon commented on #464
[Link is here](https://www.figma.com/file/bP3qdRVzCW6bUrmjS0hIco/Nutrition-%40-HC?node-id=2%3A3). Sorry! (updated)

[2022-10-03 18:51] jeanette-pelizzon commented on #412
@anvmn update from wendy - we no longer need to do this. I will close this issue.

[2022-10-03 18:51] #412 closed, assigned to anvmn

[2022-10-04 19:17] jeanette-pelizzon opened #495 "NCDA - Change to Question [6h]"
## Issue

NOTE: This issue will affect all "questionnaire" activity and subacitivity screens across all encounter types where it appears.

We were given feedback that the question that is currently "Meal Frequency?" needs to change depending on the age of the child.

It should change to :
- From 0 - 6 months -> question does not need to appear
- From 6 up to 9 months ->  Feed your young child comp

[2022-10-04 19:19] jeanette-pelizzon opened #496 "NCDA - Logic [6h]"
## Issue

The NCDA questionnaire activities/subactivities only need to appear for children 1 day old to 24 months (2 years) old. We do not collect data after a child is 24 months.

## Issue
- Create logic for questionnaire activity/subactivity

[2022-10-10 07:05] Diama1 opened #497 "NCD - Translations for the Feature"
## Issue
Adding translations for NCD feature

## Tasks
- List texts that need translations for the team to add translations
- Add translations in the app

[2022-10-11 22:45] jeanette-pelizzon opened #498 "NCD - Typos Medication History"
## Issue

What is appearing in the nutrition environment is different than what is in the design.

Nutrition | Design
--|--
<img width="515" alt="Screen Shot 2022-10-11 at 3 45 06 PM" src="https://user-images.githubusercontent.com/77505464/195212144-945cfba2-dca1-420c-9d2b-52c62a29fc2c.png"> | ![Medical History 22](https://user-images.githubusercontent.com/77505464/195212041-800674dd-08f5-487b-9fd

[2022-10-11 22:52] jeanette-pelizzon opened #499 "NCD - Design Descrepency [2h]"
## Issue

NCD Labs

Name/title of the Lab should be in Nunito - Bold - 24px and the questions are in Nunito - Semi-Bold - 24px. Right now it looks like the name/title of the lab is smaller than the questions.

[2022-10-11 23:45] jeanette-pelizzon opened #500 "NCDA - Food Groups Question [6h]"
## Issue

We are adding a help box for one of the questions on the NCDA questionnaire to ensure that nurses are properly documenting the answer.

**Add the little question mark as shown here.** The red box is only there to show where the question is and is not a part of the design:
![Group Encounter Activity](https://user-images.githubusercontent.com/77505464/195218045-2e0576f3-3a4f-4d9b-99d4-7812

[2022-10-12 06:40] anvmn commented on #498
@jeanette-pelizzon I think this was one of the findings made when testing NCD.
Putting this issue on hold, till I can confirm this.

//cc @adamhstewart

[2022-10-12 15:19] adamhstewart commented on #471
@anvmn please check points 1 and 2

[2022-10-12 15:25] jeanette-pelizzon opened #505 "NCD - Design Discrepency - Physical Exam [4h]"
## Issue

What is appearing in the Nutrition Environment is different than appears in design. We need the Physical exam activity to be accurate in order to pull in the information we need to diagnose.

This is what appears in the nutrition environment:
<img width="498" alt="Screen Shot 2022-10-12 at 8 20 22 AM" src="https://user-images.githubusercontent.com/77505464/195383670-9d7d659e-e396-4ad8-a0

[2022-10-12 16:02] anvmn commented on #505
@jeanette-pelizzon

I suppose that that patient of yours is child?
If so, please note that per requirements, we do not take BP till age of 12 years.

[2022-10-12 17:49] jeanette-pelizzon commented on #505
Sorry, was rushing. I'll double check that we don't need NCD to do younger than 12 but ignore this for now.

[2022-10-12 19:15] anvmn commented on #500
@jeanette-pelizzon

Can we get this as an SVG icon?

[2022-10-12 20:28] jeanette-pelizzon commented on #415
@Diama1 can you please update the typo that was found during QA - thank you!

[2022-10-12 20:29] Diama1 commented on #415
Sure!

[2022-10-12 20:32] jeanette-pelizzon commented on #411
Amlodipine is spelled correctly. Moving to acceptance.

[2022-10-12 20:35] jeanette-pelizzon commented on #419
1. Change to " Patient has diabetes with Urine Dip glucose levels of # "
2. Progress report heading should read NCD Progress report
3. Only the dipstick that was selected should appear with answers. This is the same as ANC so it should mimic whatever happens in the progress report there.

@Diama1 can you please update these - thank you!

@anvmn tagging your for the lab results issue so we can make

[2022-10-12 20:42] jeanette-pelizzon commented on #410
1. Patient with diabetes is only referred to the hospital if they have diabetes + hypertension. I am seeing where the confusion is coming from on the MAster Logic doc because there was an error in the progress report wording. I have updated that just now. It seems that E-Heza is behaving correctly in distributing medicine and not referring to the hospital.

We need to update the progress report wo

[2022-10-12 20:49] jeanette-pelizzon commented on #420
@anvmn Seems like something is weird with adding a new participant. Moving this back to To Do for QA followup

[2022-10-12 21:03] jeanette-pelizzon commented on #417
1. unsure why its not appearing on the progress report
2. this is accurate - the normal ranges are 74 -110 and the patient had 126 which is well above the normal range and therefore abnormal and an issue.
3. @Diama1 can you confirm if this wording is okay in a medical situation please?
4. I believe that the normal range encompasses both.

@anvmn

[2022-10-12 21:07] jeanette-pelizzon commented on #409
1. patient should have hypertension with pregnancy per[ logic doc](https://docs.google.com/spreadsheets/d/1awAwPTMxRMhb2CSP3ocJvbOJravIaoPb2Q-RERe9KQ8/edit#gid=211600820)
2. Change "a ANC" to "an ANC"  @Diama1
3. Progress report being empty is a known issue appearing in several of the QA's @anvmn

[2022-10-12 21:09] jeanette-pelizzon commented on #408
Progress report being empty is a known issue so going to move this to acceptance as it is being addressed elsewhere

[2022-10-12 21:19] jeanette-pelizzon commented on #402
I think this is okay as it was the wording provided by the clinical team. We have the indicator of time (week) so I would assume that means how many individual drinks per week and how many individual cigarettes. (if I am remembering correctly you can buy just individual cigarettes there)

I will follow up with them though and ask. Thanks for pointing out.

[2022-10-12 21:23] jeanette-pelizzon commented on #404
1. fix typo in council -> counsel @Diama1
2. progress report is a known issue
3. fix typo in dosage outline in point 3 above @Diama1
4. This is correct. Once diagnosed with hypertension a patient is never cured they can just get it down to stage one and maintain it with medication.

[2022-10-12 21:25] jeanette-pelizzon commented on #406
1. progress report is a known issue
2. @anvmn and @adamhstewart  I'll let you decide here. If we want to limit them to selecting two I think it would be helpful to avoid mistakes but unsure what the lift to make that happen would be.

[2022-10-12 21:27] jeanette-pelizzon commented on #407
1. diagnosis should be happening. can you please investigate @anvmn
2. Also very weird instance @anvmn

[2022-10-12 21:30] jeanette-pelizzon commented on #405
1. update methyldopa per design @Diama1
2. have you administered to the patient question should appear per design @Diama1
3. progress report not populating is a known issue
4. Seems like this patient should have stage 1 with diabetes - needs the proper next steps to appear and proper diagnosis to appear on progress report @anvmn

[2022-10-12 21:39] jeanette-pelizzon commented on #500
Sent via slack. Let me know if you need it a different way.

[2022-10-13 09:04] anvmn commented on #406
@jeanette-pelizzon @adamhstewart

Technically speaking, we either allow multiselect or single select.
We have this behavior at several other places I believe, and the responsibility for proper selection is on nurses.

[2022-10-13 18:07] jeanette-pelizzon commented on #417
3. The team thinks that the results should be "diabetes with before a meal glucose levels (fasting) ....." and "Diabetes with after meal glucose (non-fasting) levels of...."

[2022-10-17 17:00] adamhstewart commented on #498
@jeanette-pelizzon are these issues covered in other QA followups?

[2022-10-17 17:02] adamhstewart commented on #505
@jeanette-pelizzon have you double checked - can we close this one?

[2022-10-17 17:03] adamhstewart commented on #401
@anvmn please check the questions vs the design.

[2022-10-17 17:13] adamhstewart commented on #417
@jeanette-pelizzon regarding:

point 3: I don't think we can go with that wording as it is grammatically incorrect in English. Could we propose: `Diabetes, observed levels before a meal (fasting)` and `Diabetes, observed levels after a meal (non-fasting)`

point 4: Is that definitive?

[2022-10-17 17:19] adamhstewart commented on #409
@anvmn ^^

[2022-10-17 17:20] adamhstewart commented on #404
@Diama1 please fix points 1 and 3

[2022-10-17 17:37] adamhstewart commented on #405
@anvmn assigning all aspect to you because of point 4.

[2022-10-18 06:07] anvmn commented on #498
@adamhstewart see https://github.com/TIP-Global-Health/eheza-app/issues/401#issuecomment-1265048138

[2022-10-18 07:49] anvmn commented on #471
@adamhstewart

The thing here is that one test got 2 measurements.
We have 2 approaches for this:
1. Urine dipstick test (that got multiple measurements) consist of extra level.
2. Blood group that consist of 2 measurements - blood grooup and rhesus.

Since we have only 2 measurement at Liver function test, I selected second option.
We switch to the alternative - will require ~2h.

Correct. Fixed

[2022-10-18 10:06] anvmn commented on #405
@adamhstewart @jeanette-pelizzon

Methyldopa recommended treatement dosage helper is the same one we use at Prenatal.
There we have:

![Selection_1168](https://user-images.githubusercontent.com/17882245/196399154-0dd68182-5f0b-4b26-83cf-9dd9d0837ac5.png)

I don't see why we need to say `1 tablet` at NCD and not say it at `Prenatal`.
So, we need a common presentation, since it's exactly same medica

[2022-10-18 10:21] anvmn commented on #409
@adamhstewart @jeanette-pelizzon

Header text on Ediucation form comes to show why we provide education.
It's same education, no matter if patient is pregnant or not.
However, when distributing medication, there's different medication set for pregnant patients,
and therefore, we do say that patient is pregnant.

Fixed at [02f82a4](https://github.com/TIP-Global-Health/eheza-app/pull/508/commits/02f

[2022-10-18 11:06] anvmn commented on #499
@jeanette-pelizzon

This is how it looks with title and question at 24px:

![Selection_1172](https://user-images.githubusercontent.com/17882245/196413236-12c4aa17-ab80-45c3-a114-4f750b090c61.png)

I believe that we better have title at 24px and question at 22px:

![Selection_1173](https://user-images.githubusercontent.com/17882245/196413224-4a3dbe8e-2fe4-4c08-b244-a9ae163e12d2.png)

Tell me if you

[2022-10-18 12:26] anvmn commented on #410
@adamhstewart

Fixed at [06d7934](https://github.com/TIP-Global-Health/eheza-app/pull/508/commits/06d7934c0cb2e807ceb88d7c56c5c9c9bdee05ce)

[2022-10-18 19:09] jeanette-pelizzon commented on #499
Mine looked different. I should have grabbed a screenshot because the title was much smaller but it seems you have set up correctly. Will things look different in nutrition environment if I have to do inspector -> tablet view?

[2022-10-18 19:25] jeanette-pelizzon commented on #405
1. Methyldopa - @anvmn we are trying to clean up the medication wording across the entire app as we move forward. The convention that I have given the team more recently is "Name of Medicine (XX mg): take X tablet by mouth X times a day for X many days." Tablet can be switched out with other form i.e: drops, sachet, etc. We haven't been able to go back through all medication distro's in the app to